#fleet .wrapper_1544 .slider_wr,
#fleet_partners .wrapper_1544 .slider_wr {
  width: 90%;
  margin: 0 auto;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item {
  cursor: pointer;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item:hover p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item:hover p,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item:hover p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item:hover p {
  color: #00a8ec;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr {
  height: 123px;
  position: relative;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item .img_wr img,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item .img_wr img,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr img,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item p,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item p {
  margin: 15px 0 0;
  text-align: center;
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: #7b7b7b;
}
.slider_fleet .slick-center p {
  color: #00a8ec !important;
}
.slider_fleet_partners .slick-center p {
  color: #00a8ec !important;
}
#details,
#details_partners {
  margin-top: 50px;
}
#details .wrapper_1920,
#details_partners .wrapper_1920 {
  position: relative;
}
#details .wrapper_1920 .slider_details,
#details_partners .wrapper_1920 .slider_details,
#details .wrapper_1920 .slider_details_partners,
#details_partners .wrapper_1920 .slider_details_partners {
  margin-bottom: 0 !important;
}
#details .wrapper_1920 .slider_details .item,
#details_partners .wrapper_1920 .slider_details .item,
#details .wrapper_1920 .slider_details_partners .item,
#details_partners .wrapper_1920 .slider_details_partners .item {
  position: relative;
  padding-top: 64px;
  display: block !important;
}
#details .wrapper_1920 .slider_details .item img.bg,
#details_partners .wrapper_1920 .slider_details .item img.bg,
#details .wrapper_1920 .slider_details_partners .item img.bg,
#details_partners .wrapper_1920 .slider_details_partners .item img.bg {
  width: 100%;
  /* min-height: 856px; */
  display: none;
}
#details .wrapper_1920 .slider_details .item img.bg.on,
#details_partners .wrapper_1920 .slider_details .item img.bg.on,
#details .wrapper_1920 .slider_details_partners .item img.bg.on,
#details_partners .wrapper_1920 .slider_details_partners .item img.bg.on {
  display: block;
}
#details .wrapper_1920 .slider_details .item .main_title,
#details_partners .wrapper_1920 .slider_details .item .main_title,
#details .wrapper_1920 .slider_details_partners .item .main_title,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
#details .wrapper_1920 .slider_details .item .main_title span,
#details_partners .wrapper_1920 .slider_details .item .main_title span,
#details .wrapper_1920 .slider_details_partners .item .main_title span,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 67px;
  color: #0f204a;
  display: inline-block;
  line-height: 67px;
  position: relative;
}
#details .wrapper_1920 .slider_details .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details .item .main_title span:before,
#details .wrapper_1920 .slider_details_partners .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:before,
#details .wrapper_1920 .slider_details .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details .item .main_title span:after,
#details .wrapper_1920 .slider_details_partners .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:after {
  content: '';
  width: 401px;
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#details .wrapper_1920 .slider_details .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details .item .main_title span:before,
#details .wrapper_1920 .slider_details_partners .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:before {
  left: -451px;
  background: url('../img/main/details/line_left.png') left top no-repeat;
}
#details .wrapper_1920 .slider_details .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details .item .main_title span:after,
#details .wrapper_1920 .slider_details_partners .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:after {
  right: -451px;
  background: url('../img/main/details/line_right.png') right top no-repeat;
}
#details .wrapper_1920 .slider_details .item .tabs,
#details_partners .wrapper_1920 .slider_details .item .tabs,
#details .wrapper_1920 .slider_details_partners .item .tabs,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs {
  top: 110px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 10;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr {
  display: inline-block;
  padding: 10px 12px;
  position: relative;
  cursor: pointer;
  margin-right: -4px;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab {
  color: #0f204a;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab:before,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab:before,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab:before,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab:before {
  background-position-y: 100% !important;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab {
  position: relative;
  padding-left: 35px;
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  color: #7b7b7b;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab:before,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab:before,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab:before,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 20px;
  background: url('/img/main/details/flight.png') left 0% no-repeat;
}
#details .wrapper_1920 .slider_details .item section,
#details_partners .wrapper_1920 .slider_details .item section,
#details .wrapper_1920 .slider_details_partners .item section,
#details_partners .wrapper_1920 .slider_details_partners .item section {
  position: absolute;
  width: 900px;
  top: 200px;
  left: 0;
  display: none;
  left: 50%;
  transform: translateX(-50%);
}
#details .wrapper_1920 .slider_details .item section.on,
#details_partners .wrapper_1920 .slider_details .item section.on,
#details .wrapper_1920 .slider_details_partners .item section.on,
#details_partners .wrapper_1920 .slider_details_partners .item section.on {
  display: block;
}
#details .wrapper_1920 .slider_details .item section .left_block,
#details_partners .wrapper_1920 .slider_details .item section .left_block,
#details .wrapper_1920 .slider_details_partners .item section .left_block,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block {
  float: left;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini {
  float: left;
  margin-right: 20px;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini:last-child,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:last-child {
  margin-right: 0;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr {
  width: 100%;
  min-width: 87px;
  height: 34px;
  display: flex;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr img,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr img,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr img,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr img {
  margin: auto;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini p,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini p,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p {
  text-align: center;
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #0f204a;
  margin: 15px 0 24px;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number {
  text-align: center;
  font-family: RobotoThin, Arial, sans-serif;
  font-size: 44px;
  color: #0f204a;
}
#details .wrapper_1920 .slider_details .item section .right_block,
#details_partners .wrapper_1920 .slider_details .item section .right_block,
#details .wrapper_1920 .slider_details_partners .item section .right_block,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block {
  float: right;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini {
  float: left;
  margin-right: 60px;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:last-child,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:last-child {
  margin-right: 0;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover p,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover p,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover p,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover p {
  color: #00a8ec;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr {
  /* background: url('../img/view_hover.png') center center no-repeat; */
  background-image: url('../img/view_hover.png');
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.calc .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.calc .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.calc .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.calc .img_wr {
  background: url('../img/calc_hover.png') center center no-repeat;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini a,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini a,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini a,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini a {
  display: inline-block;
  text-decoration: none;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini p,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini p,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p {
  text-align: center;
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  line-height: 20px;
  color: #0f204a;
  margin: 0 0 15px;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr {
  width: 100%;
  min-width: 110px;
  height: 104px;
  display: flex;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr {
  background: url('../img/view.png') center center no-repeat;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr {
  background: url('../img/calc.png') center center no-repeat;
}
#details .wrapper_1920 .form_wr,
#details_partners .wrapper_1920 .form_wr {
  position: absolute;
  bottom: 73px;
  left: 0;
  width: 100%;
  display: flex;
  display: none;
}
#details .wrapper_1920 .form_wr form,
#details_partners .wrapper_1920 .form_wr form {
  margin: 0 auto;
  padding: 18px;
  background: rgba(255, 255, 255, 0.75);
  position: relative;
}
#details .wrapper_1920 .form_wr form input,
#details_partners .wrapper_1920 .form_wr form input {
  height: 32px;
  padding: 0 8px;
  border: 1px solid #EBECEC;
  margin-right: 18px;
  float: left;
  width: 195px;
}
#details .wrapper_1920 .form_wr form input::-webkit-input-placeholder,
#details_partners .wrapper_1920 .form_wr form input::-webkit-input-placeholder {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form input::-moz-placeholder,
#details_partners .wrapper_1920 .form_wr form input::-moz-placeholder {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form input:-moz-placeholder,
#details_partners .wrapper_1920 .form_wr form input:-moz-placeholder {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form input:-ms-input-placeholder,
#details_partners .wrapper_1920 .form_wr form input:-ms-input-placeholder {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form button,
#details_partners .wrapper_1920 .form_wr form button {
  height: 32px;
  padding: 0 15px;
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 19px;
  color: #fefefe;
  background: #1a325a;
  border: none;
  float: left;
  white-space: nowrap;
}
#details .wrapper_1920 .form_wr form img,
#details_partners .wrapper_1920 .form_wr form img {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
}






#big_stuff .wrapper_1544 .title_stuff {
  padding: 56px 0;
  text-align: center;
  height: 162px;
}
#big_stuff .wrapper_1544 .title_stuff .main {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 44px;
  color: #0f204a;
  line-height: 44px;
  display: inline-block;
  position: relative;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
  font-family: RobotoLight, Arial, sans-serif;
  font-size: 29px;
  color: #7b7b7b;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span:hover {
  color: #00a8ec;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
  font-size: 44px;
  cursor: default;
  color: #000;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on:hover {
  color: #000;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero .tab.others {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 56px;
}
#big_stuff .stuff {
  height: 0;
  overflow: hidden;
}
#big_stuff .stuff.on {
  height: auto;
}

#big_stuff .slider_fleet,
#big_stuff .slider_fleet_partners {
  padding: 0 50px;
}
#big_stuff .slider_fleet .slick-list,
#big_stuff .slider_fleet_partners .slick-list {
  padding: 0 !important;
}



@media screen and (max-width: 1100px) {
  #big_stuff .wrapper_1544 .title_stuff {
    padding-right: 20%;
  }
}
@media screen and (max-width: 768px) {
  #big_stuff .wrapper_1544 .title_stuff {
    padding-right: 35%;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
    font-size: 23px;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on,
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
    font-size: 30px;
  }
}
@media screen and (max-width: 580px) {
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
    font-size: 13px;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on,
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
    font-size: 17px;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero .tab.others {
    margin-left: 26px;
  }
  #big_stuff #fleet .slick-prev,
  #big_stuff #fleet_partners .slick-prev {
    left: -10px;
  }
  #big_stuff #fleet .slick-next,
  #big_stuff #fleet_partners .slick-next {
    right: -10px;
  }
  #big_stuff #fleet .slick-track img,
  #big_stuff #fleet_partners .slick-track img {
    max-width: 100%;
  }
  #big_stuff .wrapper_1544 .title_stuff {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 75px;
  }
}
.tab_wr.on .item_tab:before {
    background-position-y: 100% !important;
}
.tab_wr.on .item_tab {
    color: #0f204a !important;
}
.tabs.tab_active_one {
    background: url(../img/tabs_1.png) center top no-repeat;
}
.tabs.tab_active_two {
    background: url(../img/tabs_2.png) center top no-repeat;
}

@media screen and (max-width: 1400px) {
  #details .wrapper_1920 .slider_details .item,
  #details_partners .wrapper_1920 .slider_details .item,
  #details .wrapper_1920 .slider_details_partners .item,
  #details_partners .wrapper_1920 .slider_details_partners .item {
    padding-top: 144px;
  }
}
@media screen and (max-width: 1024px) {
  #details .wrapper_1920 .slider_details .item,
  #details_partners .wrapper_1920 .slider_details .item,
  #details .wrapper_1920 .slider_details_partners .item,
  #details_partners .wrapper_1920 .slider_details_partners .item {
    padding-top: 224px;
  }
}
@media screen and (max-width: 768px) {
  #details .wrapper_1920 .slider_details .item .main_title span:before,
  #details_partners .wrapper_1920 .slider_details .item .main_title span:before,
  #details .wrapper_1920 .slider_details_partners .item .main_title span:before,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title span:before {
    display: none;
  }
  #details .wrapper_1920 .slider_details .item .main_title span:after,
  #details_partners .wrapper_1920 .slider_details .item .main_title span:after,
  #details .wrapper_1920 .slider_details_partners .item .main_title span:after,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title span:after {
    display: none;
  }
  #details .wrapper_1920 .slider_details .item section,
  #details_partners .wrapper_1920 .slider_details .item section,
  #details .wrapper_1920 .slider_details_partners .item section,
  #details_partners .wrapper_1920 .slider_details_partners .item section {
    width: 100%;
    padding: 0 15px;
    top: 140px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini p,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p {
    font-size: 13px;
    margin-bottom: 5px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini {
    margin-right: 15px;
  }
  #details .wrapper_1920 .slider_details .item .tabs,
  #details_partners .wrapper_1920 .slider_details .item .tabs,
  #details .wrapper_1920 .slider_details_partners .item .tabs,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs {
    top: 80px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini p,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p {
    font-size: 12px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number {
    font-size: 34px;
  }
  #details .wrapper_1920 .slider_details .item .main_title span,
  #details_partners .wrapper_1920 .slider_details .item .main_title span,
  #details .wrapper_1920 .slider_details_partners .item .main_title span,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title span {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  #details .wrapper_1920 .slider_details .item section .left_block,
  #details_partners .wrapper_1920 .slider_details .item section .left_block,
  #details .wrapper_1920 .slider_details_partners .item section .left_block,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block {
    display: none;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr {
    background-size: 60%;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr {
    background-size: 43%;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr {
    height: 73px;
  }
}
