@charset "UTF-8";
/****************************************************************
 * Begin Reset
 ****************************************************************/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1;
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

input {
  vertical-align: middle;
  font-family: inherit;
}

input[type=submit],
input[type=button],
button {
  cursor: pointer;
}

textarea {
  resize: none;
  font-family: inherit;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  vertical-align: bottom;
}

/* End Reset
 ****************************************************************/
/****************************************************************
 * Begin Base - First layer
 ****************************************************************/
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/RobotoLight.ttf");
}
@font-face {
  font-family: RobotoThin;
  src: url("../fonts/RobotoThin.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}
@font-face {
  font-family: "sirius";
  src: url("../fonts/sirius.eot");
  src: url("../fonts/sirius.eot?#iefix") format("embedded-opentype"), url("../fonts/sirius.woff") format("woff"), url("../fonts/sirius.ttf") format("truetype"), url("../fonts/sirius.svg#sirius") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  min-width: 300px;
  min-height: 100%;
  margin: 0 auto;
  color: #6c6b6b;
  font: 16px/26px RobotoLight, Arial, sans-serif;
}
body._menu {
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  body._menu {
    overflow: auto;
    position: fixed;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }
}
/* Wrapper */
.main-w {
  max-width: 768px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-w._mod1 {
  max-width: 553px;
}
.main-w._mod2 {
  max-width: 1062px;
  padding: 0;
}
.main-w._mod3 {
  max-width: 900px;
  padding: 0;
}

/* Link */
a {
  color: #0f204a;
  text-decoration: underline;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:hover {
  color: #00a8ec;
  text-decoration: none;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

/* Heading */
.t-1,
h1 {
  font:  43px/45px RobotoLight, Arial, sans-serif;
  color: #0f204a;
  margin: 0 0 25px;
  text-align: center;
}
.t-1._mod1,
h1._mod1 {
  padding: 0 20px;
}

.t-2,
h2 {
  font:  35px/37px RobotoLight, Arial, sans-serif;
  color: #0f204a;
  margin: 0 0 20px;
}

.t-3,
h3,
h4,
h5,
h6 {
  font:  28px/30px RobotoLight, Arial, sans-serif;
  color: #0f204a;
  margin: 0 0 14px;
}

@media screen and (max-width: 320px) {
  .t-1._mod1,
  h1._mod1 {
    padding: 0 16px;
  }
}
.f-sirius:before {
  font-family: 'sirius';
}

.sirius1:before {
  content: "\61";
}

.sirius2:before {
  content: "\62";
}

.sirius3:before {
  content: "\63";
}

.sirius4:before {
  content: "\64";
}

.sirius5:before {
  content: "\65";
}

.sirius6:before {
  content: "\66";
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Button */
/* Inputs */
.is {
  position: relative;
  height: 34px;
  color: #fff;
  background: #1a325a;
  font-size: 19px;
}
.is:hover {
  left: 1px;
  top: 1px;
}

.it-s {
  width: 199px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #e3e1e1;
  border-radius: 50px;
  color: #888888;
  font-size: 14px;
}
.it-s:focus {
  border-color: #00a8ec;
}

.it {
  height: 38px;
  padding: 0 10px;
  border: 2px solid #ebecec;
  color: #b8b8b8;
  font-size: 19px;
}
.it:focus {
  border-color: #00a8ec;
}

.search-submit {
  cursor: pointer;
}

/* Form */
@media screen and (max-width: 320px) {
  .t-1,
  h1 {
    font-size: 34px;
    text-align: left;
  }

  .t-2,
  h2 {
    font-size: 34px;
    text-align: left;
  }

  .t-3,
  h3,
  h4,
  h5,
  h6 {
    font-size: 34px;
    text-align: left;
  }
}
/* Pagination */
/* Breadcrumbs */
.breadcrumbs {
  margin-top: 74px;
  color: #00a8ec;
  font-size: 13px;
  text-align: center;
}
.breadcrumbs span {
  color: #a9a9a9;
}
.breadcrumbs a {
  color: #a9a9a9;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    margin-top: 21px;
  }
}
@media screen and (max-width: 320px) {
  .breadcrumbs {
    padding: 0 20px;
    text-align: left;
  }
}
/* Menu */
.b-menu {
  position: relative;
  text-align: center;
}
.b-menu li {
  display: inline-block;
}
.b-menu li + li {
  margin-left: 42px;
}
.b-menu li a {
  position: relative;
  color: #7b7b7b;
  font-size: 18px;
  text-decoration: none;
}
.b-menu li a:before {
  content: '';
  width: 0;
  height: 1px;
  background: #888888;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all linear 0.25s;
}
.b-menu li a:hover {
  color: #00a8ec;
}
.b-menu li a:hover:before {
  width: 100%;
  background: #00a8ec;
}
.b-menu li > ul {
  position: absolute;
  bottom: -42px;
  left: 0;
  right: 0;
  display: none;
  padding-top: 15px;
  text-align: center;
  z-index: 10;
  background: #fff;
}
.b-menu li > ul li a {
  font-size: 15px;
}
.b-menu li > ul li a:before {
  display: none;
}
.b-menu li:hover > ul, .b-menu li._active > ul {
  display: block;
}
.b-menu li:hover > ul {
  z-index: 11;
}
.b-menu li._active > a {
  color: #00a8ec;
}
.b-menu._mod1 {
  margin-top: 51px;
}
.home .b-menu._mod1 {
  margin-top: 42px;
}
.b-menu._mod2 {
  margin-top: 36px;
  border-bottom: 1px solid #e2e2e2;
}
.b-menu._mod2 > li {
  margin-left: 16px;
}
.b-menu._mod2 > li > a {
  position: relative;
  top: 1px;
  display: block;
  padding: 13px 30px 13px 28px;
  border: 1px solid transparent;
  -moz-border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px;
  border-radius: 9px 9px 0 0;
}
.b-menu._mod2 > li > a:before, .b-menu._mod2 > li > a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: none;
  width: 8px;
  height: 8px;
  background: url("../img/bordermenu.jpg") no-repeat;
}
.b-menu._mod2 > li > a:before {
  left: -8px;
}
.b-menu._mod2 > li > a:after {
  right: -8px;
  background-position: -8px 0;
}
.b-menu._mod2 > li:hover > a, .b-menu._mod2 > li._active > a {
  border-color: #e2e2e2;
  border-bottom-color: #fff;
}
.b-menu._mod2 > li:hover > a:before, .b-menu._mod2 > li:hover > a:after, .b-menu._mod2 > li._active > a:before, .b-menu._mod2 > li._active > a:after {
  display: inline-block;
}

@media screen and (max-width: 1366px) {
  .b-menu {
    margin-top: 28px;
  }
}
@media screen and (max-width: 1340px) {
  .b-menu li > ul {
    bottom: -43px;
  }
  .b-menu._mod2 > li > a {
    padding: 8px 22px 8px 20px;
    font-size: 15px;
  }
  .b-menu._mod2 > li ul li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 1024px) {
  .b-menu li > ul {
    bottom: -43px;
  }
  .b-menu._mod2 > li > a {
    padding: 5px 12px 5px 10px;
    font-size: 14px;
  }
  .b-menu._mod2 > li ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .b-menu {
    display: none;
  }
}
/* End Base - First layer
 ****************************************************************/
/****************************************************************
 * Begin Project - Second layer
 ****************************************************************/
/* Header
 *********************************/
.header {
  padding-top: 32px;
}

@media screen and (max-width: 1366px) {
  .header {
    padding-top: 13px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  .home .header {
    padding-bottom: 0;
    border-bottom: none;
  }
  .header._on {
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
  }
}
@media screen and (max-width: 700px) and (min-width: 321px) {
  .header__col1 {
    display: none;
  }

  .header__col2 {
    right: 0;
    width: 55%;
  }

  .header__col3 {
    width: 45%;
  }
}
@media screen and (min-width: 769px) {
  .header._on {
    border: none;
  }
}
.hamburger-menu {
  float: right;
  position: relative;
  width: 28px;
  height: 18px;
  margin: 15px 29px 0 18px;
  cursor: pointer;
  z-index: 50;
}

.hamburger-menu__in {
  position: relative;
  top: 7px;
  width: 28px;
  height: 2px;
  background: #11254E;
  transition: all 0ms 0.25s;
}
.hamburger-menu__in:before, .hamburger-menu__in:after {
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 2px;
  background: #11254E;
}
.hamburger-menu__in:before {
  bottom: 8px;
  transition: bottom 0.25s 0.25s cubic-bezier(0.23, 1, 0.32, 1), transform 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu__in:after {
  top: 8px;
  transition: top 0.25s 0.25s cubic-bezier(0.23, 1, 0.32, 1), transform 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu__in._animate {
  background: transparent;
}
.hamburger-menu__in._animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 0.25s cubic-bezier(0.23, 1, 0.32, 1), transform 0.25s 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.hamburger-menu__in._animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.25s cubic-bezier(0.23, 1, 0.32, 1), transform 0.25s 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

/* Info
 *********************************/
.b-info {
  color: #888888;
  font-size: 18px;
  line-height: 31px;
}

.b-info__img {
  display: inline-block;
  padding: 45px 0 0 58px;
}

.b-info__lk {
  margin-left: 10px;
  margin-top: 45px;
  color: #888888;
}
.b-info__lk:hover {
  color: #00a8ec;
  text-decoration: underline;
}

.b-info__phone {
  display: inline-block;
  margin-left: 43px;
  margin-top: 45px;
}

@media screen and (max-width: 1366px) {
  .b-info {
    font-size: 16px;
  }

  .b-info__img {
    padding-top: 9px;
    padding-left: 32px;
  }

  .b-info__lk {
    margin-left: 10px;
    margin-top: 8px;
  }

  .b-info__phone {
    width: 100%;
    margin-top: 0;
    margin-left: 31px;
  }
}
@media screen and (max-width: 768px) {
  .b-info__img {
    padding-left: 0px;
  }

  .b-info__phone {
    width: auto;
    margin-left: 18px;
    margin-top: 9px;
  }

  .b-info__lk {
    margin-left: 6px;
  }
}
@media screen and (max-width: 560px) {
  .b-info {
    font-size: 12px;
  }
}
/* Tabs language
 *********************************/
.lang-tabs {
  padding-right: 44px;
  text-align: right;
}

.lang-tabs__i {
  position: relative;
  display: inline-block;
}
.lang-tabs__i + .lang-tabs__i {
  padding-left: 18px;
  margin-left: 18px;
}
.lang-tabs__i + .lang-tabs__i:before {
  content: '';
  width: 1px;
  height: 12px;
  background: #888888;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.lang-tabs__link {
  color: #000103;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.lang-tabs__link:hover {
  color: #00a8ec;
}

@media screen and (max-width: 1366px) {
  .lang-tabs {
    padding-top: 9px;
  }
}
/* Logo
 *********************************/
.logo {
  margin-top: 6px;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  .logo {
    margin-top: 18px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    margin-top: 2px;
    text-align: left;
  }
  .logo img {
    width: 166px;
    max-width: 100%;
  }
}
/* Social icon
 *********************************/
.b-social {
  padding-right: 40px;
  padding-top: 17px;
  margin-left: 30px;
}

.b-social__i {
  position: relative;
  display: inline-flex;
  width: 26px;
  height: 26px;
}
.b-social__i:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin: auto;
  background: #afb1b4;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all linear .25s;
}
.b-social__i + .b-social__i {
  margin-left: 14px;
}
.b-social__i:hover:after {
  width: 40px;
  height: 40px;
  background: #00a8ec;
}
.b-social__i img {
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Search
 *********************************/
.b-search {
  padding-top: 18px;
}
.b-search .search-submit {
  margin-left: 9px;
  vertical-align: middle;
}

@media screen and (max-width: 1366px) {
  .b-search .it-s {
    width: 120px;
  }
}
.hamburger-inner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: #fff;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 85px;
  z-index: 10;
}
.hamburger-inner._on {
  display: block;
}
.hamburger-inner .b-menu {
  position: relative;
  padding: 25px 0;
  margin: 0 30px 15px;
  border-bottom: 1px solid #888;
}
.hamburger-inner .b-menu li {
  display: block;
  margin-left: 0px;
  text-align: left;
}
.hamburger-inner .b-menu li + li {
  margin-top: 24px;
}
.hamburger-inner .b-menu li a {
  color: #0f204a;
  font-size: 18px;
  line-height: 18px;
}
.hamburger-inner .b-menu li a:hover {
  color: #00a8ec;
}
.hamburger-inner .b-search {
  padding-top: 0px;
  text-align: center;
}
.hamburger-inner .b-search .it {
  width: 200px;
}
.hamburger-inner .b-social {
  margin-left: 0;
  margin-top: 23px;
  padding-right: 0;
  padding-top: 0px;
  text-align: center;
}
.hamburger-inner .b-info {
  display: inline-block;
  margin: 12px auto 0;
  font-size: 19px;
}

@media screen and (min-width: 769px) {
  .hamburger-inner._on {
    display: none;
  }
}
.language_2 {
  float: right;
  position: relative;
  top: 14px;
  display: inline-block;
  cursor: pointer;
}

.jq-selectbox__select-text {
  font-size: 14px;
  line-height: 20px;
}

.jq-selectbox__select {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  padding: 0 20px 0 0;
  height: auto;
}

.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 140%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__trigger {
  border-left: none;
  width: 11px;
  height: 6px;
  background: url(../img/select_arrow.png) no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.jq-selectbox__dropdown {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
}

.jq-selectbox__dropdown {
  border-radius: none;
  box-shadow: none;
  text-align: center;
  border: none;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20;
}

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}

.jq-selectbox li.sel {
  background-color: #A3ABB1;
  color: #FFF;
}

/* Content style
 *********************************/
/* Video */
.b-video {
  position: relative;
  height: 200px;
  margin-top: 45px;
  overflow: hidden;
}

.b-video__poster {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.b-video__show {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.b-video__tx {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 15px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .b-video {
    margin-top: 13px;
  }
}
/* Main info */
.main-info {
  position: relative;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #7b7b7b;
  font-size: 19px;
  line-height: 22px;
}
.main-info .ttl {
  display: inline-block;
  max-width: 737px;
  color: #0f204a;
  font-family: RobotoThin, Arial, sans-serif;
  font-size: 38px;
  line-height: 44px;
  text-align: left;
}
.main-info p {
  margin: 0 0 28px;
}
.main-info .details {
  margin-top: 30px;
  text-align: center;
}
.main-info .details a {
  color: #0f204a;
  font-size: 19px;
}
.main-info .details a:hover {
  color: #00a8ec;
  text-decoration: underline;
}

.main-info__col-1 {
  width: 54%;
  padding: 0 40px 0 25px;
  text-align: right;
}

.main-info__col-2 {
  width: 46%;
  padding: 0 40px 0 14px;
}

.main-info__bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

@media screen and (max-width: 1249px) {
  .main-info {
    margin-top: 35px;
    font-size: 16px;
  }
  .main-info .ttl {
    max-width: none;
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 38px;
  }

  .main-info__col-1 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
  }

  .main-info__col-2 {
    width: 100%;
    padding-right: 15px;
  }

  .main-info__bg {
    display: none;
  }
}
@media screen and (max-width: 559px) {
  .main-info .ttl {
    font-size: 20px;
    line-height: 30px;
  }
}
/* Advantage */
.b-advantage {
  padding: 60px 0;
  color: #fff;
  background-color: #1a325a;
  overflow: hidden;
}
.b-advantage .slick-prev {
  background: url(../img/arrows_2.png) left top no-repeat;
}
.b-advantage .slick-prev:hover, .b-advantage .slick-prev:focus {
  color: transparent;
  background-position-y: 100%;
}
.b-advantage .slick-next {
  background: url(../img/arrows_2.png) right top no-repeat;
}
.b-advantage .slick-next:hover, .b-advantage .slick-next:focus {
  color: transparent;
  background-position-y: 100%;
}
.b-advantage .slick-dots li button:before {
  color: #fff;
}

.b-advantage__t {
  text-align: center;
  color: #fff;
  font-size: 43px;
}

.b-advantage__items {
  margin: 109px 5% 0;
  text-align: center;
}
.b-advantage__items .slick-track {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.b-advantage__i {
  position: relative;
  display: inline-block;
  width: 184px;
  height: auto;
  padding: 15px 5px 40px;
  transition: all linear .5s;
  vertical-align: top;
  cursor: pointer;
}
.b-advantage__i:hover {
  background-color: #23437a;
}

.b-advantage__i__img {
  min-width: 81px;
  height: 81px;
}
.b-advantage__i__img img {
  display: inline;
}

.b-advantage__i__tx {
  margin-top: 36px;
  color: #fefefe;
  font-size: 15px;
  line-height: 20px;
}

.b-advantage__i__line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  height: 2px;
  background: url(../img/line.png) center bottom no-repeat;
}

.b-advantage__order {
  margin-top: 100px;
  text-align: center;
  font-size: 44px;
  line-height: 70px;
}
.b-advantage__order i {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 36px;
  background: url(../img/adv24.png) no-repeat;
  vertical-align: middle;
}

.b-advantage__btn {
  margin-top: 57px;
  text-align: center;
}

.b-advantage__btn__in {
  display: inline-block;
  position: relative;
}
.b-advantage__btn__in:after, .b-advantage__btn__in:before {
  content: '';
  position: absolute;
  top: 50%;
  width: 475px;
  height: 4px;
}
.b-advantage__btn__in:before {
  left: 0;
  background: url(../img/btn_line_left.png);
  transform: translate(-100%, -50%);
}
.b-advantage__btn__in:after {
  right: 0;
  background: url(../img/btn_line_right.png);
  transform: translate(100%, -50%);
}
.b-advantage__btn__in a {
  display: inline-block;
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.b-advantage__btn__in a span {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #1a325a;
  font-size: 25px;
  line-height: 25px;
  background: #fefefe;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-family: Roboto, Arial, sans-serif;
}
.b-advantage__btn__in a span:before {
  content: "Заказать рейс";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  background: #1A325A;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b-advantage__btn__in a span:hover, .b-advantage__btn__in a span:focus {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}
.b-advantage__btn__in a span:hover:before, .b-advantage__btn__in a span:focus:before {
  padding: 15px 30px;
  color: #1a325a;
  font-size: 25px;
  line-height: 25px;
  background: #fefefe;
}

@media screen and (max-width: 1300px) {
  .b-advantage__i__tx {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .b-advantage {
    padding-top: 30px;
  }
  .b-advantage .slick-prev {
    left: -15px;
  }
  .b-advantage .slick-next {
    right: -15px;
  }

  .b-advantage__t {
    font-size: 26px;
  }

  .b-advantage__items {
    margin-top: 50px;
  }

  .b-advantage__order {
    font-size: 26px;
  }
  .b-advantage__order i {
    display: none;
  }

  .b-advantage__btn {
    margin-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  .b-advantage__t {
    font-size: 20px;
  }

  .b-advantage__order {
    font-size: 18px;
  }
}
/* Offer */
.b-offer {
  height: 847px;
  padding-top: 106px;
  color: #1a325a;
  font-size: 33px;
  line-height: 33px;
  background: url("../img/offerbg.jpg") center bottom no-repeat;
}

.b-offer__in {
  max-width: 1544px;
  margin: 0 auto;
}

.b-offer__left {
  padding-top: 34px;
}

.b-offer__t {
  color: #1a325a;
  font-size: 44px;
  line-height: 44px;
}

.b-offer__tx {
  margin-top: 47px;
}

.b-offer__lk {
  margin-top: 35px;
}

.b-offer__lk_a {
  color: #1a325a;
  font-size: 19px;
  line-height: 19px;
}
.b-offer__lk_a:hover {
  color: #00a8ec;
  text-decoration: underline;
}

@media screen and (max-width: 1149px) {
  .b-offer__right,
  .b-offer__left {
    width: 100%;
  }

  .b-offer__right {
    padding: 0 15px;
  }

  .b-offer__left {
    padding-top: 0;
  }

  .b-offer {
    height: 450px;
    padding-top: 40px;
    text-align: center;
    font-size: 23px;
    line-height: 23px;
    background-size: contain;
  }
  .b-offer img {
    width: 250px;
  }

  .b-offer__t {
    margin-top: 30px;
    font-size: 34px;
    line-height: 34px;
  }

  .b-offer__tx {
    margin-top: 20px;
  }

  .b-offer__lk {
    margin-top: 17px;
  }
}
@media screen and (max-width: 320px) {
  .b-offer {
    height: 400px;
  }

  .b-offer__t {
    font-size: 24px;
    line-height: 24px;
  }

  .b-offer__tx {
    font-size: 20px;
    line-height: 20px;
  }
}
/* Articles */
.b-articles {
  max-width: 1544px;
  margin: 35px auto 0;
  padding: 0 0 26px;
  color: #0f204a;
  font-size: 19px;
  line-height: 24px;
}

.b-articles__t {
  color: #0f204a;
  font-size: 44px;
  line-height: 44px;
  text-align: center;
}

.b-articles__date {
  color: #7b7b7b;
}

.b-articles__lk {
  margin-top: 50px;
  text-align: center;
}
.b-articles__lk a {
  color: #0f204a;
}
.b-articles__lk a:hover {
  color: #00a8ec;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .b-articles {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .b-articles__t {
    font-size: 34px;
  }
}
.b-news {
  padding-left: 50px;
}

.b-news__items {
  margin-top: 102px;
}

.b-news__i + .b-news__i {
  margin-top: 56px;
}

.b-news__i__img {
  float: left;
  margin-right: 24px;
}

.b-news__i__tx {
  margin-top: 3px;
  word-wrap: break-word;
}

.b-news__i__lk {
  margin-top: 3px;
  text-align: right;
}
.b-news__i__lk a {
  color: #0f204a;
}
.b-news__i__lk a:hover {
  color: #00a8ec;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .b-news {
    padding-right: 15px;
    padding-left: 15px;
  }

  .b-news__items {
    margin-top: 38px;
  }

  .b-news__i__img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .b-news__items {
    margin-top: 19px;
  }
}
.b-smi {
  padding: 0 50px;
}

.b-smi__items {
  margin-top: 65px;
}

.b-smi__i + .b-smi__i {
  margin-top: 11px;
}

.b-smi__i__date {
  margin-top: 8px;
}

.b-smi__i__tx {
  margin-top: 3px;
}

.b-smi__i__lk {
  margin-top: 3px;
  text-align: right;
}
.b-smi__i__lk a {
  color: #0f204a;
}
.b-smi__i__lk a:hover {
  color: #00a8ec;
  text-decoration: underline;
}

.b-smi__lk {
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .b-smi {
    margin-top: 46px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .b-smi__items {
    margin-top: 20px;
  }
}
.p-company .b-content {
  background: url(../img/bg-page.png) center bottom no-repeat;
}
.b-content._page {
  padding-bottom: 101px;
}

.the-content {
  margin-top: 43px;
}
.the-content p {
  margin-bottom: 30px;
}
.the-content ul {
  list-style-type: disc;
  margin-bottom: 30px;
}
.the-content ol {
  list-style-type: decimal;
  margin-bottom: 30px;
}
.the-content table {
  margin-bottom: 30px;
}
.the-content img {
  max-width: 100%;
  margin-bottom: 20px;
  vertical-align: baseline;
}

@media screen and (max-width: 768px) {
  .the-content {
    margin-top: 16px;
  }
}
@media screen and (max-width: 320px) {
  .the-content p {
    margin-bottom: 23px;
  }
}
.category-list {
  font-size: 16px;
  line-height: 25px;
}

.category-list__i {
  display: table;
  padding: 30px 50px 37px 84px;
}
.category-list__i:hover {
  background: #eee;
}

.category-list__i__col {
  display: table-cell;
  vertical-align: top;
}

.category-list__i__img {
  display: table-cell;
  width: 298px;
  padding-right: 34px;
  vertical-align: top;
}
.category-list__i__img img {
  max-width: 100%;
  margin: 0;
  vertical-align: bottom;
}

.category-list__i__t a {
  color: #1a325a;
  font-size: 28px;
  line-height: 30px;
  text-decoration: none;
}
.category-list__i__t a:hover {
  color: #00a8ec;
}

.category-list__i__date {
  margin-top: 2px;
  padding-left: 22px;
  color: #cbcbcb;
  background: url(../img/clock.png) left center no-repeat;
}

.category-list__i__tx {
  margin-top: 8px;
  color: #7b7b7b;
}

@media screen and (max-width: 768px) {
  .category-list__i {
    padding: 32px 15px 33px 16px;
  }

  .category-list__i__img {
    width: 223px;
    padding-right: 20px;
  }

  .category-list__i__t a {
    font-size: 24px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .category-list {
    font-size: 14px;
    line-height: 17px;
  }

  .category-list__i__img {
    display: none;
  }

  .category-list__i__date {
    padding: 0;
    margin-top: 13px;
    color: #7b7b7b;
    background: transparent;
  }

  .category-list__i__t a {
    font-size: 22px;
    border-bottom: 2px solid #8c98ac;
  }
  .category-list__i__t a:hover {
    border-color: #00a8ec;
  }

  .category-list__i__tx {
    margin-top: 13px;
  }
}
.b-date {
  padding-left: 24px;
  margin-bottom: 31px;
  line-height: 15px;
  color: #cbcbcb;
  background: url(../img/clock.png) left center no-repeat;
}

.single-lk {
  padding: 0 65px;
  margin-top: 89px;
}

@media screen and (max-width: 640px) {
  .single-lk {
    padding: 0 20px;
  }
  .single-lk a {
    font-size: 14px;
  }
}
/* Flot List
 *********************************/
.flot-tabs {
  margin-top: 70px;
  text-align: center;
}
.flot-tabs span {
  color: #7b7b7b;
  font-size: 29px;
  cursor: pointer;
}
.flot-tabs span + span {
  margin-left: 51px;
}
.flot-tabs span:first-child {
  margin-left: 340px;
}
.flot-tabs span:first-child._on {
  margin-left: 240px;
}
.flot-tabs span._on {
  color: #0f204a;
  font-size: 43px;
  cursor: default;
}
.flot-tabs span._mod1 {
  display: none;
  width: 140px;
  margin: 0;
  -moz-border-radius: 0 9px 9px 0;
  -webkit-border-radius: 0;
  border-radius: 0 9px 9px 0;
  color: #878b97;
  font-size: 14px;
  line-height: 35px;
  background-color: #eeeff1;
  vertical-align: bottom;
}
.flot-tabs span._mod1._on {
  color: #fff;
  font-size: 19px;
  background-color: #102050;
}
.flot-tabs span._mod2 {
  -moz-border-radius: 9px 0 0 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px 0 0 9px;
}

@media screen and (max-width: 900px) {
  .flot-tabs span {
    display: none;
  }
  .flot-tabs span._mod1 {
    display: inline-block;
  }
}
.flot-list-m {
  display: none;
  margin-top: 48px;
}
.flot-list-m._on {
  display: block;
}

.flot-list__i {
  margin-bottom: 61px;
}

/* Flot picture */
.flot-list__i__img img {
  width: 100%;
}

/* Flot table */
.flot-list__param {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.flot-list__row {
  display: table-row;
}
.flot-list__row > div {
  display: table-cell;
}
.flot-list__row > div:first-child {
  padding-left: 55px;
  border-left: 75px solid #1a325a;
}
.flot-list__row > div:last-child {
  border-right: 75px solid #1a325a;
}

.flot-list__t {
  background: #1a325a;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}

.flot-list__i__t {
  font-size: 66px;
  line-height: 68px;
  text-align: left;
  vertical-align: middle;
}

.flot-list__t_pic {
  position: relative;
  vertical-align: top;
}
.flot-list__t_pic:before {
  position: relative;
  top: 25px;
  z-index: 0;
  display: block;
  text-align: center;
  font-family: "sirius";
  font-size: 110px;
  line-height: 50px;
}

.flot-list__i__t,
.flot-list__t_pic {
  padding: 43px 0 44px;
}
.flot-list__i__t._mod1,
.flot-list__t_pic._mod1 {
  min-width: 130px;
}

.flot-list__l {
  color: #0f204a;
  font-size: 25px;
}
.flot-list__l > div {
  padding: 25px 0 27px;
}
.flot-list__l > div:first-child {
  padding-right: 22px;
  text-align: left;
}
.flot-list__l a {
  position: relative;
  display: block;
  padding-left: 39px;
  font-size: 33px;
  text-decoration: none;
  background: url(../img/sam.png) left center no-repeat;
}
.flot-list__l a:hover {
  color: #00a8ec;
}
.flot-list__l a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  display: inline-block;
  width: 22px;
  height: 13px;
  margin-top: -6px;
  background: url("../img/arrowflot.png") no-repeat;
}
.flot-list__l.flot-list__child {
  display: none;
}
.flot-list__l.flot-list__child > div {
  padding: 14px 0 15px;
}
.flot-list__l.flot-list__child > div:first-child {
  padding-left: 100px;
}
.flot-list__l.flot-list__child a {
  display: inline-block;
  font-size: 25px;
}
.flot-list__l.flot-list__child a:after {
  display: none;
}
.flot-list__l.flot-list__child._on {
  display: table-row;
}

.flot-list__l2 {
  background: #dce3e9;
}
.flot-list__l2 > div:first-child {
  border-color: #dce3e9;
}
.flot-list__l2 > div:last-child {
  border-color: #dce3e9;
}

.flot-list__l1 > div:first-child {
  border-color: #fff;
}
.flot-list__l1 > div:last-child {
  border-color: #fff;
}

@media screen and (max-width: 1500px) {
  .flot-list__param .flot-list__row > div {
    border: none;
  }
}
@media screen and (max-width: 1100px) {
  .flot-list__t {
    font-size: 12px;
    line-height: 14px;
  }

  .flot-list__i__t,
  .flot-list__t_pic {
    padding: 10px 0;
  }

  .flot-list__i__t {
    width: 300px;
    font-size: 40px;
    line-height: 42px;
  }

  .flot-list__row > div:first-child {
    padding-left: 10px;
  }

  .flot-list__l {
    font-size: 18px;
  }
  .flot-list__l a {
    font-size: 23px;
  }
  .flot-list__l > div {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .flot-list__l.flot-list__child a {
    font-size: 18px;
  }
  .flot-list__l.flot-list__child > div {
    padding: 4px 0 5px;
  }
  .flot-list__l.flot-list__child > div:first-child {
    padding-left: 50px;
  }

  .flot-list__t_pic {
    padding-left: 3px;
    padding-right: 3px;
  }
  .flot-list__t_pic:before {
    font-size: 70px;
  }
}
@media screen and (max-width: 720px) {
  .flot-list {
    width: 100%;
    overflow: scroll;
  }

  .flot-list__i {
    width: 800px;
  }

  .flot-list__param {
    width: 100%;
  }
}
/* Aircraft
 *********************************/
.single-flot_t {
  margin-top: 69px;
  overflow: hidden;
}
.single-flot_t span {
  position: relative;
  display: inline-block;
}
.single-flot_t span:before, .single-flot_t span:after {
  content: '';
  width: 401px;
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.single-flot_t span:before {
  left: -451px;
  background: url(../img/main/details/line_left.png) left top no-repeat;
}
.single-flot_t span:after {
  right: -451px;
  background: url("../img/main/details/line_right.png") right top no-repeat;
}

@media screen and (max-width: 320px) {
  .single-flot_t {
    margin-top: 19px;
    margin-bottom: 5px;
    text-align: center;
  }
}
.aircraft-param {
  padding-bottom: 20px;
  color: #fff;
  font-size: 25px;
  background-color: #1a325a;
}

.aircraft-data {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.aircraft-data__i {
  float: left;
  position: relative;
  display: inline-block;
  width: 16.66%;
  vertical-align: top;
}

.aircraft-data__i__t {
  padding-top: 18px;
  font-size: 14px;
  line-height: 17px;
}
.aircraft-data__i__t.f-sirius:before {
  position: relative;
  top: 42px;
  display: block;
  font-size: 110px;
  line-height: 80px;
  z-index: -1;
}

.aircraft-data__i__tx {
  margin-top: 44px;
  padding-bottom: 26px;
}

@media screen and (max-width: 730px) {
  .aircraft-param {
    display: flex;
  }

  .aircraft-data {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .aircraft-data__i {
    width: 30%;
    padding-bottom: 52px;
  }
  .ie8 .aircraft-data__i {
    width: 33%;
  }
  .ie9 .aircraft-data__i {
    width: 33%;
  }

  .aircraft-data__i__t {
    padding-top: 5px;
    font-size: 12px;
  }
  .aircraft-data__i__t.f-sirius:before {
    font-size: 80px;
  }

  .aircraft-data__i__tx {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding-bottom: 0;
    height: 50px;
    overflow: hidden;
  }
}
/* Aircraft 3D
 *********************************/
.aircraft-3d {
  position: relative;
}
.aircraft-3d img {
  width: 100%;
}

.aircraft-3d__icon {
  position: absolute;
  top: 35px;
  left: 41px;
  width: 110px;
  height: 104px;
  background: url(../img/360.png) no-repeat;
}

.aircraft-3d__form {
  position: absolute;
  bottom: 75px;
  left: 0;
  right: 0;
  text-align: center;
}
.aircraft-3d__form .form {
  display: inline-block;
  padding: 15px 16px;
  background: rgba(255, 255, 255, 0.8);
}
.aircraft-3d__form .it {
  width: 197px;
  margin-right: 15px;
}
.aircraft-3d__form .is {
  padding: 0 13px;
}

@media screen and (max-width: 1366px) {
  .aircraft-3d__form {
    bottom: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .aircraft-3d__icon {
    left: 20px;
    top: 31px;
  }
}
@media screen and (max-width: 768px) {
  .aircraft-3d img {
    height: 475px;
  }
}
@media screen and (max-width: 560px) {
  .aircraft-3d img {
    height: 200px;
  }

  .aircraft-3d__icon {
    width: 63px;
    height: 63px;
    background-size: contain;
  }

  .aircraft-3d__form {
    position: static;
  }
  .aircraft-3d__form .form {
    background-color: transparent;
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .aircraft-3d__form .it {
    width: 260px;
    height: 44px;
    margin-right: 0;
    margin-bottom: 9px;
  }
  .aircraft-3d__form .is {
    width: 260px;
    height: 44px;
  }
  .aircraft-3d__form .is:hover {
    left: 0;
  }
}
/* Aircraft Gallery
 *********************************/
.b-gallery {
  position: relative;
  left: -20px;
  margin: 0 -20px 0 0;
}
.b-gallery img {
  margin: 0;
  vertical-align: bottom;
}
.b-gallery .slick-prev {
  left: 35px;
  z-index: 10;
}
.b-gallery .slick-next {
  right: 15px;
}
.b-gallery .slick-slide {
  padding-left: 20px;
}

@media screen and (max-width: 1366px) {
  .b-gallery {
    left: -15px;
    margin-right: -15px;
  }
  .b-gallery .slick-prev {
    left: 30px;
  }
  .b-gallery .slick-slide {
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .b-gallery {
    left: -7px;
    margin-right: -7px;
  }
  .b-gallery .slick-prev {
    left: 22px;
  }
  .b-gallery .slick-slide {
    padding-left: 7px;
  }
}
@media screen and (max-width: 350px) {
  .b-gallery {
    left: 0;
    margin-right: 0;
  }
  .b-gallery .slick-prev {
    left: 15px;
  }
  .b-gallery .slick-slide {
    padding-left: 0;
  }
}
/* Aircraft config
 *********************************/
.aircraft-config {
  display: table;
  width: 100%;
  max-width: 1570px;
  margin: 50px auto 0;
  padding-bottom: 113px;
  text-align: center;
}

.aircraft-config__row {
  display: table-row;
}

.aircraft-config__i {
  display: table-cell;
}

.aircraft-config__i__t {
  color: #1a325a;
  font-size: 29px;
}

.aircraft-config__i_img {
  max-width: 100%;
  margin-top: 62px;
  margin-bottom: 76px;
}

.aircraft-config__i__info {
  position: relative;
  width: 195px;
  height: 195px;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid #1a325a;
  -moz-border-radius: 195px;
  -webkit-border-radius: 195px;
  border-radius: 195px;
  color: #0f204a;
  font-size: 14px;
  line-height: 17px;
}
.aircraft-config__i__info span:before {
  display: block;
  position: relative;
  top: 48px;
  font-size: 110px;
  line-height: 78px;
}
.aircraft-config__i__info:before {
  content: '';
  position: absolute;
  left: -71px;
  top: 73px;
  display: inline-block;
  width: 45px;
  height: 44px;
  background: url("../img/icon.png") no-repeat;
}
.aircraft-config__i__info._mod1:before {
  top: 82px;
  left: -62px;
  width: 28px;
  height: 29px;
  background-position: -45px 0;
}

.aircraft-config__i__info__number {
  margin-top: 16px;
  font-size: 44px;
  line-height: 46px;
  font-family: RobotoThin, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .aircraft-config {
    padding-bottom: 58px;
  }

  .aircraft-config__t {
    border-top: 2px solid #1a325a;
  }

  .aircraft-config__row {
    display: block;
  }

  .aircraft-config__i {
    float: left;
    display: block;
    width: 50%;
  }

  .aircraft-config__i__t {
    position: relative;
    top: -2px;
    display: inline-block;
    padding: 12px 20px 15px;
    border: 2px solid transparent;
    color: #979797;
    font-size: 20px;
    cursor: pointer;
  }
  .aircraft-config__i__t._on {
    border-color: #1a325a;
    border-top-color: #fff;
    -moz-border-radius: 0 0 9px 9px;
    -webkit-border-radius: 0;
    border-radius: 0 0 9px 9px;
    color: #1a325a;
    cursor: default;
  }
  .aircraft-config__i__t._on:before, .aircraft-config__i__t._on:after {
    content: '';
    position: absolute;
    top: -2px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/arr.jpg) no-repeat;
  }
  .aircraft-config__i__t._on:before {
    left: -12px;
  }
  .aircraft-config__i__t._on:after {
    right: -12px;
    background-position: -12px 0;
  }

  .aircraft-config__m .aircraft-config__i {
    display: none;
    width: 100%;
  }
  .aircraft-config__m .aircraft-config__i._on {
    display: block;
  }

  .aircraft-config__i_img {
    margin-top: 56px;
  }
}
@media screen and (max-width: 560px) {
  .aircraft-config__i {
    width: 45%;
  }

  .aircraft-config__t {
    padding-left: 5%;
  }

  .aircraft-config__i__t {
    padding: 12px 5px;
    border-top-width: 3px;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
  }
  .aircraft-config__i__t._on:before, .aircraft-config__i__t._on:after {
    top: -3px;
  }

  .aircraft-config__i__info {
    left: 30px;
  }

  .aircraft-config__i_img {
    margin-bottom: 36px;
    margin-top: 34px;
  }
}
/* Aircraft calc
 *********************************/
.aircraft-calc__radio {
  margin-bottom: 50px;
  color: #0f204a;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.aircraft-calc__radio label {
  margin-left: 70px;
  cursor: pointer;
}
.aircraft-calc__radio label:first-of-type {
  margin-left: 0;
}

.aircraft-calc {
  margin-top: 86px;
  padding-top: 106px;
  background: url(../img/calc.png) center top no-repeat;
}
.aircraft-calc .form {
  width: 100%;
  max-width: 678px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.aircraft-calc .it {
  float: left;
  width: 197px;
  margin-bottom: 18px;
  margin-right: 20px;
  border: 2px solid #999c9c;
}
.aircraft-calc .it._mod1 {
  width: 112px;
}
.aircraft-calc .it._mod2 {
  margin-right: 0;
}
.aircraft-calc .is {
  width: 244px;
  height: 38px;
}
.aircraft-calc input[type="radio"] {
  display: none;
}
.aircraft-calc input[type="radio"]:checked + label {
  color: #00a8ec;
}

.aircraft-calc__t {
  margin-bottom: 23px;
  font-size: 29px;
  line-height: 32px;
}

@media screen and (max-width: 678px) {
  .aircraft-calc__t {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .aircraft-calc__radio label {
    display: inline-block;
    width: 75px;
    margin-left: 8px;
  }

  .aircraft-calc {
    padding-top: 80px;
  }
  .aircraft-calc .form {
    padding-left: 31px;
    padding-right: 29px;
  }
  .aircraft-calc .it {
    width: 100%;
    margin-right: 0;
    border-color: #e2e2e2;
  }
  .aircraft-calc .it._mod1 {
    width: 48%;
    margin-right: 4%;
  }
  .aircraft-calc .it._mod2 {
    margin-right: 0;
  }
  .aircraft-calc .is {
    width: 100%;
  }
}
/* Aircraft Slider
 *********************************/
.aircraft-slider {
  margin-top: 81px;
}
.aircraft-slider .flot-tabs {
  margin-top: 0px;
}

.aircraft-slider__t {
  display: none;
  text-align: center;
}

.aircraft-slider__items {
  position: relative;
  height: 0px;
  overflow: hidden;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1550px;
}
.aircraft-slider__items a {
  color: #7b7b7b;
  font-size: 19px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}
.aircraft-slider__items a:hover {
  color: #00a8ec;
}
.aircraft-slider__items a img {
  max-width: 100%;
}
.aircraft-slider__items .slick-prev {
  top: 50px;
  left: 20px;
}
.aircraft-slider__items .slick-next {
  top: 50px;
  right: 20px;
}
.aircraft-slider__items .slick-list {
  padding: 0 !important;
}
.aircraft-slider__items._on {
  height: auto;
  padding-bottom: 50px;
  margin-top: 50px;
  overflow: visible;
}

.aircraft-slider__items__t {
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .aircraft-slider__t {
    display: block;
  }
}
.air-mod {
  margin-top: 15px;
  background: url(../img/linem.jpg) center top no-repeat;
}
.air-mod a {
  position: relative;
  display: inline-block;
  padding: 6px 15px 4px 10px;
  border: 2px solid transparent;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0;
  border-radius: 0 0 8px 8px;
  color: #7b7b7b;
  font-size: 19px;
  text-decoration: none;
}
.air-mod a i {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 23px;
  height: 20px;
  margin-right: 11px;
  background: url(../img/ssam.png) no-repeat;
}
.air-mod a._on {
  border-color: #1a325a;
  border-top-color: #fff;
  color: #0f204a;
}
.air-mod a._on i {
  background-image: url(../img/sam.png);
}
.air-mod a._on:after, .air-mod a._on:before {
  content: '';
  position: absolute;
  top: -2px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/arr.jpg) no-repeat;
}
.air-mod a._on:before {
  left: -12px;
}
.air-mod a._on:after {
  right: -12px;
  background-position: -12px 0;
}

.single-flot__mod {
  position: relative;
  padding-top: 50px;
  text-align: center;
}
.single-flot__mod img {
  max-width: 100%;
}
.single-flot__mod .air-mod {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .air-mod a {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 1px;
  }

  .single-flot__mod {
    padding-top: 65px;
  }
}
/* Footer
 *********************************/
.footer {
  padding: 30px 0 50px;
  color: #fff;
  background-color: #1a325a;
}
.footer .b-menu li a {
  color: #fff;
}
.footer .b-menu li a:hover {
  color: #00a8ec;
}

.footer__in {
  max-width: 1544px;
  margin: 107px auto 0;
  padding: 0 15px;
}

.b-partners {
  padding-top: 18px;
}
.b-partners a {
  margin-right: 22px;
}
.b-partners a img {
  vertical-align: top;
  margin-bottom: 10px;
}

.footer-col {
  text-align: right;
}

.copyrights {
  margin-top: 20px;
  font-size: 13px;
}

.b-info-order {
  display: inline-block;
  padding-right: 65px;
  text-align: left;
  font-size: 19px;
  line-height: 24px;
  background: url(../img/footer24.png) right center no-repeat;
}

@media screen and (max-width: 768px) {
  .footer__in {
    margin-top: 0px;
  }

  .b-partners {
    padding-top: 0px;
    text-align: center;
  }

  .footer-col1 {
    margin-bottom: 20px;
  }

  .b-info-order {
    font-size: 16px;
    line-height: 21px;
  }

  .copyrights {
    margin-top: 10px;
    font-size: 11px;
  }
}
@media screen and (max-width: 320px) {
  .b-partners img {
    max-width: 25%;
    vertical-align: middle;
  }

  .b-info-order {
    display: block;
    padding-right: 0;
    padding-top: 70px;
    text-align: center;
    background-position: center top;
  }

  .copyrights {
    margin-top: 30px;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
/* End Project - Second layer
 ****************************************************************/
/****************************************************************
 * Begin Cosmetic - Third layer
 ****************************************************************/
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.align-center {
  text-align: center;
}

.cl:after {
  content: '';
  display: table;
  clear: both;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* End Cosmetic - Third layer
 ****************************************************************/
/****************************************************************
 * WP
 ****************************************************************/
.alignleft {
  float: left;
  margin: 0 10px 0 0;
}

.alignright {
  float: right;
  margin: 0 0 0 10px;
}

.aligncenter {
  margin: 0;
}

.alignnone {
  margin: 0;
}
