/* .single-flot h1 {
    margin-top: 30px;
    overflow: hidden;
}
.single-flot h1 {
position: relative;
    
}
.single-flot h1:before {
    left: 22%;
    background: url(/bitrix/templates/sirius/img/main/details/line_left.png) left top no-repeat;
}
.single-flot h1:after {
    right: 22%;
    background: url(/bitrix/templates/sirius/img/main/details/line_right.png) right top no-repeat;
}

.single-flot h1:before, .single-flot h1:after {
    content: ' ';
    width: 401px;
    height: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */
/*
body .breadcrumbs{
     margin-top: 0px; 
display: block; 


}
*/
