@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

html {height: 100%;}

body {
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-family: Roboto, sans-serif;
    min-height: 650px;
    margin: 0;
    min-width: 1024px;
    padding:0;
}

.main-logo {
    display: block;
    height: 87px;
    text-decoration: none;
    background: url(images/logo.png) no-repeat center;
}

.b_line_gray {
    border: none;
    border-bottom: 0;
    margin: 15px 0;
}

.log-main-table {
    border-spacing: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: url(images/bg_clouds_3.png) no-repeat center 69px;
}

.log-bottom-cell,
.log-top-cell {
    height: 25%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.log-main-cell {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.log-bottom-cap {
    display: inline-block;
    height: 70px;
    width: 50px;
}

.log-popup-wrap {
    display: inline-block;
    position: relative;
}

.log-popup {
    background-color: #F2F2F2;
    border-radius: 4px;
    display: block;
    text-align: left;
    width: 400px;
    position: relative;
    padding: 30px 35px;
}

.log-popup-text {
    padding: 0;
}

.log-popup-form {
    position: relative;
    z-index: 1;
}

.log-popup a {
    font-size: 14px;
    color: #1B315A;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.log-popup a:hover {
    color:#1B315A;
    border-color:#1B315A;
}

.log-popup-header {
    vertical-align: bottom;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #BDBDBD;
    text-align: center;
}

.log-popup-content {
    background-color: #f5f1d6;
    border-radius: 6px;
    padding: 13px 23px 15px;
}

.login-item {
    margin: 17px 0;
}

.login-item-alignment {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 1px;
}

.login-label {
    color: #727a87;
    text-align: center;
    vertical-align: middle;
    font-size: 19px;
    font-family: Roboto;
}

.login-email-text {
    color: #555555;
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
    height: 40px;
    line-height: 37px;
    text-shadow: 0 1px #fff;
    vertical-align: top;
}

.login-label-thin {
    font-size: 13px;
    font-weight: normal;
}

.login-captcha-img {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
}

.login-captcha-img img {display: block;}


.login-inp {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
    padding: 13px 14px;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    opacity: 0.9;
    height: 45px;
}

.login-inp::placeholder {
    text-transform: uppercase;
}

.bx-ie8 .login-inp {padding-top: 7px;}

.login-inp-error {
    border: 3px solid #f2cbcb;
    border-radius: 4px;
    margin-top: -2px;
    margin-bottom: -2px;
}

.inp-error-text {
    color: #c40000;
    display: inline-block;
    font:italic 12px Georgia;
    vertical-align: middle;
}

.login-pass-complex {
    background-color: #e3ebed;
    border: 1px solid;
    border-color: #d9e0e1 #e0e7e9 #dde5e7;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #e0e7e9;
    box-shadow: inset 0 1px 0 #e0e7e9;
    height: 4px;
    margin:8px 0 2px 199px;
    position: relative;
    width: 249px;
}

.login-pass-complex-bar {
    border-radius: 3px;
    height: 6px;
    left: 0;
    top: -1px;
    position: absolute;
}

.login-pass-complex-bar-red {
    background-image: -webkit-linear-gradient(top, #e15a5a, #c73838);
    background-image:    -moz-linear-gradient(top, #e15a5a, #c73838);
    background-image:     -ms-linear-gradient(top, #e15a5a, #c73838);
    background-image:      -o-linear-gradient(top, #e15a5a, #c73838);
    background-image:         linear-gradient(to bottom, #e15a5a, #c73838);
    -webkit-box-shadow: inset 0 2px 0 #f07e7e, inset 0 -1px 0 #c12222;
    box-shadow: inset 0 2px 0 #f07e7e, inset 0 -1px 0 #c12222;
}

.login-pass-complex-bar-yellow {
    background-image: -webkit-linear-gradient(top, #ecb822, #dc7a15);
    background-image:    -moz-linear-gradient(top, #ecb822, #dc7a15);
    background-image:     -ms-linear-gradient(top, #ecb822, #dc7a15);
    background-image:      -o-linear-gradient(top, #ecb822, #dc7a15);
    background-image:         linear-gradient(to bottom, #ecb822, #dc7a15);
    -webkit-box-shadow: inset 0 1px 0 #efa615, inset 0 2px 0 #efc428, inset -1px 0 0 #da860d;
    box-shadow: inset 0 1px 0 #efa615, inset 0 2px 0 #efc428, inset -1px 0 0 #da860d;
}

.login-pass-complex-bar-green {
    background-image: -webkit-linear-gradient(top, #a4c31e, #7eaa16);
    background-image:    -moz-linear-gradient(top, #a4c31e, #7eaa16);
    background-image:     -ms-linear-gradient(top, #a4c31e, #7eaa16);
    background-image:      -o-linear-gradient(top, #a4c31e, #7eaa16);
    background-image:         linear-gradient(to bottom, #a4c31e, #7eaa16);
    -webkit-box-shadow: inset 0 -1px 0 #7ca116, inset 0 1px 0 #a0c624, inset 0 2px 0 #bdd426;
    box-shadow: inset 0 -1px 0 #7ca116, inset 0 1px 0 #a0c624, inset 0 2px 0 #bdd426;
}

.login-item-domain {
    display: inline-block;
    border: 2px solid #c4c9bb;
    border-left: none;
    border-radius: 0 2px 2px 0;
    color: #555;
    height: 36px;
    margin-left: -1px;
    font-weight: bold;
    font-size: 17px;
    line-height: 35px;
    text-shadow: 0 1px #fff;
    text-align: center;
    vertical-align: top;
    padding: 0 8px;
}

.login-item-description,
.login-item-description-pas {
    color: #555;
    font-size: 12px;
    text-shadow: 0 1px #fff;
    padding:6px 0 0 200px;
}

.login-item-description-pas {
    font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}


.login-user-photo {
    background: url(images/bx24-login-sprite5.png) no-repeat 0 -679px;
    display: none;
    height: 111px;
    top:76px;
    left: 85px;
    position: absolute;
    width: 112px;
}

.login-user-photo-text {
    bottom: 7px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
}

.login-create-profile-soc-net .login-user-photo {
    display: block;
}

.login-create-profile-soc-net .login-label-name,
.login-create-profile-soc-net .login-label-surname {
    opacity: 0;
}

a.login-item-link {
    display: inline-block;
    border-bottom: 2px solid #cdf0ff;
    color: #2fc6f7;
    vertical-align: bottom;
    text-decoration: none;
    font-family: Roboto;
    line-height: 20px;
    position: relative;
    bottom: 3px;
    -webkit-transition: border-color ease-in-out .1s;
    transition: border-color ease-in-out .1s;
    text-transform: uppercase;
}

a.login-item-link:hover {
    border-bottom: 2px solid #2fc6f7;
}

.login-item-description .login-item-link {
    margin-top: 6px;
}

.login-intranet-logo-review {
    padding: 6px 37px 12px 12px;
    min-width: 467px;
}

.login-intranet-logo-rev-table {
    border: none;
    border-spacing: 0;
    height: 55px;
    width: 100%;
}

.login-intranet-logo-rev-cell {
    padding:0 20px 0 0;
    width: 192px;
}

.login-intranet-logo-rev-text {
    color: #4f5866;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    white-space: nowrap;
}

.login-intranet-logo-rev-logo {
    background: url(images/bx24-login-sprite5.png) 0 -597px repeat-x;
    font-size: 30px;
    font-weight: bold;
    vertical-align: top;
    padding: 0 10px;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
    white-space:nowrap;
}

.login-intranet-logo-rev-logo-text {
    color: #fff;
    display: inline-block;
    margin-right: 7px;
    max-width: 235px;
    line-height: 55px;
    overflow: hidden;
    vertical-align: top;
}

.login-intranet-logo-rev-logo-24 {
    color: #42c3ea;
    display: inline-block;
    line-height: 55px;
    vertical-align: top;
}


.login-inp-captcha {
    margin-left: 11px;
    vertical-align: middle;
    width: 115px;
}


.login-inp-active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25), 0 0 0 2px #cdd2d5;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25), 0 0 0 2px #cdd2d5;
}

/*.login-inp-error {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25), 0 0 0 2px #db2b2b;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25), 0 0 0 2px #db2b2b;
}*/

.login-file-block {
    display: inline-block;
    vertical-align: middle;
}

.login-file-name-field {
    background-color: #fff;
    border: 1px solid;
    border-color: #b9bcbe #bdc1c3 #c1c5c8;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .25);
    display: block;
    height: 39px;
    overflow: hidden;
}

.login-file-btn-wrap {
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding-bottom: 1px;
    position: relative;
}


.login-file-btn {
    background-color: #ecf1f3;
    background-image: -webkit-linear-gradient(top, #f9f9fa, #dee9ec);
    background-image:    -moz-linear-gradient(top, #f9f9fa, #dee9ec);
    background-image:     -ms-linear-gradient(top, #f9f9fa, #dee9ec);
    background-image:      -o-linear-gradient(top, #f9f9fa, #dee9ec);
    background-image:         linear-gradient(to bottom, #f9f9fa, #dee9ec);
    border: 1px solid;
    border-color: #e8e4ca #d0ccb5 #a3a08e;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px rgba(255, 255, 255, .4), 0 1px 0 #dcd8c0;
    box-shadow: inset 0 1px 0 #fff, inset 0 0 0 1px rgba(255, 255, 255, .4), 0 1px 0 #dcd8c0;
    color: #7a808c;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 39px;
    line-height: 39px;
    min-width: 70px;
    max-width: 250px;
    overflow: hidden;
    padding: 0 12px;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 1px rgba(255,255,255,.7);
    vertical-align: top;
    white-space: nowrap;
}

.login-file-btn-wrap:hover  .login-file-btn{
    background-color: #f5f7f8;
    background-image: -webkit-linear-gradient(top, #fafafa, #f1f6f7);
    background-image:    -moz-linear-gradient(top, #fafafa, #f1f6f7);
    background-image:     -ms-linear-gradient(top, #fafafa, #f1f6f7);
    background-image:      -o-linear-gradient(top, #fafafa, #f1f6f7);
    background-image:         linear-gradient(to bottom, #fafafa, #f1f6f7);
}

.login-file-btn-wrap:active  .login-file-btn{
    background-color: #c5d4cc;
    background-image: -webkit-linear-gradient(top, #bbccc3, #cddad2);
    background-image:    -moz-linear-gradient(top, #bbccc3, #cddad2);
    background-image:     -ms-linear-gradient(top, #bbccc3, #cddad2);
    background-image:      -o-linear-gradient(top, #bbccc3, #cddad2);
    background-image:         linear-gradient(to bottom, #bbccc3, #cddad2);
    -webkit-box-shadow: inset 0 1px 1px 1px rgba(122, 128, 141, .78);
    box-shadow: inset 0 1px 1px 1px rgba(122, 128, 141, .78);
    border-color: #f5f1d6;
    border-radius: 2px;
}

.login-file-inp {
    cursor: pointer;
    font-size:50px;
    top: -10px;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}

.login-item-checkbox {
    margin-bottom: 11px;
    overflow: hidden;
    padding: 6px 0 0 192px;
}

.log-popup-content .login-item-checkbox {padding-left: 200px;}

.login-alignment-checkbox {
    display: inline-block;
    height: 17px;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
}


.login-item input[type="checkbox"],
.login-item-checkbox input[type="checkbox"]{
    margin:-2px 7px 0 2px;
    vertical-align: middle;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
}

.login-item-checkbox-label{
    font-size: 14px;
    line-height: normal;
    color: #777;
}

.bx-ie8 .login-item-checkbox-label {padding-top: 2px;}

.login-links {margin:20px 0 0 0;}

.login-inp-wrap {
    padding-top: 7px;
}

.login-item-checkbox .login-links {margin: 11px 0 0; font-size: 14px;}
.login-item-checkbox .login-links a {font-size: 14px; text-decoration: none;}
.login-item-checkbox .login-links a:hover {text-decoration: underline;}

.login-links a {font-size: 16px;color: #1B315A;}

.login-link-forgot-pass {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-left:15px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #1B315A !important;
    opacity: 0.9;
    border-bottom: 1px solid #1B315A;
}
.login-link-forgot-pass:hover {
    border-bottom: 1px solid #F2F2F2;
}

.login-social-networks {
    border-top: 1px solid #ecedee;
    margin: 27px -24px 0;
    padding: 19px 24px 0;
    text-align: left;
}

.login-social-networks-block {
    background-color: #ecf1f5;
    border-radius: 6px;
    border: 1px solid;
    border-color: #c0d8e5 #d6e4ed #e5edf2;
    -webkit-box-shadow: inset 0 1px 1px #d6e4ed;
    box-shadow: inset 0 1px 1px #d6e4ed;
    min-height: 39px;
    padding: 18px 17px 0 17px;
}

.login-social-net-yellow {
    padding: 16px 18px 15px;
}

.login-social-networks-text {
    color: #555;
    display: inline-block;
    font-size: 24px;
    min-width: 202px;
    margin-top: -4px;
    vertical-align: middle;
}

.bx-auth-serv-icons {
    display: inline-block;
    vertical-align: middle;
}

.bx-auth-serv-icons a {
    display: inline-block;
    vertical-align: middle;

}
.bx-auth-serv-icons a:hover {
    border: none !important;
    margin: 1px !important;
}
.bx-auth-serv-icons .bx-auth-serv-icon, .bx-ss-selected span {
    background: url('images/soc6.png') no-repeat 100px 100px;
    display: inline-block;
    width: 37px;
    height: 37px;
    margin: 0 8px 0 0;
    padding:0;
    vertical-align: top;
    /*	border: 1px solid red;*/
}

.bx-auth-serv-icons .facebook
{
    background-position: -166px -15px;
}
.bx-auth-serv-icons .yandex
{
    background-position: -116px -15px;
}
.bx-auth-serv-icons .twitter
{
    background-position: -216px -15px;
}
.bx-auth-serv-icons .openid-mail-ru
{
    background-position: -69px -15px;
}
.bx-auth-serv-icons .liveid
{
    background-position: -362px -15px;
}
.bx-auth-serv-icons .vkontakte
{
    background-position: -314px -15px;
}
.bx-auth-serv-icons .google,
.bx-auth-serv-icons .google-plus
{
    background-position: -691px -15px;
}
.bx-auth-serv-icons .openid
{
    background-position: -553px -15px;
}
.bx-auth-serv-icons .livejournal
{
    background-position: -459px -15px;
}
.bx-auth-serv-icons .liveinternet
{
    background-position: -506px -15px;
}
.bx-auth-serv-icons .blogger
{
    background-position: -598px -15px;
}
.bx-auth-serv-icons .mymailru
{
    background-position: -265px -15px;
}
.bx-auth-serv-icons .mailru2
{
    background-position: -265px -15px;
}
.bx-auth-serv-icons .odnoklassniki
{
    background-position: -644px -15px;
}
.bx-auth-serv-icons .dropbox
{
    background-position: -738px -15px;
}
.bx-auth-serv-icons .box
{
    background-position: -785px -15px;
}
.bx-auth-serv-icons .office365
{
    background-position: -832px -15px;
}
.bx-auth-serv-icons .bitrix24
{
    background-position: -1151px -15px;
    width: 115px;
}
.bx-auth-serv-icons .bitrix24-ru
{
    background-position: -879px -15px;
    width: 129px;
}
.bx-auth-serv-icons .bitrix24-ua
{
    background-position: -1018px -15px;
    width: 123px;
}

.login-social-networks-popup-more {
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 11px rgba(0, 0, 0, .17);
    -moz-box-shadow: 0 6px 11px rgba(0, 0, 0, .17);
    box-shadow: 0 6px 11px rgba(0, 0, 0, .17);
    border: 1px solid;
    border-color: #e1e1e1 #d1d1d1 #d1d1d1 #d1d1d1;
    left:547px;
    position:absolute;
    width:39px;
    min-height:24px;
    z-index: 1000;
    padding: 5px;
}
.login-social-networks-popup-more a {
    padding-bottom: 4px;
}
.login-social-networks-popup-hidden { display : none; }

.login-social-networks-link-more {
    color: #7a808c;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 21px;
    line-height: 20px;
    vertical-align: middle;
    min-width: 32px;
    text-shadow: 0 1px #fff;
    text-align: center;
    padding: 0 17px 0 9px;
    position: relative;
}

.login-social-networks-link-more:before {
    background: url(images/bx24-login-sprite5.png) no-repeat right -575px;
    content:'';
    height:5px;
    top:9px;
    right: 6px;
    position: absolute;
    width: 7px;
}

.login-create-profile {
    /*	border-bottom: 1px solid #e5e5e5;*/
    padding-bottom: 28px;
    position: relative;
}

.login-create-profile .login-item {
    padding-left: 23px;
}

.login-create-profile-title {
    color: #555;
    font-size: 24px;
    padding: 13px 0 16px 19px;
}

.login-forget-pass {
    padding:12px 0 0 224px;
}

.login-create-promo-cod {
    padding-left: 225px;
}

a.login-create-promo-cod-link {
    display: inline-block;
    color: #2067b0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px dashed #2067b0;
    text-decoration: none;
}

.login-create-checkbox-agreement {
    margin-top: 18px;
    padding-left: 224px;
}

.login-create-checkbox {
    display: inline-block;
    margin: 0 7px 0 0;
    vertical-align: middle;
}

.login-create-checkbox-label {
    color: #000;
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
}

.login-create-agreement-link {
    display: inline-block;
    vertical-align: middle;
}


.login-social-networks-title {
    color: #a9b6c9;
    display: inline-block;
    font-size: 11px;
    height: 22px;
    line-height: 21px;
    text-align: right;
    vertical-align: middle;
    width: 180px;
}

.login-social-link {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    height: 22px;
    margin: 0 7px;
    vertical-align: middle;
    width: 22px;
}

.login-social-link:hover {
    border-color: #ccc;
}

.login-social-link img {
    display: block;
    margin: 0;
    border: none;
}

.log-popup-footer {
    padding-top: 17px;
    position: relative;
    text-align: center;
}

.log-popup-footer:before {
    background:#13b1e3 url(images/ld_blue.gif) center no-repeat;
    content: "";
    height: 0;
    width: 0;
}

.login-btn {
    color: #fff;
    display: inline-block;
    outline: none !important;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px;
    -webkit-appearance: none;
    background: #00A8EC;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 19px;
}

a.login-btn {
    height: 38px;
    min-width: 110px;
    line-height: 37px;
    padding: 0 20px;
}

.bx-ie .login-btn {
    padding-top: 0;
}

.login-btn:hover  {background: #1B315A;color: #fff;}
.login-btn:active {background: #1B315A;color: #fff;}

.login-btn.wait {
    background:#00A8EC url(images/ld_blue.gif) center no-repeat;
    background-size: auto 70% !important;
    color: rgba(0,0,0,0);
}

.language-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    padding-right: 20px;
    width: 63px;
    height: 40px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 19px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.language-flag {
    background: url(images/bx24-login-sprite5.png) no-repeat 100px;
    display: inline-block;
    margin-right: 10px;
    width: 46px;
    height: 12px;
    vertical-align: middle;
}


.language-box:hover {border-color: #d6d6d6;}

.language-box.ru .language-flag {background-position: right -464px;}
.language-box.en .language-flag {background-position: right -505px;}
.language-box.de .language-flag {background-position: right -485px;}
.language-box.ua .language-flag {background-position: right -540px;}
.language-box.la .language-flag {background-position: right -685px;}

.language-arrow {
    background: url(images/bx24-login-sprite5.png) no-repeat -307px -528px;
    height: 3px;
    top: 11px;
    right: 5px;
    position: absolute;
    width: 5px;
}

.language-box-item .menu-popup-item-icon {display: none;}
.language-box-item .menu-popup-item-text {
    margin-right: 2px;
    color: #727a87;
}

.language-box-item {
    padding-right: 25px;
}

.language-box-item .menu-popup-item-right{
    background: url("images/bx24-login-sprite5.png") no-repeat 100px;
    right: 5px;
    width: 17px;
}

.language-box-item.ru .menu-popup-item-right {background-position: -311px -459px;}
.language-box-item.en .menu-popup-item-right {background-position: -311px -500px;}
.language-box-item.de .menu-popup-item-right {background-position: -311px -480px;}
.language-box-item.ua .menu-popup-item-right {background-position: -311px -536px;}
.language-box-item.la .menu-popup-item-right {background-position: -311px -681px;}

.language-box-item.ru:hover .menu-popup-item-right {background: url("images/bx24-login-sprite5.png") no-repeat -311px -459px #F0F0F0 !important;}
.language-box-item.en:hover .menu-popup-item-right {background: url("images/bx24-login-sprite5.png") no-repeat -311px -500px #F0F0F0 !important;}
.language-box-item.de:hover .menu-popup-item-right {background: url("images/bx24-login-sprite5.png") no-repeat -311px -480px #F0F0F0 !important;}
.language-box-item.ua:hover .menu-popup-item-right {background: url("images/bx24-login-sprite5.png") no-repeat -311px -536px #F0F0F0 !important;}
.language-box-item.la:hover .menu-popup-item-right {background: url("images/bx24-login-sprite5.png") no-repeat -311px -681px #F0F0F0 !important;}

.language-value {
    color: #727a87;
    display: inline-block;
    font-size: 12px;
    line-height: 11px;
    margin-top: 5px;
    vertical-align: top;
}


.errortext,
.notetext {
    background: #f9ebee;
    border: 1px solid;
    border-color: #d5c1b4 #e6d2cd #f2dedf;
    border-radius: 6px;
    font-weight: bold;
    color: #bb404c;
    font-size: 14px;
    min-height: 16px;
    margin: 0 0 12px;
    text-shadow: 0 1px rgba(255,255,255,.89);
    padding: 10px 0 10px 42px;
    position: relative;
}

.notetext {
    background-color: #d6eecd;
    border-color: #b8cb9f #c7dcb6 #d1e8c6;
    color: #33823d;
    padding: 10px 0 10px 16px;
}

.errortext:before {
    background: url(images/bx24-login-sprite5.png) no-repeat -293px -416px  ;
    content:"";
    height: 17px;
    left: 12px;
    margin-top: -9px;
    top: 50%;
    position: absolute;
    width: 19px;
}

.login-text-title {
    color: #505a6a;
    border-bottom: 1px solid #ecedee;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.login-text {
    color: #727a87;
    font-size: 14px;
    line-height: 22px;
}

.login-text-padding {
    padding: 0 46px;
}

.login-text-img {
    text-align: center;
}

.log-popup-caption-wrap {
    bottom: -1px;
    left: 0;
    height: 1px;
    position: absolute;
    width: 100%;
}

.log-popup-caption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 25px;
    text-align: center;
    width: 100%;
}
.log-popup-caption a {
    color: #1B315A;
    -webkit-transition: color 500ms ease;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
}
.log-popup-caption a:hover {
    color: #FFF;
}

.log-creation-title {
    padding: 30px 0 37px;
    text-align: center;
}

.log-creation-title-text {
    color: #21619a;
    font-size: 38px;
}

.log-creation-title-descript {
    color: #555;
    font-size: 24px;
}

.log-status-bar {
    margin-bottom: 12px;
    text-align: center;
}

.log-status-bar-block {
    background-color: #766c51;
    border-top: 1px solid #5c543f;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 0 #766c51;
    box-shadow: inset 0 1px 0 #766c51;
    display: inline-block;
    margin-top: 28px;
    height: 23px;
    padding: 0 2px;
    width: 580px;
}

.log-status-bar-stripe-wrap {
    height: 20px;
    position: relative;
}

.log-status-bar-stripe {
    background: url(images/bx24-login-sprite5.png) repeat-x 0 -817px;
    border-radius: 12px;
    height: 20px;
    left: 0;
    top: 1px;
    position: absolute;
}

.log-status-bar-descript {
    color: #555;
    font-size: 17px;
    text-align: center;
    text-shadow: 0 1px #fff;
    padding: 6px 0 3px;
}

.log-popup-finish-text {
    color: #555555;
    font-size: 24px;
    text-align: center;
}

.log-popup-finish-text .login-item-link {
    border: none;
    font-size: 24px;
    text-decoration: underline;
}

.log-finish-btn-wrap {
    padding: 16px 0 0;
    text-align: center;
}

.log-creation-finish-title {
    padding-bottom: 18px;
}

.log-header-additional-wrap {
    display:inline-block;
    text-align: right;
}
.log-header-additional-text {
    border-bottom: 2px solid #cdf0ff;
    color: #2fc6f7;
    vertical-align: bottom;
    text-decoration: none;
    font-family: Roboto;
    line-height: 20px;
    position: relative;
    bottom: 3px;
    -webkit-transition: border-color ease-in-out .1s;
    transition: border-color ease-in-out .1s;
    font-size: 14px;
    text-transform: uppercase;
}

.login-tr-btn {
    color:#2fc6f7;
    border: 2px solid #2fc6f7;
    display: inline-block;
    outline: none !important;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-family: Roboto;
    border-radius: 20px;
    padding: 0 30px;
    height: 40px;
    line-height:40px;
    font-size: 21px!important;
}

.login-tr-btn:hover  {color: #1ab8eb !important; border: 2px solid #1ab8eb;}
.login-tr-btn.login-btn:active {color: #1ab8eb !important;border: 2px solid #1ab8eb;}

.developed {
    margin-top: 15px;
    color: #ccc;
}
.developed a,
.developed a:hover {
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
    opacity: .7;
}

.text-nowrap {
    white-space: nowrap !important;
}

.auth_form_block {
    border: solid 1px;
    text-align: center;
    position: absolute;
}