@keyframes alertUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes alertDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes alertHide {
    0% {
        transform: translateY(0%);
    }
    99% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes opacityUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wave{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

@-webkit-keyframes wave{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

sup {
    vertical-align: super;
}

.fieldRequire {
    color: red;
}

@media screen and (max-width: 768px) {
    .header__col3 {
        margin-top: 0px;
    }
}

.eng-version .header__col3 {
    margin-top: 25px;
}
.comversion .header__col3 {
    margin-top: 25px;
}
@media screen and (max-width: 768px) {
    .eng-version .header__col3 {
        margin-top: 0px;
    }
}


.glasses{
    position: absolute;
    /* left: 43px; */
    right: 153px;
    top: 7px;
    width: 30px;
    height: 30px;
    z-index: 10;
}
.eng-version .glasses {
    display: none;
}
.message-happy{
    position: absolute;
    right: 209px;
    top: 7px;
    z-index: 10;
    font-size: 0.8em;
    color: #888888;
}
/* .eng-version .message-happy {
    display: none;
} */
@media screen and (max-width: 1368px) {
    .glasses {
        /* left: 235px; */
        /* top: 50px; */
        top: 16px;
    }
    .message-happy {
        top: 16px;
        font-size: 12px;
    }
}

@media screen and (max-width: 920px) {
    .glasses {
        /* left: 33px;
        top: 83px; */
    }
    .message-happy {

    }
}
@media screen and (max-width: 768px) {
    .glasses {
        right: 88px;
        top: 15px;
        left: unset;
    }
    .mobile-lang{
        display: none;
    }
    .message-happy {
        top: 34px;
        right: 28px;
    }
}
@media screen and (max-width: 700px) {
    .message-happy {
        text-indent: -999999px;
        width: 30px;
        height: 30px;
        right: 153px;
        top: 15px;
        background: url('img/convert.svg') center center no-repeat;
        background-size: 20px 20px;
    }
}
.glasses svg{
    width: 100%;
    height: 100%;
}
.glasses-on .b-menu li > ul {
    bottom: -61px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.glasses-on .glasses svg:nth-of-type(2){
    display: block;
}
.glasses-on .glasses svg:nth-of-type(1),
.glasses svg:nth-of-type(2){
    display: none;
}
.glasses-on .main-info .ttl {
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
}
.glasses:hover svg path{
    fill:#00a8ec;
}
.glasses:hover{
    cursor: pointer;
}
.glasses-on .b-advantage,
.glasses-on .footer {
    background-color: black;
}
/* .glasses-on .menu-emptylegs-btn2 .menu-emptylegs span::after, */
.glasses-on .main-info__bg,
.glasses-on  .btn-order,
.glasses-on  #fleet .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
.glasses-on #fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
.glasses-on  #fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr,
.glasses-on  #fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr {
    display: none;
}

.glasses-on #fleet .wrapper_1544 .slider_wr .slider_fleet .item p{
    border: 1px solid #000000;
    padding: 20px 10px;
    margin: 20px;
}
body.glasses-on .main-info .ttl{
    width: 100%;
}
body.glasses-on .main-info__col-1,
body.glasses-on .b-offer__right,
body.glasses-on .main-info__col-2{
    float:unset;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
}
body.glasses-on .b-advantage__order span,
body.glasses-on .footer a{
    color: white;

}
/* .glasses-on #details .wrapper_1920 .slider_details .item section .right_block {
    float: none;
} */
.glasses-on .b-offer {
    background: none;
    height: auto;
    padding-bottom: 60px;
}
.glasses-on .b-info__img {
    width: 0;
    opacity: 0;
}
.glasses-on.menu-emptylegs-btn2 .menu-emptylegs span::after{
    display: none;
}

.glasses-on .glasses {
    width: 50px;
    height: 50px;
    right: 203px;
    top: -1px;
}

.glasses-on .flot-list__l:hover  span,
.glasses-on .flot-list__l:hover  div{
    color: white;
}
.glasses-on .flot-list__l:hover {
    color: #7e7e7e;
    color: #ffffff;
    background: black;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.glasses-on .b-smi__i{
    border: 1px solid black;
}
.glasses-on .mobile .mobile-scroll.visible {

}
.glasses-on .flot-list__l2 {
    background: #dddddd;
}
.glasses-on  .flot-list__row > div:last-child{
    border-right: 75px solid white;
}
.glasses-on  .flot-list__row > div:first-child{
    border-left: 75px solid white;

}
.glasses-on .single-flot_t {
    margin-top: 70px;
}
.logo-black{
    display: none;
}
.glasses-on .logo-black{
    display: inline;
}
.glasses-on .logo-norm{
    display: none;
}


.glasses-on.mobile .mobile-scroll.visible,
.glasses-on .air-mod a i,
.glasses-on .aircraft-3d{
    display: none;
}
.glasses-on .air-mod a._on div{
    color: white;

}

.glasses-on .aircraft-param{
    background: black;
}
.glasses-on .air-mod a._on{
    background: black;
    border-radius: 6px;
    color: white;
}
.glasses-on .air-mod a._on .air-lk-d{
    border-bottom: none;
}
.glasses-on .air-mod a{
    border-top: none;
}
.glasses-on .lkforair{
    top: 190px;
}

/* .glasses-on #details .wrapper_1920 .slider_details .item section.on, #details_partners .wrapper_1920, */
/* .glasses-on .tabs, */
.glasses-on .b-offer__left,
.glasses-on .b-advantage__order,
.glasses-on .b-advantage__btn,
.glasses-on #big_stuff,
.glasses-on #details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
.glasses-on #details .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
.glasses-on #details .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
.glasses-on .b-advantage__i__line,
.glasses-on .footer .b-menu,
.glasses-on .b-info-order,
.glasses-on .footer-col1,
.glasses-on .footer-col,
.glasses-on .breadcrumbs,
.glasses-on .b-smi__i__img,
.glasses-on #gotop,
.glasses-on .single-flot_t h1:after,
.glasses-on .single-flot_t h1:before,
.glasses-on .single-flot_t span:after,
.glasses-on .single-flot_t span:before,
.glasses-on .air-mod__in:before,
.glasses-on .air-mod a._on:after,
.glasses-on .air-mod a._on:before,
.glasses-on .b-info__img ,
.glasses-on .air-mod__in:after,
.glasses-on .aircraft-slider,
.glasses-on .aircraft-calc,

.glasses-on .b-menu._mod1 > li > a.special-for-ilya,
.glasses-on .b-menu._mod2 > li > a.special-for-ilya,
.glasses-on .b-info__lk,
.glasses-on .just-photo{
    display: none;
}
.glasses-on .lang-tabs__link._active{
    background: #000000;
    padding:0 10px;
    border-radius: 5px;
    color: white;
}
.glasses-on .b-search,
.glasses-on .b-social{
    display: none !important;
}
.glasses-on .b-date {
    text-align: center;
}
.glasses-on .air-mod{
    margin-top: 0px;
}
.glasses-on .footer-col2{
    float: none;
    /* height: 300px; */
    left: unset;
    right: unset;
}
.comversion .glasses {
    display: none !important;
}

body.glasses-on .b-advantage__i__tx,
body.glasses-on #details .wrapper_1920 .slider_details .item section .left_block .item_mini p,
body.glasses-on #details .wrapper_1920 .slider_details .item section .right_block .item_mini p,
body.glasses-on #fleet .wrapper_1544 .slider_wr .slider_fleet .item p,
body.glasses-on #fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item p,
body.glasses-on #fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item p,
body.glasses-on #fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item p,
body.glasses-on a,
body.glasses-on h1,
body.glasses-on h2,
body.glasses-on h3,
body.glasses-on .t-3,
body.glasses-on .the-content ul,
body.glasses-on .ttl,
body.glasses-on .category-list__i__date,
body.glasses-on .category-list__i__tx,
body.glasses-on .b-offer__tx,
body.glasses-on .flot-list__t ,
body.glasses-on span,
body.glasses-on .main-info .details a,
body.glasses-on .b-articles__date,
body.glasses-on .b-news__i__tx,
body.glasses-on .copyrights,
body.glasses-on .flot-list__l > div,
body.glasses-on p {
    color: #000000;
    font: 24px/32px Roboto, Arial, sans-serif;
    font-weight: 500;
}

body.glasses-on .aircraft-data__i__t{
    font: 24px/32px Roboto, Arial, sans-serif;
    font-weight: 500;
}
body.glasses-on .flot-list__t {
    background: black;
}
body.glasses-on h1{
    font: 43px/45px Roboto, Arial, sans-serif;
}

body.glasses-on .b-articles__t,
body.glasses-on .air-lk-d,
body.glasses-on .b-offer__t{
    font-weight: 500;
    color: #000000;
}

body.glasses-on .flot-list__row > div:first-child {
    /* border-left: 75px solid black; */
}
body.glasses-on .b-advantage__i:hover {
    background-color: white;
    color: black;
}
body.glasses-on .b-advantage__i:hover .b-advantage__i__tx {
    color: black;
}
body.glasses-on .b-menu._mod2 > li._active > a,
body.glasses-on .b-menu._mod2 > li._active  > a:hover {
    border:1px solid black;
    border-radius: 8px;
    background: #000000;
}
body.glasses-on .b-menu._mod2 > li._active > a span,
body.glasses-on .flot-list__t ,
body.glasses-on .b-menu._mod2 > li._active  > a:hover span{
    color: white;
}

body.glasses-on .b-menu._mod2 > li > a:hover {
    border:1px solid black;
    border-radius: 8px;
    color: #000000;
    background: white;
}

body.glasses-on .plus-list-down {
    border-color: black;
}
body.glasses-on .b-menu._mod2 > li._active > a:before, body.glasses-on .b-menu._mod2 > li._active > a:after {
    display: none;
}

body.glasses-on .b-menu {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
body.glasses-on .footer-col2{
    width: 100%;
}
body.glasses-on .copyrights,
body.glasses-on .b-advantage__i__tx{
    color: white;
    margin-top: 0;
}
@media screen and (max-width: 1336px) {
    .glasses-on .glasses {
        top: 7px;
    }
}
@media screen and (max-width: 768px) {
    .glasses-on .glasses {
        right: 93px;
        top: 3px;
    }
}
@media screen and (max-width: 425px) {
    .glasses-on .glasses {
        right: 60px;
        top: 11px;
        width: 40px;
        height: 40px;
    }
    .glasses-on .main-info .ttl {
        font-size: 38px;
        line-height: 38px;
    }
}

















.animation-js .line{
    height:12px;
    margin:0;
    margin-bottom: 3px;
    background: #e8e8e8;
    animation: wave 1s infinite linear forwards;
    -webkit-animation:wave 1s infinite linear forwards;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
}
.animation-js .line:nth-child(3n+1) {
    width: 350px;
}
.animation-js .line:nth-child(3n+2) {
    width: 80%;
}
.animation-js .line:nth-child(3n) {
    width: 69%;
}

.animation-js-date .line:nth-child(3n+1) {
    width: 180px;
    height: 12px;
}
.animation-js-city .line:nth-child(3n+1) {
    height: 17px;
}
.animation-js-plane .line:nth-child(3n+1) {
    height: 40px;
    width: 270px;
}
.animation-js-photo .line:nth-child(3n+1) {
    width: 100%;
    height: 100%;
}
.animation-js-plane:before {
    display: none;
}
.animation-js-price .line:nth-child(3n+1) {
    height: 20px;
    width: auto;
}

.animation-js span.line {
    display: inline-block;
    margin-bottom: 0px;
    width: 150px !important;
}


.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: rgba(30,30,30,.85);
    overflow: auto;
    z-index: 201;
    display: flex;
    align-items: baseline;
    opacity: 0;
    overflow-y: scroll;
}
.alert_success {
    opacity: 1;
    /* transition: opacity .5s linear; */
    animation: opacityUp .5s linear;
}
.alert_no-animation {
    animation: unset;
}
.alert_close {
    opacity: 0;
    transition: opacity .5s linear;
    transform: translateY(100%);
    animation: alertHide .5s linear;
    overflow-y: hidden;
}
.alert-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: #193862;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.alert-close:after,
.alert-close:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 1px;
    margin-top: 0px;
    margin-left: -8px;
    background: #fff;
    transform: rotate(45deg);
}
.alert-close:before {
    transform: rotate(-45deg);
}
.alert-close:hover {
    background: #00A8EC;
    transition: all .3s;
}
.alert-background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}


.main-w_plane {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding-bottom: 23px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
    background: #fff;
    transform: translateY(0%);
    will-change: transform;
    animation: alertUp .5s ease-out;
}
.alert_close .main-w_plane {
    transform: translateY(100%);
    animation: alertDown .5s ease-in;
}

.plane__t {
    font-size: 42px;
    line-height: 44px;
    text-align: center;
    color: #193862;
}
.plane__type {
    /* text-align: center; */
    font-size: 25px;
    color: #193862;
}
.plane__param {
    display: table;
    width: 100%;
    margin: 18px auto 0;
}
.plane__param__row {
    display: table-row;
}
.plane__param__t,
.plane__param__value {
    display: table-cell;
    font-size: 18px;
    border-top: 1px solid #E5E5E5;
    height: 48px;
    vertical-align: middle;
}
.plane__param__t {
    color: rgba(25, 56, 98, 0.55);
    padding-left: 19px;
}
.plane__param__value {
    color: #193862;
}
.plane__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
    padding: 27px 28px 26px 30px;
    background: #EDF9FF;
    border-radius: 0px 0px 10px 10px;
}
.plane__price {
    color: #193862;
    font-size: 50px;
}
.plane__price span {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}
.plane__price .price_request {
    font-size: 25px;
    margin-top: 0px;
}
.alert-plane .mlt-intem__buy-btn {
    line-height: 50px;
}
.plane__link-page {
    position: relative;
    display: block;
    border: 1px solid #E5E5E5;
    padding: 12px 50px 13px 23px;
    color: #00A8EC;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #fff;
    transition: all .3s;
}
.plane__link-page::before {
    content: "";
    position: absolute;
    right: 15px;
    width: 31px;
    height: 29px;
    background-image: url(https://sirius-aero.ru/bitrix/templates/sirius/img/plane.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.plane__link-page:hover {
    /* background-color: #f9f9f9; */
    border-color:#00A8EC;
    transition: all .3s;
}
.plane__route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.plane__route__ar {
    position: relative;
    font-size: 18px;
    color: #193862;
    padding: 17px 0;
    flex-grow: 1;
}
.plane__route__ar span {
    display: block;
    color: #00A8EC;
    font-size: 34px;
}
.plane__route__ar:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #193862;
}
.plane__route__from {
    padding-left: 33px;
    flex: 0 0 30%;
}
.plane__route__from:before {
    left: -1px;
    border-radius: 0px 10px 10px 0px;
}
.plane__route__to {
    padding-right: 33px;
    text-align: right;
    flex: 0 0 30%;
}
.plane__route__to:before {
    right: -2px;
    border-radius: 10px 0px 0px 10px;
}
.plane__route__center {
    position: relative;
    border-top: 2px dotted #EDF9FF;
    height: 1px;
    flex-grow: 2;
    margin: 0 10%;
}
.plane__route__center::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 80px;
    height: 37px;
    margin: -19px 0 0 -40px;
    background-color: #fff;
    background-image: url(https://sirius-aero.ru/bitrix/templates/sirius/img/plane.svg);
    background-position: center;
    background-repeat: no-repeat;
}






.formMainOrder-ask{
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    max-width: 360px;
    border-bottom: 1px solid #eee;
    margin: 0 auto;
}
.form-orderMtl-below {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1e1e1e;
    opacity: .87;
}
.form-orderMtl {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: baseline;
    z-index: 201;
    overflow-y: scroll;
}
.form-orderMtl_active {
    display: flex;
    Padding: 15px;
}
@media screen and (max-width: 450px) {
    .form-orderMtl_active {
        Padding: 0;
    }
}
.modal-form {
    position: relative;
    width: 100%;
    max-width: 650px;
    padding: 40px 0px 70px;
    background: #fff;
    color: #193862;
}
.modal-form_hide {
    display: none;
}
.modal-form__t,
.modal-form__date {
    font-size: 16px;
    text-align: center;
}
.modal-form__cities,
.formMainOrder-title {
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    line-height: normal;
}
.modal-form__date {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 26px;
}
.modal-form__success {
    position: relative;
    display: none;
    background: #fff;
}
.modal-form__success_active {
    display: block;
}


.form__item .it.it_error {
    border-color: #f00;
}
.form__item {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__item_no-flex {
    display: block;
}
input.form-orderMtl__close {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    padding: 0 10px;
    cursor: pointer;
}
.ui-datepicker-buttonpane {
    border: none;
}
.ui-datepicker-buttonpane .ui-datepicker-current {
    display: none;
}
.ui-datepicker-buttonpane .ui-datepicker-close {
    padding-right: 0px !important;
}
.modal-form__filds{
    max-width: 360px;
    /* min-width: 300px; */
    margin: 0 auto;
}
.form__item p{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.form__item .form-orderMtl__submit{
    width: 100%;
    background: #193862;
    height: 50px;
    border-radius: 5px;
    border: 0;
    color:white;
    font-size: 18px;
    margin-top: 30px;
}
.form__item .form-orderMtl__submit:hover{
    background: #00A8EC;
}
.form__item-select{
    margin-top: 20px;
    padding: 0px 10px;
    border: 1px solid #193862;
    border-radius: 6px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    height: 50px;
    cursor: pointer;
}
#modal-form__select-pass_shttl {
    height: 50px;
    font-size: 20px;
    position: absolute;
    background: transparent;
    left: 0;
    padding-left: calc(100% - 55px);
    padding-right: 10px;
    cursor: pointer;
}
#modal-form__select-pass_shttl option {
    font-size: 16px;
}
#modal-form__select-pass_shttl option:nth-child(2n) {
    background-color: #e3e1e1;
}
#modal-form__select-pass{
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background: #F5F5F5;
    border-radius: 3px;;
}

.plane__period-w {
    text-align: center;
}
.plane__period {
    display: inline-block;
    background: #fff;
    padding: 14px 43px;
    color: #193862;
    font-size: 25px;
    border: 1px solid #eee;
    border-radius: 10px;
    transform: translateY(-50%);
}

.plane__info {
    display: flex;
    margin-top: 32px;
    padding: 0 21px;
}
.plane__info__column {
    width: 50%;
}
.plane__info__column:first-of-type {
    padding-right: 10px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.plane__info__column:first-of-type + .plane__info__column {
    padding-left: 10px;
}
.plane__img img {
    max-width: unset;
    /* border-radius: 10px; */
    display: none;
    max-height: 402px;
    margin-bottom: 0;
    cursor: pointer;
}
.plane__img a:first-of-type img {
    display: block;
}


.mil-item__price span {
    display: block;
    font-size: 15px;
    line-height: 17px;
    color: #00A8EC;
}
.mil-item__price .price_request {
    color: #193862;
    font-size: 15px;
    line-height: 40px;
    text-align: right;
}
.mlt-item {
    min-height: 178px;
}
.mlt-item__photo_on {
    position: relative;
}
.mlt-item__photo_on .animation-js-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.the-content .mlt-item__photo img {
    position: relative;
}



#gotop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: fixed;
    right: -50px;
    bottom: 60px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
    z-index: 100;
    cursor: pointer;
    background: #27487b;
    border-radius: 3px;
}
#gotop.visible {
    right: 20px;
}
.fa-angle-up:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(45deg);
    margin-top: 7px;
}
.ui-tabs-hide {
    display: none;
}
#forms-order-wrap .ui-widget-content.ui-tabs-hide {
    display: none;
}
#forms-order-wrap #tabs .nav-tabs .nav, .forms-order-wrap .tabs .nav-tabs .nav {
    display: inline-block;
    float: left;
}
#forms-order-wrap #tabs .nav-tabs:after, .forms-order-wrap .tabs .nav-tabs:after {
    content: '';
    clear: both;
    display: table;
}

.modal-form__success {
    padding: 30px;
    color: #193862;
    font-size: 16px;
}
.plane__bottom .mlt-intem__buy-btn {
    border-radius: 10px;
}


.b-app-info {
    padding: 30px 0 15px;
}
.b-app-info__t {
    margin-bottom: 30px;
    font-weight: 300;
    color: #0f204a;
    text-align: center;
    font-size: 25px;
}
.b-app-info__list {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .b-app-info {
        padding: 15px 0 10px;
    }
    .b-app-info__t {
        margin-bottom: 15px;
        font-size: 17px;
    }
    .b-app-info .gplay,
    .b-app-info .appstore {
        width: 120px;
        height: 45px;
    }
}


@media screen and (max-width: 1000px) {
    .plane__info {
        flex-direction: column;
    }
    .plane__info__column {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .plane__info__column:first-of-type {
        padding-right: 0px;
        display: block;
    }
    .plane__info__column:first-of-type + .plane__info__column {
        padding-left: 0px;
    }
    .plane__info__column:first-of-type {
        /* text-align: center; */
        margin-bottom: 15px;
    }
    .plane__img img {
        max-width: 600px;
        margin: 0 auto;
        border-radius: 10px;
    }
    .plane__type {
        text-align: center;
    }
    .plane__img.plane__info__column .line {
        height: 250px;
        max-width: 60%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .mlt-item__photo .animation-js-photo .line {
        height: 178px;
    }
    .mil-item__price {
        padding: 10px 0;
        flex-direction: column;
        line-height: 30px;
    }
    .mil-item__price .animation-js {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mil-item__price .animation-js .line {
        width: 80%;
    }
    .mil-item__price .price_request {
        text-align: center;
    }
    .alert-close {
        right: 2px;
        top: 2px;
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width: 500px) {
    .plane__t {
        font-size: 26px;
        line-height: 28px;
    }
    .plane__img img {
        max-width: 100%;
    }
    .plane__period {
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .plane__period_shttl {
        padding: 14px 33px;
        font-size: 20px;
    }
    .plane__period .mlt-item__time-period__info__time {
        font-size: 12px;
    }
    .plane__period_shttl .mlt-item__time-period__info__time {
        font-size: 15px;
    }
    .plane__route__ar {
        font-size: 13px;
    }
    .plane__route__ar span {
        font-size: 24px;
    }
    .plane__route__ar {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .plane__route__from {
        padding-left: 24px;
    }
    .plane__route__to {
        padding-right: 24px;
    }
    .plane__info {
        margin-top: 18px;
    }
    .plane__type {
        font-size: 20px;
    }
    .plane__param__t, .plane__param__value {
        font-size: 13px;
        height: 44px;
    }
    .plane__param__t {
        padding-left: 5px;
    }
    .shuttle-descr {
        padding-left: 0;
    }
    .descr-undert {
        font-size: 14px;
    }
    .descr-list {
        font-size: 13px;
    }
    .plane__link-page {
        padding-left: 5px;
        font-size: 14px;
    }
    .plane__bottom {
        flex-direction: column;
        padding: 14px 10px 12px 10px;
    }
    .plane__bottom .mlt-intem__buy-btn {
        margin-top: 10px;
    }
    .plane__price {
        text-align: center;
        font-size: 35px;
    }
    .plane__price span {
        font-size: 17px;
    }
    .plane__img.plane__info__column .line {
        max-width: 100%;
    }
    .plane__type .line {
        margin: 0 auto;
    }
    .plane__price .line {
        margin: 0 auto;
    }
    .plane__t .animation-js .line {
        width: 70%;
    }
    .plane__period  .animation-js .line {
        width: 100px !important;
    }
    .mlt-item__cities .animation-js-city .line {
        width: 80%;
    }
    .mlt-item_plane .animation-js-plane .line {
        width: 60%;
    }
    .mlt-intem__buy-btn {
        padding-top: 3px;
        padding-bottom: 3px;
        line-height: 22px;
    }
}
@media screen and (max-width: 450px) {
    .modal-form__filds{
        padding: 0 15px;
    }
    .form__item .it {
        width: 170px;
    }
    .mlt-item_plane span {
        /* display: block; */
        /* padding-left: 0px; */
        line-height: 13px;
    }
    .mlt-item_plane span:after {
        /* display: none; */
    }
}
@media screen and (max-width: 370px) {
    .alert-close {
        right: -13px;
        top: -16px;
        width: 25px;
        height: 25px;
    }
    .alert-close:after, .alert-close:before {
        width: 12px;
        margin-left: -6px;
    }
}






/* ----------datepicker----------- */
.ui-datepicker .ui-datepicker-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #1B315A;

}
.ui-widget-content.ui-datepicker{
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(32,52,60,0.1);
}
.ui-datepicker {
    width: 260px;
    padding: .2em 1em 0;
}
.ui-datepicker th,
.ui-state-default,
.ui-widget-content .ui-state-default
.ui-state-default,
.ui-widget-content .ui-state-default{
    font-weight: 300;
    color: #1B315A;
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto;
    border: 1px solid transparent;
}
.ui-datepicker thead{
    border-bottom: 1px solid #EFEFF1;
}
.ui-state-default,
.ui-widget-content
.ui-state-default,
.ui-widget-header{
    background:none;
    border: none;
    text-align: center;
}
.ui-state-default {
}
.ui-datepicker th{
    color: #7C7C7C;
    font-size: 12px;
}
.custom .ui-state-active {
    background: #1B315A;
    color: #ffff;
    border-radius: 50%;
}
.ui-state-highlight



    /* ----------Autocomplete----------- */

.ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-menu {
    font-family: Roboto;
    font-size: 14px;
    background-color: white;
    width: 200px;
    padding: 10px 0;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ui-menu .ui-menu-item a {
    color: #4F4F4F;
    display: block;
    text-decoration: none;
    transition: none;
    padding: 0 10px ;
    border-radius: 0;
}
.ui-menu .ui-menu-item a:hover {
    background: #708090;
    color: #FFFFFF;
    border:0;
}
.ui-menu .ui-menu-item:hover {
    display: block;
    color: #3D3D3D;
    cursor: pointer;
    background-color: lightgray;
    background-image: none;
    border:0;
}
.ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-focus {
    /* border: 1px solid lightgray; */
    background-image: none;
    background-color: lightgray;
    color: #3D3D3D;
}

.modal-city-it {
    display: none;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    /* z-index: 50; */
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 300;
    max-height: 300px;
    overflow-y: scroll;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    z-index: 2;
}
.modal-city-from_active {
    display: block;
}
.modal-city-to_active {display: block;}
.autocom {
    padding: 5px 20px;
    cursor: pointer;
}
.autocom:hover,
.autocom_active {
    background: rgba(0,0,0,.05);
    color: #27487b;
}
.autocom-airport {
    position: relative;
    padding-left: 20px;
    padding-right: 60px;
}
.autocom-airport span{
    /* text-align: right; */
    /* width: auto; */
    position: absolute;
    right: 10px;
    top: 5px;
    color: #bdbdbd;
}

/* ----------main-order-block----------- */

.main-order-block{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 27px;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 10;
    padding: 0 20px;
    /* -webkit-animation: upper 0.5s linear;
    animation: upper 0.5s linear; */
    min-width: 1024px;
    will-change: transform;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.main-order-block_active {
    transform: translateY(0px);
    opacity: 1;
}

.pointer{
    color: #00a8ec;
}

@keyframes upper{
    0%{
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
.main-order-block__slogan{
    font-weight: 300;
    font-size: 31px;
    padding-left: 20px;
    color: #FFFFFF;
}
.main-order-block__form{
    display: flex;
    position: relative;
    margin-top: 20px;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .4s;
}
.main-order-block__form_cryak {

}
.main-order-block__form_cryak {

}
.main-order-block__form_cryak {

}
.main-order-block__form_cryak {
    background: transparent;
}
.main-order-block__form_cryak .mof-input {
    display: none;
}
.for-cryak {
    display: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding: 12px 10px
}
.for-cryak__date {
    font-size: 8px;
    line-height: 14px;
    white-space: nowrap;
    padding-left: 5px;
}
.for-cryak__routes {
    font-size: 12px;
    line-height: 14px;
}
.main-order-block__form_cryak .for-cryak {
    display: flex;
}
.mof-input{
    height: 68px;
    flex: auto;
    /* padding-left: 20px; */
    border-left: 1px solid #EFEFF1;
    position: relative;
}
.mof-input:last-of-type{
    margin-right: 110px;
}

.input-label{
    position: absolute;
    left: 30px;
    top: calc(50% - 8px);
    line-height: 16px;
    font-size: 16px;
    color: #7C7C7C;
    z-index: 9;
    -webkit-transition: .2s;
    transition: .2s;
    padding-left: 4px;
}
.input-label.label-active{
    font-size: 12px;
    /* line-height: 48px; */
    top: calc(36% - 8px);
}
.input-label__error {
    color: #00a8ec;
    color: red;
}
.mof-input-item:focus +.input-label{
    font-size: 12px;
    top: calc(36% - 8px);
}
.mof-input-item{
    width: 100%;
    padding-top: 15px;
    font-size: 16px;
    color: #193862;
    height: 68px;
    background: none;
    padding-left: 34px;
    position: relative;
}
input[type="date"].mof-input-item {
    font-size: 15px;
}
.mof-input::after{
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-position: center;
    left: 8px;
    top: calc(50% - 11px);
    background-repeat: no-repeat;
    background-image: url(img/location.svg);
}
.mof-input:nth-of-type(3)::after{
    background-image: url(img/date.svg);
}
.mof-input:nth-of-type(4)::after{
    background-image: url(img/person.svg);
}
.arrival-inp,
.departure-inp{
    flex: 00 25%;
}
.mof-input:first-of-type{
    border-radius: 5px 0px 0px 5px;
    border-left: none;
}



.mof-btn{
    position: absolute;
    bottom: 54px;
    right: 21px;
    height: 48px;
    width: 90px;
    text-align: center;
    margin: 10px;
    background-color: #1B315A;
    color: #fff;
    line-height: 45px;
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgba(27, 49, 90, 0.46);
    z-index: 10;
    transition: all .2s;
    text-decoration: none;
}

.mof-btn:hover{
    cursor: pointer;
    background-color: #10507E;
    transition: all .2s;
    color: white;
}
.mof-btn:active{
    background-color: rgb(19, 74, 114);
    transition: all .2s;
    box-shadow: 0px 1px 2px rgba(27, 49, 90, 0.63);
}

.display-none{
    display: none;
}


.del-block{
    position: absolute;
    top: calc(50% - 13px);
    width: 24px;
    height: 24px;
    right: -37px;
    border-radius: 0 5px 5px 0;
    background: #19376280;
    transition: all .2s;
    border-radius: 50%;
}
.del-block::before,
.del-block::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 12px;
    background: white;
    top: calc(50% - 1px);
    left: calc(50% - 6px);
    transform: rotate(45deg);
    border-radius: 3px;
}
.del-block::after{
    transform: rotate(-45deg);

}
.del-block:hover{
    cursor: pointer;
    background: #10507E;
    transition: all .2s;
}

.main-order-block__manage-btns{
    margin-top: 25px;
    display: flex;
}
.adaptive-socials{
    display: none;
}
.mof-input_add-pass{
    position: absolute;
    right: 10px;
    top: 5px;
    display: none;
    z-index: 11;
}
.mof-input:hover .mof-input_add-pass{
    display: block;
}

.mof-input_add-pass-btn{
    width: 23px;
    height: 23px;
    background: #EFEFF1;
    border-radius: 3px;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    position: relative;
}
.mof-input_add-pass-btn:first-of-type::after,
.mof-input_add-pass-btn:last-of-type::after{
    content: "+";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.mof-input_add-pass-btn:last-of-type::after{
    content: "-";
    line-height: 20px;
}
.mobile .mof-input_add-pass-btn:first-of-type,
.mobile .mof-input_add-pass-btn:last-of-type {
    /* display: none; */
}

.mof-input_add-pass-btn:hover{
    background: #10507E;
    color: white;
    cursor: pointer;
}
.manage-btn,
.social-btn{
    font-size: 16px;
    line-height: 27px;
    padding: 0 10px;
    color: #FFFFFF;
    margin-right: 15px;
    position: relative;
    transition: all .2s;
}
.manage-btn{
    border: 1px solid white;
    border-radius: 16px;
    padding-left: 25px;

}
a.manage-btn{
    text-decoration: none;
}
a.manage-btn:hover{
    color: white;
}
.manage-btn::before{
    content: "+";
    position: absolute;
    left: 10px;
    top: 0px;
}
.manage-btn:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    transition: all .2s;
}
.manage-btn_hidden {
    display: none;
}
.social-btn{
    padding-left: 33px;
    padding-right: 0;
    display: none;
}
.social-btn::before{
    content: "";
    position: absolute;
    left: 0;
    height: 27px;
    width: 27px;
    background-color: rgba(4, 120, 172, 0.5);
    border-radius: 20px;
    background-image: url(img/telegram.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.social-btn-telegram::before{
    background-position-x: 7px;
}
.social-btn-viber::before{
    background-image: url(img/viber.svg);
}
.social-btn-whats::before{
    background-image: url(img/whatsapp.svg);
}
.social-btn:hover{
    cursor: pointer;
}
.social-btn:hover::before{
    background-color: rgba(4, 120, 172, 1);
}

/* ----------main-order-block with transfer----------- */
.mob-whith-transfer .mof-input:last-of-type{
    margin-right: 0;
}
.mob-whith-transfer .mof-btn {
    position: absolute;
    bottom: -14px;
    right: 61px;
    /* height: 68px; */
    box-shadow: 0px 3px 7px rgba(76, 76, 76, 0.6);
    width: 120px;
    text-align: center;
}
.mob-whith-transfer .main-order-block__form{
    width: calc(100% - 50px);
}
.mob-whith-transfer .mof-input{
    height: 49px;
    line-height: 49px;
}
.mob-whith-transfer .mof-input_add-pass {
    right: 1px;
    top: 0px;
}

.main-order-block__form + .main-order-block__form{
    margin-top: 5px;
}
.mob-whith-transfer .mof-input_add-pass-btn {
    width: 23px;
    height: 23px;
    margin-top: 1px;
}

.mob-whith-transfer .mof-input-item {
    padding-top: 16px;
    height: 46px;
}
.mob-whith-transfer .main-order-block__form .mof-input:last-of-type{
    border-radius: 0 5px 5px 0;
}

/* .for-cryak-hidden {
    display: flex;
    flex-wrap: wrap;
} */

.btn-close-for-modal {
    position: absolute;
    top: 15px;
    right: 17px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn-close-for-modal:after,
.btn-close-for-modal:before {
    content: '';
    position: absolute;
    left: 6px;
    right: 6px;
    top: 50%;
    height: 2px;
    background: #1B315A;
    cursor: pointer;
    transform: rotate(45deg);
}
.btn-close-for-modal:before {
    transform: rotate(-45deg);
}

@media screen and (max-width: 1000px) {
    /* .main-order-block__form{
        flex-wrap: wrap;
    }
    .mof-input:nth-of-type(3),
    .mof-input:nth-of-type(4){
        border-top:1px solid #EFEFF1;
    }
    .mof-input:nth-of-type(3){
        border-left:none;
    }
    .main-order-block__form{
        width: calc(100% - 50px);
    }
    .mof-input{
        height: 49px;
        line-height: 49px;
    }
    .mof-input {
        flex: 00 50%;
    }
    .mof-input:last-of-type{
        margin-right: 0;
    }
    .mof-btn {
        position: absolute;
        bottom: -19px;
        right: 61px;
        width: 120px;
        text-align: center;
    }
    .mof-input_add-pass {
        right: 6px;
        top: 0px;
    }
    .mof-input_add-pass-btn {
        width: 23px;
        height: 23px;
        margin-top: 1px;
    }

    .mof-input-item {
        padding-top: 16px;
        height: 46px;
    } */
}





.shadow{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(359.31deg, rgba(85, 85, 85, 0.51) 12.91%, rgba(85, 85, 85, 0) 64.57%);
    z-index: 1;
}
.just-photo{
    /* overflow: hidden; */
    z-index: 2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].mof-input-item {
    -moz-appearance: textfield;
}
input[type="number"].mof-input-item:hover,
input[type="number"].mof-input-item:focus {
    -moz-appearance: number-input;
}

input[type=number].mof-input-item::-webkit-inner-spin-button,
input[type=number].mof-input-item::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




.shuttle-left {
    width: 50%;
    padding-right: 10px;
}
.shuttle-left .plane__img {
    width: 100%;
    padding-right: 0px;
}
.shuttle-left .mlt-item_plane {
    margin-top: 35px;
    margin-bottom: 10px;
}

#ui-datepicker-div {
    position: absolute;
}

.breadcrumbs {
    padding: 18px 0;
    background: #f2f2f2;
}
.breadcrumbs__w {
    display: flex;
}
.breadcrumbs__i {
    margin-right: 20px;
    font-size: 18px;
    line-height: 21px;
    color: #BDBDBD;
}
.breadcrumbs__i__number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border: 1px solid #BDBDBD;
    border-radius: 100%;
    font-size: 19px;
    line-height: 22px;
}
.breadcrumbs__i__tx {
    border-bottom: 1px dashed #BDBDBD;
}
.breadcrumbs__i_last .breadcrumbs__i__number {
    color: #F2F2F2;
    background-color: #BDBDBD;
}
.breadcrumbs__i_active {
    color: #1B315A;
}
.breadcrumbs__i_active .breadcrumbs__i__tx {
    border-color: #1B315A;
}
.breadcrumbs__i_active .breadcrumbs__i__number {
    color: #1B315A;
    border-color: #1B315A;
}
.breadcrumbs__char {
    width: 12px;
    height: 31px;
    margin-right: 20px;
    background: url("img/arrbread.png") no-repeat center center;
}
.breadcrumbs__char_active {
    background-image: url("img/arrbreadactive.png");
}















.order-success {
    padding-top: 60px !important;
    color: #1B315A;
}
.order-success__t {
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
}
.order-success__tx {
    margin-top: 20px;
    font-size: 22px;
    line-height: 26px;
}
.order-success__data-sender {
    align-items: flex-start;
}
.order-success__data-sender__flight {
    padding-bottom: 10px;
}
.order-success__data-sender__ticket__price {
    padding-top: 15px;
    padding-bottom: 16px;
}
.order-success__data-sender__ticket__price__t {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
.order-success__data-sender__ticket__price__t_next {
    margin-top: 15px;
}
.order-success__data-sender__ticket__price__tx {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.order-success__data-sender__flight {

}
.data-sender__enter {
    padding-top: 15px;
    margin-top: 16px;
    border-top: 1px dashed #BDBDBD;;
    font-size: 24px;
    line-height: 28px;
}
.data-sender__enter span {
    font-weight: normal;
}
.data-itog-dop {
    padding: 23px 45px;
    margin-top: 20px;
    border: 1px dashed #1B315A;
    border-radius: 5px;
    font-size: 24px;
    line-height: 28px;
}
.data-itog-dop span {
    font-weight: normal;
}



@media screen and (max-width: 1266px) {
    .main-order-block{
        /* display: none; */
    }
    .photo-for-adaptive{
        display: block;
    }

    .decstop-img img,
    .decstop-img .shadow,
    .decstop-img .just-photo_text{
        display: none;
    }
    .decstop-img{
        background: unset;
    }
    .just-photo.just-adaptive{
        /* height: 220px; */
        margin-top: 0;
    }
    .just-adaptive .main-order-block{
        position: relative;
        left: unset;
        right: unset;
        bottom: unset;
        padding: 20px 20px;
        background: linear-gradient(270deg, #1B315A -0.5%, #205F8D 100%);
    }
    .just-adaptive .mof-btn {
        bottom: 74px;
    }
    .just-adaptive .main-order-block__slogan{
        padding-left: 0px;
        font-size: 2.3vw;
    }
    .just-adaptive .manage-btn{
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .just-adaptive .mob-whith-transfer .mof-btn{
        bottom: 4px;
        box-shadow: none;
        background: #044F94;
    }
    .just-adaptive .mob-whith-transfer .mof-btn:hover{
        background: #005DB4;
    }
    .just-adaptive .del-block{
        background: #044F94;
    }
    .just-adaptive .del-block:hover{
        background: #005DB4;
    }

}
@media screen and (max-width: 1000px) {
    .just-adaptive .main-order-block__form{
        flex-wrap: wrap;
        box-shadow: none;
    }
    .just-adaptive .mof-input:last-of-type {
        margin-right: 0;
    }
    .just-adaptive .arrival-inp, .just-adaptive .departure-inp {
        flex: 00 50%;
    }
    .main-order-block__manage-btns .social-btn{
        display: none;
    }
    .adaptive-socials{
        display: flex;
        padding: 20px;
    }
    .main-order-block{
        min-width: unset;
    }
    .just-adaptive .mof-btn {
        bottom: 4px;
    }
    .just-adaptive .mof-btn{
        bottom: 20px;
        box-shadow: none;
        background: #044F94;
        border-radius: 5px;
        margin: 0;
    }
    .just-adaptive .mob-whith-transfer .mof-btn{
        bottom: 20px;
        /* right: 20px; */
    }
    .just-adaptive .manage-btn{
        border-radius: 5px;
        height: 48px;
        line-height: 48px;
    }

    .just-adaptive .mof-btn:hover{
        background: #005DB4;
    }
    .adaptive-socials .social-btn{
        background: #1B315A;
        border-radius: 20px;
        padding-right: 10px;
        padding-left: 26px;

    }
    .main-order-block__manage-btns {
        margin-top: 20px;
    }
    .adaptive-socials .social-btn::before{
        background-color: unset;
    }
    .mof-input{
        border: none;
    }
    .mof-input:nth-child(even){
        border-left: 1px solid #EFEFF1;
    }
    .mof-input:nth-child(3),
    .mof-input:nth-child(4){
        border-top: 1px solid #EFEFF1;
    }

    .shuttle-left {
        width: 100%;
        padding-right: 0px;
    }
    /* .shuttle-left .plane__img {
        width: 100%;
        padding-right: 0px;
    } */
    .shuttle-left .mlt-item_plane {
        line-height: 50px;
    }
}
@media screen and (max-width: 768px) {
    .mof-input,
    .mof-input-item {
        height: 50px;
    }
    .mof-input-item {
        padding-top: 15px;
    }
    .input-label.label-active {
        font-size: 10px;
        top: calc(36% - 12px);
    }
    .mof-input_add-pass {
        right: 4px;
        top: 0;
    }.mof-input_add-pass-btn {
         width: 40px;
         height: 18px;
     }
    .mof-input_add-pass-btn:first-of-type::after, .mof-input_add-pass-btn:last-of-type::after {
        line-height: 18px;
    }
    .mof-input-item,
    .input-label,
    .manage-btn{
        font-size: 14px;
    }
    .shuttle-left .mlt-item_plane {
        border: none;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 600px) {
    .just-adaptive .main-order-block{
        padding: 10px 10px 60px;
    }
    .just-adaptive .mof-btn {
        bottom: 10px;
        left: 10px;
        right: 10px;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        width: unset;
    }
    .just-adaptive .manage-btn {
        flex: 00 32%;
        margin: 0;
        height: 55px;
        line-height: normal;
        text-align: center;
        padding: 20px 10px 10px;
        font-size: 12px;
    }
    .main-order-block__manage-btns{
        justify-content: space-between;
        margin-top: 10px;
    }
    .just-adaptive .main-order-block{background: #1B315A;}
    .mob-whith-transfer .main-order-block__form{
        width: calc(100% - 30px);
    }
    .del-block{
        right: -32px;
    }
    .manage-btn::before,
    .manage-btn::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 1px;
        margin:  0 auto;
        left: 0;
        right: 0;
        top: 10px;
        background: rgba(255, 255, 255, 0.3);
    }
    .manage-btn::after{
        transform: rotate(90deg);
    }
    .just-adaptive .mob-whith-transfer .mof-btn{
        bottom: 10px;
    }
    .just-adaptive .main-order-block__slogan {
        font-size: 3.8vw;
        line-height: 12px;
    }
    .main-order-block__form {
        margin-top: 10px;
    }
    .mof-input, .mof-input-item {
        height: 42px;
    }
    .mof-input-item,
    .input-label{
        font-size: 16px;
    }
    .mof-input-item {
        padding-left: 26px;
    }
    .mof-input::after {
        height: 13px;
        width: 13px;
        background-size: contain;
        left: 6px;
        top: calc(50% - 7px);
    }
    .input-label {
        left: 22px;
    }
}

@media screen and (max-width: 600px) {
    .just-adaptive .arrival-inp,
    .just-adaptive .departure-inp {
        flex: 00 100%;
        border-left: none;
    }
    #ui-datepicker-div{

    }
    #ui-datepicker-div.custom {
        top: calc(50vh - 130px) !important;
        left: calc(50% - 130px) !important;
    }


    .just-adaptive .arrival-inp {
        border-top: 1px solid #EFEFF1;
    }
    .mof-input:nth-of-type(3),
    .mof-input:nth-of-type(4){
        flex: 00 50%;
    }
    .input-label.label-active {
        font-size: 11px;
        top: calc(36% - 12px);
    }
    .mof-input-item {
        padding-top: 10px;
    }
    .adaptive-socials {
        justify-content: space-between;
        padding: 10px;
    }
    .adaptive-socials .social-btn {
        font-size: 12px;
        line-height: 28px;
        flex: 00 32%;
        margin: 0;
    }
    .input-label {
        top: calc(50% - 9px);
    }
    .just-adaptive .main-order-block{
        transform: translateY(0px);
        opacity: 1;
        transition: unset;
    }
    .mob-whith-transfer .mof-input {
        height: 42px;
        line-height: 42px;
    }
    .mob-whith-transfer .mof-input_add-pass {
        right: 4px;
    }
    .mob-whith-transfer .mof-input_add-pass-btn{
        width: 40px;
        height: 32px;
        margin-top: 4px;
    }
    .leg-pass:hover .input-label.label-active{
        width: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .leg-pass .input-label{
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mof-input:hover .mof-input_add-pass,
    .mof-input_add-pass{
        display: flex;
        flex-direction: row-reverse;
    }

    .mof-input_add-pass-btn{
        height: 32px;
    }
    .mof-input_add-pass-btn:last-of-type{
        margin-right: 4px;
    }
    .mof-input_add-pass-btn:first-of-type::after,
    .mof-input_add-pass-btn:last-of-type::after {
        line-height: 32px;
    }
    .photo-for-adaptive::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: -1px;
        background: linear-gradient(359.38deg, #1B315A 1.39%, rgba(27, 49, 90, 0) 50.42%);
    }
    .just-photo_text {
        font-size: 2vw;
        top: 10%;
        width: calc(100% - 40px);
    }
    .just-photo_text .company-slogan {
        font-size: 4.5vw;
        padding: 1vw 5vw;
    }
    .just-photo_text .company-slogan::before {
        border-radius: 1vw 0 1vw 0;
    }
    .just-photo_text .company-name {
        font-size: 6vw;
        text-align: right;
    }
}

.menu-emptylegs-btn1 .menu-emptylegs{
    overflow: hidden;
    display: inline-block;
    margin-bottom: -5px;
    line-height: 22px;
    /* margin-bottom: -21px;
    line-height: 52px; */
}
.menu-emptylegs-btn1 .menu-emptylegs span{
    transition: all .5s;
    display: block
}
.menu-emptylegs-btn1 .strt.menu-emptylegs span {
    position: relative;
    transform: translateY(33px);
}
.menu-emptylegs-btn1 .menu-emptylegs span::after{
    content: '% Discount';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #00A8EC;
    transition: all .5s;
    transform: translateY(-33px);
    display: block;
}
.menu-emptylegs-btn1 .b-menu._mod2 > li >  .menu-emptylegs {
    overflow: hidden;
    display: inline-block;
    margin-bottom: -20px;
    line-height: 22px;
}


.menu-emptylegs-btn1 .strt.menu-emptylegs:hover span {
    transform: translateY(0px);
}
.menu-emptylegs-btn1 .menu-emptylegs:hover span::after{
    transform: translateY(-20px) scale(.8);

}

.menu-emptylegs{

}
.menu-emptylegs-btn2 .menu-emptylegs span::after{
    content: '';
    position: absolute;
    height: 19.5px;
    width: 79px;
    top: -22px;
    left: 0;
    margin: 0 auto;
    right: 0;
    background: url(img/discount1.svg) no-repeat;
    animation: btn2-animation 4s ease 0s infinite normal ;

}
.menu-emptylegs-btn2  ._mod2 .menu-emptylegs span::after{
    top: -14px;
}

@keyframes btn2-animation{
    0%{transform: translateY(0);}
    6%{transform: translateY(0);}
    12%{transform: translateY(-6px);}
    18%{transform: translateY(0);}
    24%{ transform: translateY(-3px);}
    30%{transform: translateY(0);}
    100%{ transform: translateY(0);}
}
@keyframes btn2-animation-for-mobile{
    0%{transform: translateX(0);}
    6%{transform: translateX(0);}
    12%{transform: translateX(-6px);}
    18%{transform: translateX(0);}
    24%{ transform: translateX(-3px);}
    30%{transform: translateX(0);}
    100%{ transform: translateX(0);}
}


.menu-emptylegs-btn3 .menu-emptylegs::after{
    content: '';
    position: absolute;
    height: 19.5px;
    width: 79px;
    top: -22px;
    right: 0;
    background: url(img/discount1.svg) no-repeat;
    animation: btn3-animation 2.5s ease 0s infinite normal ;

}

@keyframes btn3-animation{
    0%{
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    3%{
        -ms-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    6%{
        -ms-transform: translateX(3px);
        transform: translateX(3px);
    }
    9%{
        -ms-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    12%{
        -ms-transform: translateX(3px);
        transform: translateX(3px);
    }
    15%{
        -ms-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    18%{
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}











@media screen and (max-width: 768px) {
    .menu-emptylegs-btn2 .menu-emptylegs span::after {
        height: 15.5px;
        top: 3px;
        left: unset;
        right: -100px;
        animation: btn2-animation-for-mobile 4s ease 0s infinite normal;
    }
    .b-menu._mod3 > li[data-count]:after {
        top: -5px;
        right: unset;
        left: 249px;
        animation: btn2-animation-for-mobile 4s ease 0s infinite normal;
    }
    .ruen .b-menu._mod3 > li[data-count]:after {
        left: 178px;
    }
}





.notify-app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    z-index: 300;
}
.notify-app_hide {
    display: none;
}
.notify-app__bg-close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
}
.notify-app__content {
    position: relative;
    width: 100%;
    padding: 0 13% 30px;
    background: #fff;
}
.notify-app__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.notify-app__logo {
    width: 100px;
    height: 100px;
    margin-top: -50px;
}
.notify-app__t {
    margin-top: 10px;
    font-weight: bold;
    color: #193862;
}
.notify-app__t-2 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #193862;
}
.notify-app__pluses {
    margin-top: 20px;
}
.notify-app__pluses__i {
    padding-left: 15px;
    background: url('/images/gal.svg') left top no-repeat;
    background-size: 10px 14px;
    font-size: 15px;
    line-height: 16px;
    color: #27487b;
}
.notify-app__pluses__i span {
    display: block;
    font-size: 12px;
    color: #00a2ff;
}
.notify-app__pluses__i + .notify-app__pluses__i {
    margin-top: 5px;
}
.notify-app__link {
    display: inline-block;
    padding: 0px 25px;
    margin-top: 20px;
    background: #27487b;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1em;
    line-height: 2em;
}



body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.header {
    padding-top: 3px;
    padding-bottom: 17px;
}
.logo {
    margin-top: 0px;
    text-align: center;
}
.just-photo {
    margin-top: 0;
}
.main {
    flex: 1 0 auto;
}
.home .main {
    display: flex;
    background: url("img/main-img2.jpg") center center no-repeat;
}
.just-photo {
    display: flex;
    width: 100%;
    align-items: center;
}
.main-order-block {
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer {
    position: relative;
}
.bx-auth {
    display: none;
}
.mof-btn {
    bottom: -10px;
    right: 10px;
    height: 68px;
    width: 90px;
    line-height: 68px;
}
.manage-btn {
    background: #fff;
    color: #1B315A;
}
.manage-btn:hover {
    background: #fff;
}
.main-order-block__add-days {
    padding-left: 35px;
}
.main-order-block__add-days::before {
    content: "";
    width: 18px;
    bottom: 0;
    background: url("img/btn-days.svg") center center no-repeat;
}
.mob-whith-transfer .mof-btn {
    bottom: -33px;
}
.main-order-block__add-days_active {
    background-color: #1B315A;
    border-color: #1B315A;
    color: #fff;
}
.main-order-block__add-days_active:hover {
    background-color: #1B315A;
}
.main-order-block__add-days_active::before {
    background-image: url("img/btn-days-white.svg");
}


.b-search {
    padding: 11px 0;
    background: #F2F2F2;
}
.b-search .main-order-block__form {
    margin-top: 0px;
    background: transparent;
    box-shadow: none;
}
.b-search .mof-input-item {
    height: 45px;
    border: 1px solid #BDBDBD;
    border-left: none;
    padding-top: 0;
    font-size: 15px;
}
.b-search .departure-inp .mof-input-item {
    border-left: 1px solid #BDBDBD;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b-search .arrival-inp .mof-input-item {
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b-search .input-label {
    top: calc(50% - 8px);
}
.b-search .input-label.label-active {
    top: calc(18% - 8px);
    font-size: 10px;
}
.b-search .mof-input::after {
    top: calc(50% - 12px);
}
.b-search .mof-input {
    height: 45px;
    border-left: none;
    flex: 00 20%;
}
.b-search .mof-input:last-of-type {
    margin-right: 0;
}
.b-search .arrival-inp,
.b-search .departure-inp {
    flex: 00 35%;
}
.b-search .mof-btn {
    position: static;
    width: 120px;
    margin: 0;
    margin-left: 10px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #1B315A;
    background: #FFFFFF;
    color: #1B315A;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: none;
}
.b-search .mof-input_add-pass-btn {
    width: 13px;
    height: 13px;
    font-size: 12px;
    line-height: 13px;
}
.b-search .mof-input_add-pass-btn:after {
    line-height: 13px;
}




















.align-right {
    text-align: right;
}










#ui-datepicker-div.custom .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 30px;
    width: 1.8em;
}
#ui-datepicker-div.custom .ui-datepicker-prev-hover, #ui-datepicker-div.custom .ui-datepicker-next-hover {
    border: none;
    cursor: pointer;
    background: rgb(236, 236, 236);
    top: 2px;
    border-radius: 3px;
}
#ui-datepicker-div.custom .ui-datepicker-prev::before, #ui-datepicker-div.custom .ui-datepicker-next::before {
    position: absolute;
    /* display: none; */
    content: "";
    width: 7px;
    right: calc(50% - 3px);
    top: calc(50% - 4px);
    height: 7px;
    transform: rotate(45deg);
    border-right: #00A8EC 1px solid;
    border-top: #00A8EC 1px solid;
}
#ui-datepicker-div.custom .ui-datepicker-prev::before {
    transform: rotate(-135deg);
    right: calc(50% - 6px);
}














.order-payment {
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
    justify-content: space-between;
}
.bank-card {

}
.bank-card__top {
    position: relative;
    width: 506px;
    padding: 23px 25px 37px;
    background: #FFFFFF;
    border: 1px solid #1B315A;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 2;
}
.bank-card__types {
    display: flex;
    align-items: center;
    padding-bottom: 23px;
    margin-bottom: 17px;
    border-bottom: 1px solid #BDBDBD;
}
.bank-card__types img {
    margin-right: 20px;
}
.bank-card__top input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    padding: 0 15px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.bank-card__top input.small {
    width: 55px;
}
.bank-card__date {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.bank-card__date input {
    margin-top: 0px;
}
.bank-card__date input:first-child {
    margin-right: 12px;
}
.bank-card__date input:last-child {
    margin-left: 12px;
}
.bank-card__bottom {
    position: relative;
    width: 506px;
    margin-left: 147px;
    margin-top: -249px;
    padding-top: 74px;
    padding-bottom: 76px;
    background: #F2F2F2;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
}
.bank-card__line {
    height: 55px;
    background: #828282;
}
.bank-card__cvc {
    margin-top: 44px;
    padding-right: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    opacity: 0.9;
    text-align: right;
}
.bank-card__cvc-code {
    margin-top: 11px;
    padding-right: 25px;
    text-align: right;
}
.bank-card__cvc-code input {
    width: 95px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
}


.payment-info {
    margin-left: 61px;
    flex: 1 0 auto;
}
.payment-info__data {
    border: 1px dashed #1B315A;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px 15px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1B315A;
}
.payment-info__data span {
    display: block;
    font-size: 22px;
    line-height: 26px;
}
.payment-info__data span.price {
    font-size: 35px;
    line-height: 41px;
}
.payment-info__data__i {

}
.payment-info__data__i + .payment-info__data__i {
    padding-top: 19px;
    margin-top: 18px;
    border-top: 1px dashed #E0E0E0;
}
.payment-info__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin-top: 30px;
    background: #00A8EC;
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}


/**
 * Calendar
 ************************************************************************************************************************************************************************************/
#search-calendar {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /* min-width: 100%; */
    /* max-height: 300px; */
    /* margin-top: 5px; */
    padding: 10px 15px 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    /* overflow-y: auto; */
    box-sizing: border-box;
    z-index: 20;
}
#search-calendar.search-calendar_active {
    display: block;
}
 .ruswidget__calendar {
    padding: 10px 15px 20px;

}
.ruswidget__calendar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ruswidget__calendar__t {
    font-size: 15px;
    font-weight: 300;
    color: #808080;
}
.ruswidget__calendar__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    color: #00A8EC;
    cursor: pointer;
}
.ruswidget__calendar__navigation:before {
    content: "";
    width: 8px;
    height: 8px;
    margin-left: -4px;
    border-right: 1px solid #00A8EC;
    border-top: 1px solid #00A8EC;
    transform: rotate(45deg);
}
.ruswidget__calendar__navigation_left:before {
    transform: rotate(-135deg);
    margin-left: 2px;
}
.ruswidget__calendar__navigation:hover {
    background: rgb(236, 236, 236);
}
.ruswidget__calendar__navigation:hover:before {
    /* border-color: #fff; */
}
.ruswidget__calendar__navigation_no-active {
    visibility: hidden;
}
.ruswidget__calendar__body {
    margin-top: 7px;
}
.ruswidget__calendar__dayWeek {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.ruswidget__calendar__dayWeek__day {
    width: 2.1rem;
    height: 2.1rem;
    line-height: 2.1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2.6rem;
    font-size: 12px;
    font-weight: 300;
    color: #ccc;
    text-align: center;
    text-transform: lowercase;
}
.ruswidget__calendar__list-days {
    margin-top: 6px;
}
.ruswidget__calendar__list-days__row {
    display: flex;
}
.ruswidget__calendar__list-days__cell {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;
    line-height: 2.1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-weight: 300;
    color: #666;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 300;
    color: #1B315A;
    font-size: 14px;
    font-family: Roboto;
}
.ruswidget__calendar__list-days__cell:hover {
    
}
.ruswidget__calendar__list-days__cell_empty {
    cursor: default;
}
.ruswidget__calendar__list-days__cell_past {
    cursor: default;
    color: #ccc;
}
.ruswidget__calendar__list-days__cell_selected {
    color: #f00;
}
.ruswidget__calendar__list-days__cell_flight:not(.ruswidget__calendar__list-days__cell_past) {
    font-weight: 600;
}
.ruswidget__calendar__list-days__cell:not(.ruswidget__calendar__list-days__cell_nochooise):hover {
    /* color: #fff;
    background: #808285; */
    background: rgba(236, 236, 236, .7);
    color: #1B315A;
}
.ruswidget__calendar__list-days__cell_direct::after {
    /* content: 'прямой'; */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    display: block;
    font-size: 9px;
    line-height: normal;
    font-weight: 400;
    color: #f00;
}
.ruswidget__calendar__list-days__cell_no-direct::after {
    content: 'пересадка';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    display: block;
    font-size: 8px;
    line-height: normal;
    font-weight: 400;
    color: #f00;
}
.ruswidget__calendar__list-days__cell_direct:hover::after,
.ruswidget__calendar__list-days__cell_no-direct:hover::after {
    color: #fff;
}
.ruswidget__calendar__bottom {
    margin-top: 10px;
}
.ruswidget__calendar__notfrom {
    padding: 10px 10px;
    border: 1px solid rgba(255,0,0,.2);
    text-align: center;
    color: #f00;
    cursor: pointer;
}
.ruswidget__calendar__notfrom:hover {
    background-color: #f00;
    color: #fff;
}