/* Tisa Admin Main Styles */

/* magnific popup */
.mfp-nav {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 32px;
  margin-top: -16px;
  position: absolute;
  top: 50%;
  z-index: 1050;
  opacity: 0.65;
  filter: alpha(opacity= 65 );
}
.mfp-nav.glyphicon-chevron-left {
  left: 0;
  margin-left: 20px;
}
.mfp-nav.glyphicon-chevron-right {
  margin-right: 20px;
  right: 0;
}
.mfp-nav:hover {
  opacity: 1;
  filter: alpha(opacity= 100 );
}






/* ====== Zoom effect ====== */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
/*

	====== Move-from-top effect ======

	*/
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}
/*

	====== 3d unfold ======

	*/
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}
/*

	====== Zoom-out effect ======

	*/
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}
/* rowlink */
.table.rowlink td:not(.rowlink-skip),
.table .rowlink td:not(.rowlink-skip) {
  cursor: pointer;
}
.table.rowlink td:not(.rowlink-skip) a,
.table .rowlink td:not(.rowlink-skip) a {
}
.table-hover.rowlink > tr:hover td,
.table-hover .rowlink > tr:hover td {
  background: #f2f2f2;
}
/* footable */
.table tbody tr td.footable-row-detail-cell {
  background: #fff;
  border-top: none;
  cursor: default !important;
}
.table tbody tr td.footable-row-detail-cell:hover {
  background: inherit;
}
/* timepicker */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker input + i {
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input,
.bootstrap-timepicker-widget table td a:hover {
}
.bootstrap-timepicker-widget table td {
  height: 20px;
}
.bootstrap-timepicker-widget table td a {
}
.bootstrap-timepicker-widget table td input {
}
.bootstrap-timepicker-widget.dropdown-menu {
  max-width: 180px;
  z-index: 1050;
}
.bootstrap-timepicker-widget.modal {
  margin: 0;
  width: auto;
}
.bootstrap-timepicker-widget.modal .modal-dialog {
  width: 240px;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 0;
}
/* timepicker */
.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 8px;
  top: 25px;
}
.irs-line {
  background: #eee;
}
.irs-min,
.irs-max {
  font-size: 10px;
  padding: 1px 3px;
  background: #e1e2e3;
  line-height: 1.3;
  top: 0;
  color: #999;
}
.irs-from,
.irs-to,
.irs-single {
  background: #aaa;
  color: #fff;
  font-size: 10px;
  line-height: 1.3;
  padding: 1px 4px;
  top: 0;
}
.irs-grid-pol {
  background: #e1e4e9;
}
.irs-grid-text {
  color: #999;
}
.irs-diapason {
  height: 8px;
  top: 25px;
  background: #2487c9;
}
.irs-slider {
  background: #777;
  border: 1px solid #fff;
  height: 22px;
  top: 17px;
  width: 10px;
}
/* validation */
.parsley-errors-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  opacity: 0;
  filter: alpha(opacity= 0 );
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.parsley-errors-list li {
  background: #c0392b;
  color: #fff;
  padding: 4px 8px;
}
.parsley-errors-list li:first-child {
  margin-top: 5px;
}
.parsley-errors-list li:last-child {
  margin-bottom: 5px;
}
.parsley-errors-list.filled {
  opacity: 1;
  filter: alpha(opacity= 100 );
}
.parsley-success {
  border-color: #64b92a !important;
}
.parsley-error {
  border-color: #c0392b !important;
}
input + .parsley-errors-list li:first-child,
select + .parsley-errors-list li:first-child,
textarea + .parsley-errors-list li:first-child {
}
/* wizard */
.wizard .steps ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wizard .steps ul li {
  float: left;
  margin: 0 10px 4px 0;
}
.wizard .steps ul li a {
}
.wizard .steps ul li a:hover,
.wizard .steps ul li a:focus {
  text-decoration: none;
}
.wizard .steps ul li a .number {
  font-size: 22px;
}
.wizard .steps ul li a .title {
  padding-left: 5px;
  vertical-align: 0;
}
.wizard .steps ul li.done a {
}
.wizard .steps ul li.current a {
}
.wizard .steps ul li.error a {
}
.wizard > .content {
  position: relative;
  overflow: hidden;
  -webkit-transition: height 375ms ease-in-out;
  transition: height 375ms ease-in-out;
}
.wizard > .content > .title {
  left: -999em;
  position: absolute;
}
.wizard > .content > .body {
  float: left;
  width: 100%;
  padding: 20px 0;
  position: absolute;
}
.wizard .wizard_pagination li.disabled .btn {
  border-color: #d3d7d7;
  background-color: #d3d7d7;
  opacity: 0.45;
  filter: alpha(opacity= 45 );
}
.wizard .wizard_pagination li.disabled .btn-link {
  color: #333;
}
/* datatables */
div.dataTables_length label {
  font-weight: normal;
  float: left;
  text-align: left;
  margin-bottom: 0;
}
div.dataTables_length select {
  min-width: 60px;
  margin-right: 4px;
}
div.dataTables_filter label {
  font-weight: normal;
  margin-bottom: 0;
  float: right;
}
div.dataTables_filter input {
}
div.dataTables_info {
  padding-top: 8px !important;
  font-size: 12px;
  color: #888 !important;
}
div.dataTables_paginate {
  float: right;
  margin: 0;
}
div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
div.dataTables_paginate ul.pagination .paginate_button {
  border: none;
  padding: 0;
  min-width: inherit;
  margin-left: 0;
}
div.dataTables_paginate ul.pagination .paginate_button:hover {
  border: none;
  background: none;
}
div.dataTables_paginate ul.pagination .paginate_button.disabled,
div.dataTables_paginate ul.pagination .paginate_button.disabled:hover,
div.dataTables_paginate ul.pagination .paginate_button.disabled:active {
  border: none;
  background: none;
}
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
}
table.dataTable,
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 2px solid #ddd;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
}
table.dataTable thead .sorting {
  background: url('../img/datatables/sort_both.png') no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: #f0f7fc url('../img/datatables/sort_asc.png') no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: #f0f7fc url('../img/datatables/sort_desc.png') no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: url('../img/datatables/sort_asc_disabled.png') no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: url('../img/datatables/sort_desc_disabled.png') no-repeat center right;
}
table.dataTable thead > tr > th {
  padding-left: 18px;
  padding-right: 18px;
}
table.dataTable th:active {
  outline: none;
}
table.dataTable.no-footer {
  border-bottom: 3px solid #ddd;
}
/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.dataTables_scroll th,
div.dataTables_scroll td {
  white-space: nowrap;
}
div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none;
}
div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}
/* TableTools styles */
div.DTTT_container {
  margin-right: 20px;
  margin-bottom: 0;
}
table.DTTT_selectable tbody tr {
  cursor: pointer;
}
div.DTTT .btn {
  color: #222222 !important;
  font-size: 12px;
}
div.DTTT .btn:hover {
  text-decoration: none !important;
}
ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
}
ul.DTTT_dropdown.dropdown-menu li {
  position: relative;
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
}
div.DTTT_collection_background {
  z-index: 2002;
}
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}
div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}
div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}
/* FixedColumns styles */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
  margin-bottom: 0;
}
div.DTFC_RightHeadWrapper table,
div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}
div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}
div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
  border-top: none;
}
@media (max-width: 768px) {
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: left;
  }
  .dataTables_wrapper .dataTables_filter label {
    float: none;
  }
  .dataTables_wrapper .dataTables_filter input {
  }
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: left;
  }
  div.dataTables_length select {
    display: inline-block;
    width: auto;
  }
  div.DTTT_container {
    padding-top: 10px;
    float: none;
  }
}
/* calendar */
.fc-header {
  background: #f0f0f0;
}
.fc-header td {
  padding: 6px 0;
}
.fc-header .fc-button {
  margin: 5px 0 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background: #fff;
  border: none;
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
}
.fc-header .fc-button.fc-state-down,
.fc-header .fc-button.fc-state-active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #2487c9;
  color: #fff;
}
.fc-header .fc-button.fc-state-disabled {
  opacity: 1;
  filter: alpha(opacity= 100 );
  background: transparent;
  color: #888;
}
.fc-header .fc-button + .fc-button {
  border-left: 1px solid #ddd;
}
.fc-header h2 {
  margin: 0;
}
.fc-header .fc-header-left {
  padding-left: 10px;
}
.fc-header .fc-header-right {
  padding-right: 10px;
}
.fc-button .fc-icon {
  font-size: 22px;
  line-height: 24px;
}
.fc-grid .fc-day-number {
  font-size: 12px;
  float: none;
  background: rgba(0, 0, 0, 0.04);
  padding: 2px;
}
.fc-grid .fc-day-content {
  padding-top: 8px;
}
.fc th.fc-day-header,
.fc th.fc-week-number {
  font-weight: normal;
  font-size: 13px;
  vertical-align: middle;
}
.fc th.fc-day-header {
  border-left: none;
  padding: 6px 0;
}
.fc th.fc-week-number {
  background: #f2f2f2;
  padding: 0 6px;
}
.fc th.fc-week-number + th.fc-day-header {
  border-left: 1px solid #ddd !important;
}
.fc td.fc-week-number {
  background: #f2f2f2;
}
.fc td.fc-week-number div {
  padding: 0;
}
.fc-event {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
a.fc-event {
  color: #fff;
  text-decoration: none;
}
a.fc-event:hover {
  text-decoration: underline;
  color: #fff;
}
.fc-state-highlight {
  background: #fcf3d0;
}
/* editable elements */
.editable-input label span {
}
.editable-input label input.input-small,
.editable-input label input.input-mini {
  font-weight: normal;
  padding: 5px;
}
.editable-input label input.input-mini {
}
.editable-input .select2-container {
}
.editable-input .select2-container .select2-choice {
}
/* typeahead */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
  color: #999;
  padding-left: 5px;
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tt-suggestion {
  display: block;
  padding: 2px 10px;
  margin: 0 6px;
  font-size: 13px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #2487c9;
}
.tt-suggestion.tt-is-under-cursor a {
}
.tt-suggestion p {
  margin: 0;
}
/* freewall (gallery, grid layout) */
/* gallery, layout grid */
.freewall_container {
  width: 100%;
  margin: 0 auto;
}
.freewall_container .freewall_item {
  float: left;
  width: 220px;
  position: relative;
  overflow: hidden;
}
.freewall_container .freewall_item > img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.freewall_container .freewall_item .item_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  filter: alpha(opacity= 0 );
  -webkit-transition: all 375ms ease-in-out;
  transition: all 375ms ease-in-out;
  padding: 10px;
  color: #fff;
  visibility: hidden;
}
.freewall_container .freewall_item .item_overlay.show_overlay {
  opacity: 1;
  filter: alpha(opacity= 100 );
  visibility: visible;
}
.freewall_container .freewall_item .item_overlay .item_select {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  text-align: left;
  z-index: 100;
  padding: 2px 4px 0;
  cursor: pointer;
}
.freewall_container .freewall_item .item_overlay .item_select .fa {
  color: #fff;
  font-size: 18px;
}
.freewall_container .freewall_item .item_overlay h4 {
  font-size: 15px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.freewall_container .freewall_item .item_overlay .item_edit,
.freewall_container .freewall_item .item_overlay .item_preview {
  position: absolute;
  color: #bbb;
  font-size: 26px;
  -webkit-transition: all 275ms ease-in-out;
  transition: all 275ms ease-in-out;
}
.freewall_container .freewall_item .item_overlay .item_edit:hover,
.freewall_container .freewall_item .item_overlay .item_preview:hover {
  color: #fff;
}
.freewall_container .freewall_item .item_overlay .item_edit {
  bottom: 17px;
  left: -100px;
}
.freewall_container .freewall_item .item_overlay .item_preview {
  bottom: 20px;
  right: -100px;
}
.freewall_container .freewall_item .item_overlay.show_overlay .item_edit {
  left: 50%;
  margin-left: -34px;
}
.freewall_container .freewall_item .item_overlay.show_overlay .item_preview {
  right: 50%;
  margin-right: -34px;
}
.freewall_container .freewall_item.item_selected .item_overlay {
  opacity: 1;
  filter: alpha(opacity= 100 );
  visibility: visible;
}
/* noty notifications */
#noty_top_layout_container,
#noty_bottom_layout_container {
  width: 98% !important;
  left: 1% !important;
}
#noty_top_layout_container {
  margin-top: 50px !important;
}
#noty_bottom_layout_container {
  margin-bottom: 10px !important;
}
.tisa_theme {
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.tisa_theme.noty_container_type_alert {
  background-color: #fff;
  border: 1px solid #eee;
}
.tisa_theme.noty_container_type_information {
  background-color: #4fbeba;
  color: #fff;
}
.tisa_theme.noty_container_type_error {
  background-color: #c0392b;
  color: #fff;
}
.tisa_theme.noty_container_type_warning {
  background-color: #d7af0d;
  color: #fff;
}
.tisa_theme.noty_container_type_success {
  background-color: #64b92a;
  color: #fff;
}
.tisa_theme.noty_container_type_confirm {
  background-color: #fff;
}
.tisa_theme .noty_message {
  padding: 10px 20px;
}
.tisa_theme .noty_close {
  position: absolute;
  top: 0;
  right: 0;
}
.tisa_theme .noty_close:before {
  position: absolute;
  top: -2px;
  right: 8px;
  content: '×';
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
}
.tisa_theme .noty_close:hover:before {
  color: rgba(0, 0, 0, 0.8);
}
.tisa_theme:hover > .noty_bar > .noty_message > .noty_close {
  color: #000;
}
.tisa_theme .noty_buttons {
  margin: 0 6px;
  padding: 6px 0;
  text-align: right;
  border-top: 1px solid #eee;
}
.tisa_theme .noty_buttons .btn + .btn {
  margin-left: 6px;
}
.tisa_theme + .tisa_theme {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.noty_modal.tisa_theme {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10000;
  display: none;
  border: none;
  left: 0;
  top: 0;
}
/* ios-style notifications */
.ui-ios-overlay {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.ui-ios-overlay .icon-holder {
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0;
  height: 68px;
  width: 100%;
}
.ui-ios-overlay .icon-holder .fa {
  font-size: 64px;
  color: #fff;
}
.ui-ios-overlay .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 26px;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.ui-ios-overlay img {
  display: block;
  margin: 20% auto 0 auto;
}
.ui-ios-overlay .spinner {
  left: 50% !important;
  top: 40% !important;
}
.ios-overlay-show {
  -webkit-animation-name: ios-overlay-show;
  -webkit-animation-duration: 750ms;
  -moz-animation-name: ios-overlay-show;
  -moz-animation-duration: 750ms;
  -ms-animation-name: ios-overlay-show;
  -ms-animation-duration: 750ms;
  -o-animation-name: ios-overlay-show;
  -o-animation-duration: 750ms;
  animation-name: ios-overlay-show;
  animation-duration: 750ms;
}
@-webkit-keyframes ios-overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes ios-overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes ios-overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes ios-overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ios-overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ios-overlay-hide {
  -webkit-animation-name: ios-overlay-hide;
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: ios-overlay-hide;
  -moz-animation-duration: 750ms;
  -moz-animation-fill-mode: forwards;
  -ms-animation-name: ios-overlay-hide;
  -ms-animation-duration: 750ms;
  -ms-animation-fill-mode: forwards;
  -o-animation-name: ios-overlay-hide;
  -o-animation-duration: 750ms;
  -o-animation-fill-mode: forwards;
  animation-name: ios-overlay-hide;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}
@-webkit-keyframes ios-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes ios-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes ios-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes ios-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ios-overlay-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* power tooltip */
/* PowerTip Plugin */
#powerTip {
  cursor: default;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
  padding: 6px 8px;
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  z-index: 2147483647;
}
#powerTip p {
  margin-bottom: 2px;
}
#powerTip:before {
  content: "";
  position: absolute;
}
#powerTip.n:before,
#powerTip.s:before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 50%;
  margin-left: -5px;
}
#powerTip.e:before,
#powerTip.w:before {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-top: -5px;
  top: 50%;
}
#powerTip.n:before {
  border-top: 6px solid #333;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  bottom: -6px;
}
#powerTip.e:before {
  border-right: 6px solid #333;
  border-right: 6px solid rgba(0, 0, 0, 0.8);
  left: -6px;
}
#powerTip.s:before {
  border-bottom: 6px solid #333;
  border-bottom: 6px solid rgba(0, 0, 0, 0.8);
  top: -6px;
}
#powerTip.w:before {
  border-left: 6px solid #333;
  border-left: 6px solid rgba(0, 0, 0, 0.8);
  right: -6px;
}
#powerTip.ne:before,
#powerTip.se:before {
  border-right: 10px solid transparent;
  border-left: 0;
  left: 8px;
}
#powerTip.nw:before,
#powerTip.sw:before {
  border-left: 10px solid transparent;
  border-right: 0;
  right: 8px;
}
#powerTip.ne:before,
#powerTip.nw:before {
  border-top: 6px solid #333;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  bottom: -6px;
}
#powerTip.se:before,
#powerTip.sw:before {
  border-bottom: 6px solid #333;
  border-bottom: 6px solid rgba(0, 0, 0, 0.8);
  top: -6px;
}
#powerTip.nw-alt:before,
#powerTip.ne-alt:before,
#powerTip.sw-alt:before,
#powerTip.se-alt:before {
  border-top: 6px solid #333;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  bottom: -6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  left: 6px;
}
#powerTip.ne-alt:before {
  left: auto;
  right: 6px;
}
#powerTip.sw-alt:before,
#powerTip.se-alt:before {
  border-top: none;
  border-bottom: 6px solid #333;
  border-bottom: 6px solid rgba(0, 0, 0, 0.8);
  bottom: auto;
  top: -6px;
}
#powerTip.se-alt:before {
  left: auto;
  right: 6px;
}
/* power tooltip */
.chat_app .contacts_table > tbody > tr > td {
  border: none;
}
.chat_app .contacts_table > tbody > tr > td:hover .contact_actions {
  display: block;
}
.chat_app .contacts_table .stat {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #ffffff !important;
}
.chat_app .contacts_table .stat_offline {
  background: #cb1111;
}
.chat_app .contacts_table .stat_online {
  background: #5da423;
}
.chat_app .contacts_table .stat_busy {
  background: #faa937;
}
.chat_app .contacts_table .contact_actions {
  display: none;
}
.chat_app .contacts_table .contact_actions i {
  cursor: pointer;
  font-size: 16px;
}
.chat_app .contacts_table .contact_actions i + i {
  margin-left: 6px;
}
.chat_app .contacts_table .contact_actions i:hover {
  color: #2986b9;
}
.chat_app .chat_messages {
  min-height: 120px;
  max-height: 540px;
  overflow: auto;
  padding: 10px 14px 10px 10px;
  -webkit-overflow-scrolling: touch;
}
.chat_app .chat_messages .chat_message img {
  min-width: 32px;
  min-height: 32px;
  max-width: 48px;
  margin-right: 10px;
  border-color: #e3e3e3;
  float: left;
}
.chat_app .chat_messages .chat_message + .chat_message {
  margin-top: 20px;
}
.chat_app .chat_messages .chat_message.ch_right .chat_message_body {
  background: #f8f8f8;
  border-color: #e3e3e3;
}
.chat_app .chat_messages .chat_message.ch_right img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.chat_app .chat_messages .chat_message_body {
  padding: 10px;
  border: 1px solid #e3e3e3;
  position: relative;
  overflow: hidden;
}
.chat_app .chat_messages .chat_message_body .chat_message_date {
  color: #999;
  font-size: 11px;
}
.chat_app .chat_messages .chat_message_body p {
  margin: 0;
  overflow: hidden;
}
.chat_app .chat_messages .chat_message_body p + p {
  margin-top: 5px;
}
/* owl carousel */
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
  color: #fff;
  display: inline-block;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  background: #869791;
  opacity: 0.5;
  filter: alpha(opacity= 50 );
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 1;
  filter: alpha(opacity= 100 );
  text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  filter: alpha(opacity= 50 );
  background: #869791;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  filter: alpha(opacity= 100 );
}
.owl-item .item {
  margin: 0 2px;
}
.owl-item.loading {
  min-height: 150px;
  background: url(assets/lib/owl-carousel/AjaxLoader.html) no-repeat center center;
}
/* tables */
.sub_col {
  vertical-align: middle;
  text-align: center;
}
.col_sm {
  width: 20px;
}
.col_md {
  width: 80px;
}
/* square style */
.img-thumbnail,
.thumbnail,
.btn,
.btn-group .dropdown-menu,
.btn-group .btn,
.btn-group .btn:first-child:not(:last-child),
.btn-group .btn:last-child:not(:first-child),
.btn-group-vertical .btn:first-child:not(:last-child),
.btn-group-vertical .btn:last-child:not(:first-child),
.table-bordered,
.table-bordered tr:first-child th:first-child,
.table-bordered tr:first-child th:last-child,
.table-bordered tr:last-child td:first-child,
.table-bordered tr:last-child td:last-child,
.input-group .btn,
.input-group .dropdown-menu,
.input-group .form-control,
.input-group .input-group-addon,
.dropdown-menu,
.dropdown-menu .dropdown-submenu .dropdown-menu,
.form .form-control,
.form .btn,
.form-control,
.label,
.alert,
.alert .btn,
.progress,
.breadcrumb,
.tooltip .tooltip-inner,
.popover,
.popover-title,
.nav-list-panel,
.nav-tabs li > a,
.tabs-below .nav-tabs li > a,
.tabs-right .nav-tabs li > a,
.tabs-left .nav-tabs li > a,
.nav-tabs .dropdown-menu,
.tabs-below .nav-tabs .dropdown-menu,
.nav-pills li a,
.nav-pills .dropdown-menu,
.navbar,
.navbar .dropdown-menu,
.pagination li:first-child a,
.pagination li:first-child span,
.pagination li:last-child a,
.pagination li:last-child span,
.pager li a:hover,
.pager li a:focus,
.panel,
.panel-group .panel,
.panel-group .panel-heading,
.panel-group .panel-body,
.breadcrumb-arrow li:first-child a,
.modal-content,
.well,
.list-group-item:first-child,
.list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* themes */
.theme_a #side_nav,
.theme_a #side_nav_acc,
.theme_a #side_nav > ul,
.theme_a #side_nav_acc > ul {
  background: #411f00;
}
.theme_b #side_nav,
.theme_b #side_nav_acc,
.theme_b #side_nav > ul,
.theme_b #side_nav_acc > ul {
  background: #34495e;
}
.theme_c #side_nav,
.theme_c #side_nav_acc,
.theme_c #side_nav > ul,
.theme_c #side_nav_acc > ul {
  background: #3e1e4b;
}
.theme_d #side_nav,
.theme_d #side_nav_acc,
.theme_d #side_nav > ul,
.theme_d #side_nav_acc > ul {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 0 1px #dddddd;
  -moz-box-shadow: inset 0 0 0 1px #dddddd;
  box-shadow: inset 0 0 0 1px #dddddd;
}
.theme_d #side_nav > li > a,
.theme_d #side_nav_acc > li > a,
.theme_d #side_nav > ul > li > a,
.theme_d #side_nav_acc > ul > li > a {
}
.theme_d #side_nav .nav_open > a,
.theme_d #side_nav_acc .nav_open > a,
.theme_d #side_nav > ul .nav_open > a,
.theme_d #side_nav_acc > ul .nav_open > a {
}
.theme_e #side_nav,
.theme_e #side_nav_acc,
.theme_e #side_nav > ul,
.theme_e #side_nav_acc > ul {
  background: #165016;
}
.theme_f #side_nav,
.theme_f #side_nav_acc,
.theme_f #side_nav > ul,
.theme_f #side_nav_acc > ul {
  background: #460d0d;
}
.theme_g #side_nav,
.theme_g #side_nav_acc,
.theme_g #side_nav > ul,
.theme_g #side_nav_acc > ul {
  background: #003a44;
}
/* style switcher */
#style_switcher {
  position: fixed;
  z-index: 1000;
  top: 10%;
  right: -191px;
  margin-right: 0;
  padding: 10px;
  width: 191px;
}
#style_switcher,
#style_switcher .switcher_toggle {
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #e1e1e1;
  border-color: rgba(0, 0, 0, 0.2);
  background: #fff;
}
#style_switcher .switcher_toggle {
  position: absolute;
  left: -31px;
  top: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 19px;
  color: #222222;
  outline: none;
}
#style_switcher ul {
  margin: 0;
  padding: 0;
}
#style_switcher ul li {
  list-style: none;
  float: left;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
  text-indent: -9999px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
#style_switcher ul li + li {
  margin-left: 10px;
}
#style_switcher ul li:nth-child(5n+6) {
  clear: left;
  margin-left: 0;
}
#style_switcher .style_items + .style_items {
  margin-top: 20px;
}
#style_switcher .style_title {
  font-size: 12px;
  margin-bottom: 12px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #e1e1e1;
}
#style_switcher .radio {
  font-size: 12px;
  padding-top: 0;
}
#style_switcher .radio input {
}
#style_switcher .style_active {
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
}
#style_switcher #style_reset {
  margin-top: 20px;
}
/* media queries */
@media (max-width: 767px) {
  [class*='col-sm'] {
    margin-bottom: 20px;
  }
  .col-sm-12 {
    margin-bottom: 0;
  }
  .page_bar [class*='col-sm'].text-right {
    text-align: left;
  }
}
@media (max-width: 991px) {
  body {
    padding-top: 42px;
  }
  #main_wrapper {
    margin-left: 50px;
  }
  [class*='col-md'] {
    margin-bottom: 20px;
  }
  .col-md-12 {
    margin-bottom: 0;
  }
  label[class*='col-md'] + [class*='col-md'] {
    margin-top: 0;
  }
  .page_bar [class*='col-md'].text-right {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  [class*='col-lg'] {
    margin-bottom: 20px;
  }
  .col-lg-12 {
    margin-bottom: 0;
  }
  label[class*='col-lg'] + [class*='col-lg'] {
    margin-top: 0;
  }
  .page_bar [class*='col-lg'].text-right {
    text-align: left;
  }
}
