#fleet{
  padding-top: 15px;
}
#fleet .wrapper_1544 .slider_wr,
#fleet_partners .wrapper_1544 .slider_wr {
  width: 90%;
  margin: 0 auto;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item {
  cursor: pointer;
}
#details .wrapper_1920 .slider_details .item{
  cursor: grab; 
}

#fleet .wrapper_1544 .slider_wr .slider_fleet .item:hover p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item:hover p,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item:hover p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item:hover p,
#fleet .wrapper_1544 .slider_wr .slider_fleet .slick-current .item p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .slick-current .item p,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .slick-current .item p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .slick-current .item p {
  color: #00a8ec;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr {
  height: 123px;
  position: relative;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item .img_wr img,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item .img_wr img,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr img,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
#fleet .wrapper_1544 .slider_wr .slider_fleet .item p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item p,
#fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item p,
#fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item p {
  margin: 15px 0 0;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 28px;
  color: #7b7b7b;
}
#fleet .slick-prev,
#fleet_partners .slick-prev,
#fleet .slick-next,
#fleet_partners .slick-next {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: rgba(0,0,0,.3);
    background: transparent;
    margin-top: -20px;
}
#fleet .slick-prev:hover,
#fleet_partners .slick-prev:hover,
#fleet .slick-next:hover,
#fleet_partners .slick-next:hover {
    background: rgba(0,0,0,.1);
}
#fleet .slick-prev:before,
#fleet_partners .slick-prev:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -8px;
    width: 13px;
    height: 22px;
    background: url(../img/main/slider/arrows.png) left top no-repeat;
}
#fleet .slick-next:before,
#fleet_partners .slick-next:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -5px;
    width: 13px;
    height: 22px;
    background: url(../img/main/slider/arrows.png) right top no-repeat;
}
#fleet .slick-prev:hover:before,
#fleet_partners .slick-prev:hover:before,
#fleet .slick-next:hover:before,
#fleet_partners .slick-next:hover:before {
    background-position-y: 100%;
}
.slider_fleet .slick-center p {
  color: #00a8ec !important;
}
.slider_fleet_partners .slick-center p {
  color: #00a8ec !important;
}
#details,
#details_partners {
  margin-top: 15px;
}
#details .wrapper_1920,
#details_partners .wrapper_1920 {
  position: relative;
}
#details .wrapper_1920 .slider_details,
#details_partners .wrapper_1920 .slider_details,
#details .wrapper_1920 .slider_details_partners,
#details_partners .wrapper_1920 .slider_details_partners {
  margin-bottom: 0 !important;
}
#details .wrapper_1920 .slider_details .item,
#details_partners .wrapper_1920 .slider_details .item,
#details .wrapper_1920 .slider_details_partners .item,
#details_partners .wrapper_1920 .slider_details_partners .item {
  position: relative;
  padding-top: 64px;
  display: block !important;
}
#details .wrapper_1920 .slider_details .item .lkforair a,
#details_partners .wrapper_1920 .slider_details .item .lkforair a,
#details .wrapper_1920 .slider_details_partners .item .lkforair a,
#details_partners .wrapper_1920 .slider_details_partners .item .lkforair a {
    display: none;
}
#details .wrapper_1920 .slider_details .item .lkforair a.on,
#details_partners .wrapper_1920 .slider_details .item .lkforair a.on,
#details .wrapper_1920 .slider_details_partners .item .lkforair a.on,
#details_partners .wrapper_1920 .slider_details_partners .item .lkforair a.on {
    display: inline-block;
}
.lkforair {
    padding: 40px 0;
    text-align: center;
    position: absolute;
    transform: translateY(20px);
    opacity: 0;
    top: 330px;
    left: 0;
    right: 0;
    transition: transform .3s, opacity .3s;

}
#details .wrapper_1920 .slider_details .item:hover .lkforair ,
#details_partners .wrapper_1920 .slider_details .item:hover .lkforair,
#details .wrapper_1920 .slider_details_partners .item:hover .lkforair ,
#details_partners .wrapper_1920 .slider_details_partners .item:hover .lkforair {
    display: inline-block;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(0px);
    opacity: 1;
}
.lkforair a {
  margin: 0 auto;
  padding: 0 16px;
  border-radius: 8px;
  color: #1a325a;
  background-color: inherit;
  border: 1px solid #1a325a;
  text-decoration: none;
  font-size: 19px;
  line-height: 40px;

}
.lkforair a:hover {
    color: #fff;
    background-color: #1a325a;
    transition: background-color .3s;
}
.lkforair a:after {
  content: '>';
  font-size: 30px;
  line-height: 30px;
  margin-left: 8px;
  vertical-align: middle;
  padding-bottom: 3px;
  display: inline-block;
}
.lkforair a:before {
  content: '';
  margin-right: 7px;
  width: 22px;
  height: 24px;
  padding-bottom: 2px;
  display: inline-block;
  background: url(../img/magnifying-glass-dark.svg) no-repeat;
  vertical-align: middle;
  background-size: contain;
}
.lkforair a:hover:before {
  background: url(../img/magnifying-glass.svg) no-repeat;
  vertical-align: middle;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .lkforair {
    position: relative;
    padding: 11px 0;
    text-align: center;
    opacity: 1;
    transform: translateY(0px);
    bottom: unset;
    top: unset;
    left: unset;
    right: unset;
  }
  .lkforair:after {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -8px;
    /* width: 16px; */
    /* height: 16px; */
    border: 16px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
  }
  .lkforair a {
    font-size: 16px;
    line-height: 40px;
  }
}

@media screen and (max-width: 475px) {
    .lkforair a {
        font-size: 16px;
    }
}
#details .wrapper_1920 .slider_details .item img.bg,
#details_partners .wrapper_1920 .slider_details .item img.bg,
#details .wrapper_1920 .slider_details_partners .item img.bg,
#details_partners .wrapper_1920 .slider_details_partners .item img.bg {
  width: 100%;
  opacity: 0;
  position: relative;
  left: 0;
  top: 20px;
  height: 0px;
  transform: translateY(0px);
  transition-property: opacity, top, height;
  transition-duration: 0.5s, 0.5s, 0s;
  transition-timing-function: linear;
  transition-delay: 0s, 0s, 0.5s;
}
#details .wrapper_1920 .slider_details .item img.bg.on,
#details_partners .wrapper_1920 .slider_details .item img.bg.on,
#details .wrapper_1920 .slider_details_partners .item img.bg.on,
#details_partners .wrapper_1920 .slider_details_partners .item img.bg.on {
  display: block;
  opacity: 1;
  left: 0;
  top: 0;
  height: auto;
  position: relative;
  transform: translateY(0px);
  transition-property: opacity, top, height;
  transition-duration: 0.5s, 0.5s, 0s;
  transition-timing-function: linear;
  transition-delay: 0.5s, 0.5s, 0.5s;
}
#details .wrapper_1920 .slider_details .item .main_title,
#details_partners .wrapper_1920 .slider_details .item .main_title,
#details .wrapper_1920 .slider_details_partners .item .main_title,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
#details .wrapper_1920 .slider_details .item .main_title span,
#details_partners .wrapper_1920 .slider_details .item .main_title span,
#details .wrapper_1920 .slider_details_partners .item .main_title span,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 67px;
  color: #0f204a;
  display: inline-block;
  line-height: 67px;
  position: relative;
}
#details .wrapper_1920 .slider_details .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details .item .main_title span:before,
#details .wrapper_1920 .slider_details_partners .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:before,
#details .wrapper_1920 .slider_details .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details .item .main_title span:after,
#details .wrapper_1920 .slider_details_partners .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:after {
  content: '';
  width: 401px;
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#details .wrapper_1920 .slider_details .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details .item .main_title span:before,
#details .wrapper_1920 .slider_details_partners .item .main_title span:before,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:before {
  left: -451px;
  background: url('../img/main/details/line_left.png') left top no-repeat;
}
#details .wrapper_1920 .slider_details .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details .item .main_title span:after,
#details .wrapper_1920 .slider_details_partners .item .main_title span:after,
#details_partners .wrapper_1920 .slider_details_partners .item .main_title span:after {
  right: -451px;
  background: url('../img/main/details/line_right.png') right top no-repeat;
}
#details .wrapper_1920 .slider_details .item .tabs,
#details_partners .wrapper_1920 .slider_details .item .tabs,
#details .wrapper_1920 .slider_details_partners .item .tabs,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs {
  /* top: 110px; */
  top: 90px;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 10;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr {
  display: inline-block;
  float: left;
  padding: 0px 20px 0px;
  position: relative;
  cursor: pointer;
  /* margin-right: -4px; */
}
.tabs .tab_wr + .tab_wr {
    /* margin-left: 20px; */
}
.tabs-in-bg {
    position: relative;
    display: inline-block;
    /* padding: 0 20px; */
}
.tabs-in-bg:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -280px;
    display: block;
    width: 280px;
    height: 1px;
    background: url('../img/lline.png') no-repeat;
}
.tabs-in-bg:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -280px;
    display: block;
    width: 280px;
    height: 1px;
    background: url('../img/rline.png') no-repeat;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab {
  color: #0f204a;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab:before,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr:hover .item_tab:before,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab:before,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr:hover .item_tab:before {
  background-position-y: 100% !important;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab {
  position: relative;
  padding-left: 35px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #7b7b7b;
}
#details .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab:before,
#details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab:before,
#details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab:before,
#details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 22px;
  height: 20px;
  background: url('../img/main/details/flight.svg') left 0% no-repeat;
}
#details .wrapper_1920 .slider_details .item section,
#details_partners .wrapper_1920 .slider_details .item section,
#details .wrapper_1920 .slider_details_partners .item section,
#details_partners .wrapper_1920 .slider_details_partners .item section {
  position: absolute;
  width: 900px;
  /* top: 200px; */
  top: 152px;
  left: 0;
  /* display: none; */
  left: 50%;
  left: -99999px;
  opacity: 0;
  transform: translateX(-50%);
  transition-property: opacity, left;
  transition-duration: 0.3s, 0s;
  transition-timing-function: linear;
  transition-delay: 0s, 0.3s;
}
#details .wrapper_1920 .slider_details .item section.on,
#details_partners .wrapper_1920 .slider_details .item section.on,
#details .wrapper_1920 .slider_details_partners .item section.on,
#details_partners .wrapper_1920 .slider_details_partners .item section.on {
  display: block;
  left: 50%;
  opacity: 1;
  transition-property: opacity, left;
  transition-duration: 0.3s, 0s;
  transition-timing-function: linear;
  transition-delay: 0.3s, 0.3s;
}
#details .wrapper_1920 .slider_details .item section.on.block-fl,
#details_partners .wrapper_1920 .slider_details .item section.on.block-fl,
#details .wrapper_1920 .slider_details_partners .item section.on.block-fl,
#details_partners .wrapper_1920 .slider_details_partners .item section.on.block-fl {
  display: flex;
  justify-content: center;
}
#details .wrapper_1920 .slider_details .item section .left_block,
#details_partners .wrapper_1920 .slider_details .item section .left_block,
#details .wrapper_1920 .slider_details_partners .item section .left_block,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block {
  float: left;
}
#details .wrapper_1920 .slider_details .item section.block-fl .left_block,
#details_partners .wrapper_1920 .slider_details .item section.block-fl .left_block,
#details .wrapper_1920 .slider_details_partners .item section.block-fl .left_block,
#details_partners .wrapper_1920 .slider_details_partners .item section.block-fl .left_block {
  margin-right: 90px;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini {
  float: left;
  margin-right: 20px;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini:last-child,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:last-child {
  margin-right: 0;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr {
  width: 100%;
  min-width: 87px;
  height: 34px;
  display: flex;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini:first-child + .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini:first-child + .item_mini .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:first-child + .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:first-child + .item_mini .img_wr {
  position: relative;
  max-width: 87px;
  overflow: hidden;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr img,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr img,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr img,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr img {
  margin: auto;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini:first-child + .item_mini .img_wr img,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini:first-child + .item_mini .img_wr img,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:first-child + .item_mini .img_wr img,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:first-child + .item_mini .img_wr img {
  position: absolute;
  top: 3px;
  right: 0;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini p,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini p,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #0f204a;
  margin: 15px 0 24px;
}
#details .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
#details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
#details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number,
#details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
  font-size: 44px;
  color: #0f204a;
}
#details .wrapper_1920 .slider_details .item section .right_block,
#details_partners .wrapper_1920 .slider_details .item section .right_block,
#details .wrapper_1920 .slider_details_partners .item section .right_block,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block {
  float: right;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini {
  float: left;
  margin-right: 60px;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:last-child,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:last-child,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:last-child {
  margin-right: 0;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover p,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover p,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover p,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover p {
  color: #00a8ec;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr {
  /* background: url('../img/view_hover.png') center center no-repeat; */
  /* background-image: url('../img/view_hover.png'); */
  background-position: -110px center;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.calc .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.calc .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.calc .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.calc .img_wr {
  /* background: url('../img/calc_hover.png') center center no-repeat; */
  background-position: -58px center;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini a,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini a,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini a,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini a {
  display: inline-block;
  text-decoration: none;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini p,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini p,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p {
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 20px;
  color: #0f204a;
  margin: 0 0 15px;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr {
  width: 100%;
  min-width: 110px;
  height: 104px;
  display: flex;
  margin: 0 auto;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr {
  background: url('../img/viewh.png') left center no-repeat;
  width: 110px;
}
#details .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
#details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
#details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr,
#details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr {
  width: 57px;
  min-width: 57px;
  background: url('../img/calch.png') left center no-repeat;
}
#details .wrapper_1920 .form_wr,
#details_partners .wrapper_1920 .form_wr {
  position: absolute;
  bottom: 73px;
  left: 0;
  width: 100%;
  display: flex;
  display: none;
}
#details .wrapper_1920 .form_wr form,
#details_partners .wrapper_1920 .form_wr form {
  margin: 0 auto;
  padding: 18px;
  background: rgba(255, 255, 255, 0.75);
  position: relative;
}
#details .wrapper_1920 .form_wr form input,
#details_partners .wrapper_1920 .form_wr form input {
  height: 32px;
  padding: 0 8px;
  border: 1px solid #EBECEC;
  margin-right: 18px;
  float: left;
  width: 195px;
}
#details .wrapper_1920 .form_wr form input::-webkit-input-placeholder,
#details_partners .wrapper_1920 .form_wr form input::-webkit-input-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form input::-moz-placeholder,
#details_partners .wrapper_1920 .form_wr form input::-moz-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form input:-moz-placeholder,
#details_partners .wrapper_1920 .form_wr form input:-moz-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form input:-ms-input-placeholder,
#details_partners .wrapper_1920 .form_wr form input:-ms-input-placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #b8b8b8;
}
#details .wrapper_1920 .form_wr form button,
#details_partners .wrapper_1920 .form_wr form button {
  height: 32px;
  padding: 0 15px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #fefefe;
  background: #1a325a;
  border: none;
  float: left;
  white-space: nowrap;
}
#details .wrapper_1920 .form_wr form img,
#details_partners .wrapper_1920 .form_wr form img {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
}






#big_stuff .wrapper_1544 .title_stuff {
  padding: 56px 0;
  text-align: center;
  height: 162px;
  display: none;
}
#big_stuff .wrapper_1544 .title_stuff .main {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 44px;
  color: #0f204a;
  line-height: 44px;
  display: inline-block;
  position: relative;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 29px;
  color: #7b7b7b;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  display: inline-block;
    width: 180px;
    margin: 0;
    -moz-border-radius: 0 9px 9px 0;
    -webkit-border-radius: 0;
    border-radius: 0 9px 9px 0;
    color: #878b97;
    font-size: 14px;
    line-height: 35px;
    background-color: #eeeff1;
    vertical-align: bottom;
    float: left;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span:hover {
  /* color: #00a8ec; */
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
  /* font-size: 44px; */
  cursor: default;
  /* color: #000; */
  color: #fff;
    font-size: 19px;
    background-color: #102050;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on:hover {
  /* color: #000; */
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero > span:first-child {
    -moz-border-radius: 9px 0 0 9px;
    -webkit-border-radius: 9px 0 0 9px;
    border-radius: 9px 0 0 9px;
}
#big_stuff .wrapper_1544 .title_stuff .main .tab.aero .tab.others {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 100%; */
  /* transform: translateY(-50%); */
  /* margin-left: 0; */
  display: inline-block;
  float: left;
}
#big_stuff .stuff {
  height: 0;
  overflow: hidden;
}
#big_stuff .stuff.on {
  height: auto;
}
@media screen and (max-width: 480px) {
    #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
        width: 145px;
    }
    #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
        font-size: 15px;
    }
}

#big_stuff .slider_fleet,
#big_stuff .slider_fleet_partners {
  padding: 0 50px;
  margin-bottom: 15px;
}
#big_stuff .slider_fleet .slick-list,
#big_stuff .slider_fleet_partners .slick-list {
  padding: 0 !important;
}



@media screen and (max-width: 1100px) {
  #big_stuff .wrapper_1544 .title_stuff {
    /* padding-right: 20%; */
  }
}
@media screen and (max-width: 768px) {
  #big_stuff .wrapper_1544 .title_stuff {
    /* padding-right: 35%; */
  }
  /* #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
    font-size: 23px;
  } */
  /* #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on,
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
    font-size: 30px;
  } */
  #details .wrapper_1920 .slider_details .item img.bg, #details_partners .wrapper_1920 .slider_details .item img.bg, #details .wrapper_1920 .slider_details_partners .item img.bg, #details_partners .wrapper_1920 .slider_details_partners .item img.bg {
      transition-property: none;
      transition-duration: none;
      transition-timing-function: linear;
      transition-delay: none;
  }
  #details .wrapper_1920 .slider_details .item img.bg.on, #details_partners .wrapper_1920 .slider_details .item img.bg.on, #details .wrapper_1920 .slider_details_partners .item img.bg.on, #details_partners .wrapper_1920 .slider_details_partners .item img.bg.on {
      transition-property: none;
      transition-duration: none;
      transition-timing-function: linear;
      transition-delay: none;
  }
  #details .wrapper_1920 .slider_details .item section,
  #details_partners .wrapper_1920 .slider_details .item section,
  #details .wrapper_1920 .slider_details_partners .item section,
  #details_partners .wrapper_1920 .slider_details_partners .item section {
      position: absolute;
      left: -9999999px;
      top: 0;
      width: 100%;
      transform: translateX(0);
      transition-property: none;
      transition-duration: none;
      transition-timing-function: linear;
      transition-delay: none;
  }
  #details .wrapper_1920 .slider_details .item section.on, #details_partners .wrapper_1920 .slider_details .item section.on, #details .wrapper_1920 .slider_details_partners .item section.on, #details_partners .wrapper_1920 .slider_details_partners .item section.on {
      position: static;
      transition-property: none;
      transition-duration: none;
      transition-timing-function: linear;
      transition-delay: none;
  }
  #details .wrapper_1920 .slider_details .item section .left_block,
  #details_partners .wrapper_1920 .slider_details .item section .left_block,
  #details .wrapper_1920 .slider_details_partners .item section .left_block,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block,
  #details .wrapper_1920 .slider_details .item section .right_block,
  #details_partners .wrapper_1920 .slider_details .item section .right_block,
  #details .wrapper_1920 .slider_details_partners .item section .right_block,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 179px;
      width: 100%;
      text-align: center;
  }
  #details .wrapper_1920 .slider_details .item section .right_block,
  #details_partners .wrapper_1920 .slider_details .item section .right_block,
  #details .wrapper_1920 .slider_details_partners .item section .right_block,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block {
      display: flex;
      justify-content: center;
      align-items: stretch;
  }
  #details .wrapper_1920 .slider_details .item section .item_mini,
  #details_partners .wrapper_1920 .slider_details .item section .item_mini,
  #details .wrapper_1920 .slider_details_partners .item section .item_mini,
  #details_partners .wrapper_1920 .slider_details_partners .item section .item_mini {
      float: none !important;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 5px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #details .wrapper_1920 .slider_details .item,
  #details_partners .wrapper_1920 .slider_details .item,
  #details .wrapper_1920 .slider_details_partners .item,
  #details_partners .wrapper_1920 .slider_details_partners .item {
      padding-top: 0 !important;
  }
  #details .wrapper_1920 .slider_details .item .main_title,
  #details_partners .wrapper_1920 .slider_details .item .main_title,
  #details .wrapper_1920 .slider_details_partners .item .main_title,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title {
      display: none;
  }
  #details .wrapper_1920 .slider_details .item .tabs,
  #details_partners .wrapper_1920 .slider_details .item .tabs,
  #details .wrapper_1920 .slider_details_partners .item .tabs,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs {
      position: static;
      margin-top: 10px;
  }
  #details,
  #details_partners {
      margin-top: 10px;
  }
  #fleet .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
  #fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item .img_wr,
  #fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr,
  #fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item .img_wr {
      display: none;
  }
  #fleet .wrapper_1544 .slider_wr .slider_fleet .item p,
  #fleet_partners .wrapper_1544 .slider_wr .slider_fleet .item p,
  #fleet .wrapper_1544 .slider_wr .slider_fleet_partners .item p,
  #fleet_partners .wrapper_1544 .slider_wr .slider_fleet_partners .item p {
      font-size: 30px;
      line-height: 32px;
      margin-top: 0px;
  }
  .tabs-in-bg:before {
      background: transparent;
      top: 10px;
      left: initial;
      right: 10px;
      width: 10px;
      height: 10px;
      border-right: 1px solid #7b7b7b;
      border-bottom: 1px solid #7b7b7b;
      transform: rotate(45deg);
  }
  .tabs-in-bg:after {
      background: transparent;
  }
  .tab_wr.on:before {
      background: transparent !important;
  }
  .tab_wr.on:after {
      background: transparent !important;
  }
  .tab_wr.on .item_tab,
  .tab_wr {
      border: none !important;
  }
  #big_stuff .slider_fleet, #big_stuff .slider_fleet_partners {
      padding: 0 10px;
  }
}
@media screen and (max-width: 580px) {
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span {
    /* font-size: 13px; */
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on,
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on {
    /* font-size: 17px; */
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero .tab.others {
    /* margin-left: 26px; */
  }
  #big_stuff #fleet .slick-prev,
  #big_stuff #fleet_partners .slick-prev {
    left: -10px;
  }
  #big_stuff #fleet .slick-next,
  #big_stuff #fleet_partners .slick-next {
    right: -10px;
  }
  #big_stuff #fleet .slick-track img,
  #big_stuff #fleet_partners .slick-track img {
    max-width: 100%;
  }
  #big_stuff .wrapper_1544 .title_stuff {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 75px;
  }
}

.tab_wr {
    border-top: 1px solid #1e365d;
}
.tab_wr.on {
    position: relative;
    /* border-bottom: 1px solid #1e365d; */
    border-top-color: transparent;
}
.tab_wr.on:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0px;
    display: block;
    width: 20px;
    height: 40px;
    background: url('../img/litem.png') no-repeat;
}
.tab_wr.on:after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0px;
    display: block;
    width: 20px;
    height: 40px;
    background: url('../img/ritem.png') no-repeat;
}
.tab_wr.on .item_tab:before {
    background-position-y: 100% !important;
}
.tab_wr.on .item_tab {
    color: #0f204a !important;
    border-bottom: 1px solid #1e365d;
}
.tabs.tab_active_one {
    /* background: url(../img/tabs_1.png) center top no-repeat; */
}
.tabs.tab_active_two {
    /* background: url(../img/tabs_2.png) center top no-repeat; */
}

@media screen and (max-width: 1400px) {
  #details .wrapper_1920 .slider_details .item,
  #details_partners .wrapper_1920 .slider_details .item,
  #details .wrapper_1920 .slider_details_partners .item,
  #details_partners .wrapper_1920 .slider_details_partners .item {
    padding-top: 144px;
  }
}
@media screen and (max-width: 1249px) {
    #fleet {
        padding-top: 0px;
    }
}
@media screen and (max-width: 1024px) {
  #details .wrapper_1920 .slider_details .item,
  #details_partners .wrapper_1920 .slider_details .item,
  #details .wrapper_1920 .slider_details_partners .item,
  #details_partners .wrapper_1920 .slider_details_partners .item {
    padding-top: 224px;
  }
}
@media screen and (max-width: 768px) {
  #details .wrapper_1920 .slider_details .item .main_title span:before,
  #details_partners .wrapper_1920 .slider_details .item .main_title span:before,
  #details .wrapper_1920 .slider_details_partners .item .main_title span:before,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title span:before {
    display: none;
  }
  #details .wrapper_1920 .slider_details .item .main_title span:after,
  #details_partners .wrapper_1920 .slider_details .item .main_title span:after,
  #details .wrapper_1920 .slider_details_partners .item .main_title span:after,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title span:after {
    display: none;
  }
  #details .wrapper_1920 .slider_details .item section,
  #details_partners .wrapper_1920 .slider_details .item section,
  #details .wrapper_1920 .slider_details_partners .item section,
  #details_partners .wrapper_1920 .slider_details_partners .item section {
    width: 100%;
    padding: 0 15px;
    top: 140px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini p,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini p {
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 14px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini {
    margin-right: 15px;
  }
  #details .wrapper_1920 .slider_details .item .tabs,
  #details_partners .wrapper_1920 .slider_details .item .tabs,
  #details .wrapper_1920 .slider_details_partners .item .tabs,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs {
    top: 80px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini p,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p {
    font-size: 12px;
    margin: 3px 0 5px;
    line-height: 14px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .number,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .number {
    font-size: 28px;
  }
  #details .wrapper_1920 .slider_details .item .main_title span,
  #details_partners .wrapper_1920 .slider_details .item .main_title span,
  #details .wrapper_1920 .slider_details_partners .item .main_title span,
  #details_partners .wrapper_1920 .slider_details_partners .item .main_title span {
    font-size: 35px;
  }
  #details .wrapper_1920 .slider_details .item .tabs,
  #details_partners .wrapper_1920 .slider_details .item .tabs,
  #details .wrapper_1920 .slider_details_partners .item .tabs,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs {
      position: absolute;
      top: 0px;
      margin-top: 0px;
  }
  #details .wrapper_1920 .slider_details .item .tabs .tabs-in-bg,
  #details_partners .wrapper_1920 .slider_details .item .tabs .tabs-in-bg,
  #details .wrapper_1920 .slider_details_partners .item .tabs .tabs-in-bg,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs .tabs-in-bg {
      width: 82%;
      background: #fff;
      border-radius: 8px;
      border: 1px solid #d4d4d4;
  }
  #details .wrapper_1920 .slider_details .item .tabs .tab_wr,
  #details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr,
  #details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr {
      width: 100%;
      display: none;
  }
  #details .wrapper_1920 .slider_details .item .tabs .tab_wr.on,
  #details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr.on,
  #details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr.on,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr.on {
      display: block;
  }
  #details .wrapper_1920 .slider_details .item .tabs .tabs-in-bg_active .tab_wr,
  #details_partners .wrapper_1920 .slider_details .item .tabs .tabs-in-bg_active .tab_wr,
  #details .wrapper_1920 .slider_details_partners .item .tabs .tabs-in-bg_active .tab_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs .tabs-in-bg_active .tab_wr {
      display: block;
  }
  #details .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab,
  #details_partners .wrapper_1920 .slider_details .item .tabs .tab_wr .item_tab,
  #details .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs .tab_wr .item_tab {
      text-align: left;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  #details .wrapper_1920 .slider_details .item img.bg,
  #details_partners .wrapper_1920 .slider_details .item img.bg,
  #details .wrapper_1920 .slider_details_partners .item img.bg,
  #details_partners .wrapper_1920 .slider_details_partners .item img.bg {
      padding-top: 0px;
  }
  #details .wrapper_1920 .slider_details .item img.bg.on,
  #details_partners .wrapper_1920 .slider_details .item img.bg.on,
  #details .wrapper_1920 .slider_details_partners .item img.bg.on,
  #details_partners .wrapper_1920 .slider_details_partners .item img.bg.on {
      padding-top: 270px;
  }
  #details .wrapper_1920 .slider_details .item section,
  #details_partners .wrapper_1920 .slider_details .item section,
  #details .wrapper_1920 .slider_details_partners .item section,
  #details_partners .wrapper_1920 .slider_details_partners .item section {
      /* position: static; */
      transform: none;
  }
  #details .wrapper_1920 .slider_details .item section .left_block,
  #details_partners .wrapper_1920 .slider_details .item section .left_block,
  #details .wrapper_1920 .slider_details_partners .item section .left_block,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block {
      display: block;
      position: absolute;
      top: 46px;
      left: 0;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr{
    width: 80px;
    height: 80px;
    background-size: 200%;
    min-width: 80px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr {
    background-position: -80px center;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr {
    min-width: 80px;
    height: 80px;
  }
  .item_mini.calc,
  .item_mini.view{
    width: 150px;
  }
  .lkforair {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  #big_stuff .slider_fleet,
  #big_stuff .slider_fleet_partners {
    margin-bottom: 14px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini p,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini p {
    font-size: 10px;
    line-height: 11px;
    width: 90px;
  }
  /* #details .wrapper_1920 .slider_details .item section .left_block,
  #details_partners .wrapper_1920 .slider_details .item section .left_block,
  #details .wrapper_1920 .slider_details_partners .item section .left_block,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block {
    display: none;
  } */
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr {
    /* background-size: 60%; */
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.calc .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.calc .img_wr {
    background-size: cover;
    width: 46px;
    min-width: 45px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.calc .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.calc .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.calc .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.calc .img_wr {
    /* background: url(../img/calc_hover.png) center center no-repeat; */
    background-position: -46px center;
  }

  #details .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini.view .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini.view .img_wr{
    width: 50px;
    height: 50px;
    min-width: 50px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini:hover.view .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini:hover.view .img_wr {
    background-position: -50px center;
  }
  #details .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .right_block .item_mini .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .right_block .item_mini .img_wr {
    min-width: 50px;
    height: 50px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini {
      margin-right: 10px;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini .img_wr,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini .img_wr {
    width: 100%;
    min-width: 30px;
    height: 30px;
    display: flex;
  }
  #details .wrapper_1920 .slider_details .item section .left_block .item_mini:first-child + .item_mini .img_wr img,
  #details_partners .wrapper_1920 .slider_details .item section .left_block .item_mini:first-child + .item_mini .img_wr img,
  #details .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:first-child + .item_mini .img_wr img,
  #details_partners .wrapper_1920 .slider_details_partners .item section .left_block .item_mini:first-child + .item_mini .img_wr img {
    top: 5px;
    height: 20px;
  }
  .item_mini.capacity img,
  .item_mini.amount img{
    height: 60%;
  }
  #details .wrapper_1920 .slider_details .item .tabs .tabs-in-bg,
  #details_partners .wrapper_1920 .slider_details .item .tabs .tabs-in-bg,
  #details .wrapper_1920 .slider_details_partners .item .tabs .tabs-in-bg,
  #details_partners .wrapper_1920 .slider_details_partners .item .tabs .tabs-in-bg {
    width: 90%;
  }
  .item_mini.calc,
  .item_mini.view{
    width: 140px;
  }
  #details .wrapper_1920 .slider_details .item section .right_block {
    top: 147px;
  }
  #details .wrapper_1920 .slider_details .item img.bg.on,
  #details_partners .wrapper_1920 .slider_details .item img.bg.on,
  #details .wrapper_1920 .slider_details_partners .item img.bg.on,
  #details_partners .wrapper_1920 .slider_details_partners .item img.bg.on {
    padding-top: 230px;
  }
  #big_stuff .wrapper_1544 .title_stuff .main {
    width: 90%;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on,
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.on,
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero .tab.others {
    width: 50%;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero span.aero{
    width: 50%;
  }
  #big_stuff .wrapper_1544 .title_stuff .main .tab.aero .tab.others span{
    width: 100%;
  }
  .lkforair a {
    line-height: 33px;
  }
  .lkforair {
    padding: 8px 0;
  }

}





@keyframes grow {
    0% {
        transform:scale(1);
    }
    100%{
        transform:scale(1.2);
    }
}
.sliderm_img__active {
    transform:scale(1.2);
    animation: grow 7s ease-in-out;
}

.kipslider {
    position: relative;
}
.kipslider-arrow {

}
.kipslider-arrow_next,
.kipslider-arrow_prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer;
    transform: rotate(-51deg) skewX(-15deg);
    border-left: 3px solid white;
    border-top: 3px solid white;
}
.kipslider-arrow_next {
    right: 50px;
    transform: rotate(129deg)  skewX(-15deg);
}
.kipslider-arrow_prev {
    left: 50px;
}
.kipslider-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
