@keyframes alertUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

sup {
    vertical-align: super;
}
.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: translateY(0%);
    will-change: transform;
    animation: alertUp .5s linear;
}


.plane__t {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 33px;
    text-align: center;
    color: #193862;
    border-bottom: 1px solid #E5E5E5;
}
.plane__type {
    text-align: center;
    font-size: 25px;
    color: #193862;
}
.plane__param {
    display: table;
    width: 100%;
    max-width: 570px;
    margin: 18px auto 0;
}
.plane__param__row {
    display: table-row;
}
.plane__param__t,
.plane__param__value {
    display: table-cell;
    font-size: 18px;
    border-top: 1px solid #E5E5E5;
    height: 48px;
    vertical-align: middle;
}
.plane__param__t {
    color: rgba(25, 56, 98, 0.55);
}
.plane__param__value {
    color: #193862;
}
.plane__bottom {
    background: #EDF9FF;
}