/**************************************************************** 
 * Begin Reset
 ****************************************************************/

 * {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
	line-height: 1;
	height: 100%;
}

section,
article,
header,
footer {
    display: block;
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

ol, 
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

input {
    vertical-align: middle;
}

input[type=submit],
input[type=button],
button {
	cursor: pointer;
}

textarea {
	resize: none;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

img {
	vertical-align: bottom;
}

/* End Reset
 ****************************************************************/
/****************************************************************
 * Begin Base - First layer
 ****************************************************************/

html {

}

body {
	position: relative;
	min-width: 320px;
	min-height: 100%;
	margin: 0 auto;
	color: #193862;
	font: 300 24px/33px 'Roboto', sans-serif;
}

a {
	color: #193862;
    text-decoration: underline;
    transition: color, 0.3s, linear;
}
a:hover {
    color: #193862;
    text-decoration: none;
}

/* Heading */

.t-1,
h1 {
	font: 300 50px/59px 'Roboto', sans-serif;
	color: #193862;
	margin: 0 0 30px;
}

.t-2,
h2 {
	font: 300 46px/54px 'Roboto', sans-serif;
	color: #193862;
	margin: 0 0 26px;
}

.t-3,
h3,
h4,
h5,
h6 {
	font: 300 42px/49px 'Roboto', sans-serif;
	color: #193862;
	margin: 0 0 22px;
}
.under-t {
    font-size: 28px;
    line-height: 33px;
    color: #00A2FF;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none !important;
}

.affix {
	position: fixed;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.iphonepic {
    position: relative;
    width: 300px;
    overflow: hidden;
}
.iphonepic__bg {
    position: relative;
    height: 600px;
    background: url('images/iphone.png') no-repeat;
    z-index: 2;
}
.iphonepic__window {
    position: absolute;
    top: 17px;
    left: 19px;
    right: 19px;
    bottom: 17px;
    z-index: 1;
    overflow: hidden;
}
.iphonepic__window img {
    width: 100%;
}
.arrow {
    width: 35.36px;
    height: 62.41px;
    background: url(/bitrix/templates/sirius/img/arrow-app.svg) no-repeat center;
}
.push {
    width: 296px;
    height: 94px;
    padding: 16px 39px 0px 48px;
    border-radius: 10px;
    box-shadow: 0px 34px 74px rgba(20, 52, 92, 0.18);
    background: rgba(236,239,242,.9);
}
.push__t {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 33px;
}
.push__t:before {
    content: '';
    position: absolute;
    top: 3px;
    left: -33px;
    width: 25px;
    height: 26px;
    background: url('images/sir.png') no-repeat;
}
.push__tx {
    font-size: 15px;
    line-height: 18px;
}
.desc{
    max-width: 714px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
}

.gplay {
    display: inline-block;
    width: 260px;
    height: 90.22px;
    background: url('images/gplay.jpg') no-repeat center;
}
.appstore {
    display: inline-block;
    width: 260px;
    height: 90.22px;
    background: url('images/appstore.jpg') no-repeat center;
}

/* Button */

.btn {

}

/* Inputs */

.ir {

}

.is {

}

.it {

}

.itx {

}

/* Form */

.form {

}

/* Pagination */

/* Breadcrumbs */

@media screen and (max-width: 1024px) {
    body {
        
    }
    .t-1, h1 {
        font-size: 26px;
        line-height: 30px;
    }
    .under-t {
        font-size: 19px;
        line-height: 25px;
    }
    .desc {
        font-size: 17px;
        line-height: 21px;
    }
    .gplay,
    .appstore {
        width: 210px;
        height: 70.22px;
        background-size: contain;
    }
}

/* End Base - First layer
 ****************************************************************/

.header {
    display: flex;
    padding: 15px 0 15px 0;
    justify-content: center;
}
.main-section {
    max-width: 1600px;
    margin: 0 auto;
}
.b-top {
    display: flex;
    padding-top: 63px;
    flex-direction: column;
    align-items: center;
    background: url('images/pln.jpg') top center no-repeat;
}
.b-top__t {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
}
.b-top__arrow {
    margin-top: 34px;
}
.b-top__iphone {
    margin-top: 110px;
}
.b-top__undert {
    margin-top: 47px;
    text-align: center;
}
.b-top__desc {

}
@media screen and (max-width: 1024px) {
    .b-top__t {
        font-size: 40px;
        line-height: 45px;
    }
}
.b-emptylegs {
    margin-top: 80px;
}
.b-emptylegs__top {
    display: flex;
    justify-content: flex-end;
}
.b-emptylegs__top_w {
    position: relative;
    max-width: 1364px;
    min-height: 738px;
    padding: 126px 175px 145px 298px;
    margin-left: 160px;
    background: url('images/bgempty.jpg') no-repeat;
}
.b-emptylegs__desc {
    max-width: inherit;
}
.b-emptylegs__iphone {
    position: absolute;
    top: 50%;
    left: -150px;
    margin-top: -300px;
}
.b-emptylegs__iphone-filter {
    position: absolute;
    bottom: -479px;
    right: 186px;
}
.b-emptylegs__t {
    color: #fff;
}
.b-emptylegs__under-t {
    color: #00a2ff;
}
.b-emptylegs__desc {
    margin-top: 35px;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    text-align: left;
}
.b-emptylegs__bottom {
    display: flex;
}
.b-emptylegs__bottom__info {
    padding: 100px 0 0 100px;
    width: 47%;
}
.b-emptylegs__bottom__info__t {
    font-size: 33px;
    line-height: 39px;
    color: #193862;
}
.list-item {
    margin-top: 20px;
    font-size: 24px;
    line-height: 33px;
    color: #193862;
}
.list-item span {
    margin-right: 10px;
    color: #00A2FF;
}
.iphone-in-circle {
    width: 544px;
    height: 544px;
    margin-left: -272px;
    margin-top: -50px;
    background: #ECEFF2;
    border-radius: 100%;
    overflow: hidden;
}
.iphone-in-circle .iphonepic {
    margin: 172px auto 0;
}
@media screen and (max-width: 1470px) {
    .b-emptylegs__bottom__info {
        width: 41%;
    }
}
@media screen and (max-width: 1330px) {
    .b-emptylegs__bottom__info {
        width: 36%;
    }
    .b-emptylegs__iphone-filter {
        right: 25px;
    }
}
@media screen and (max-width: 1024px) {
    .b-emptylegs {
        margin-top: 320px;
    }
    .b-emptylegs__top_w {
        width: 100%;
        padding: 336px 15px 145px 15px;
        margin-left: 0px;
    }
    .b-emptylegs__desc {
        margin-top: 16px;
        font-size: 16px;
        line-height: 25px;
    }
    .b-emptylegs__iphone {
        top: -300px;
        left: 50%;
        margin-top: 0px;
        margin-left: -150px;
    }
    .b-emptylegs__iphone-filter {
        right: 50%;
        margin-right: -150px;
    }
    .b-emptylegs__bottom {
        margin-top: 410px;
    }
    .iphone-in-circle {
        width: 254px;
        height: 254px;
        margin-left: -113px;
        margin-top: 46px;
    }
    .iphone-in-circle .iphonepic {
        margin-top: 62px;
    }
    .b-emptylegs__bottom__info {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .b-emptylegs__bottom__info__t {
        font-size: 18px;
        line-height: 23px;
    }
    .list-item {
        margin-top: 10px;
        font-size: 15px;
        line-height: 22px;
    }
}
.b-push {
    display: flex;
    margin-top: 136px;
    flex-direction: column;
    align-items: center;
}
.b-push__t {
   text-align: center;
}
.b-push__desc {
    padding: 0 50px;
}
.b-push__info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1040px;
    width: 1040px;
    margin-top: -65px;
    background: rgba(25, 56, 98, 0.02);
    border-radius: 100%;
}
.b-push__info:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 756px;
    height: 756px;
    margin-top: -378px;
    margin-left: -378px;
    background: rgba(25, 56, 98, 0.02);
    border-radius: 100%;
    z-index: -1;
}
.b-push__info:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 492px;
    height: 492px;
    margin-top: -246px;
    margin-left: -246px;
    background: #193862;
    border-radius: 100%;
    z-index: -1;
}
.b-push__info .push {
    position: absolute;
    z-index: 3;
}
.b-push .iphonepic {
    overflow: visible;
}
.iphone-push1 {
    top: -47px;
    left: -473px;
}
.iphone-push2 {
    top: 145px;
    left: -268px;
}
.iphone-push3 {
    top: 394px;
    left: -419px;
}
.iphone-push4 {
    top: 0px;
    right: -500px;
}
.iphone-push5 {
    top: 330px;
    right: -354px;
}
@media screen and (max-width: 1024px) {
    .b-push {
        margin-top: 56px;
        overflow: hidden;
    }
    .b-push__info {
        width: 100%;
        height: auto;
        margin-top: 140px;
    }
    .b-push__desc {
        padding: 0 15px;
    }
    .b-push__info:before {
        display: none;
    }
    .b-push__info .push {
        display: none;
    }
    .b-push__info .iphone-push1 {
        display: block;
        top: -110px;
        left: 0px;
    }
    .b-push__info .iphone-push2 {
        display: block;
        top: 320px;
        left: 55px;
    }
}
.b-charter {
    position: relative;
    max-width: 1364px;
    min-height: 738px;
    margin-top: 35px;
    margin-right: 160px;
    padding: 210px 346px 71px 9%;
    background: url('images/clouds.jpg');
}
.b-charter__iphone {
    position: absolute;
    top: 50%;
    right: -150px;
    margin-top: -300px;
}
.b-charter__desc {
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    text-align: left;
}
@media screen and (max-width: 1024px) {
    .b-charter {
        width: 100%;
        padding: 360px 15px 30px 15px;
        margin-top: 400px;
    }
    .b-charter__iphone {
        top: -300px;
        right: 50%;
        margin-top: 0px;
        margin-right: -150px;
    }
}
.b-load {
    margin-top: 81px;
}
.b-load__t {
    text-align: center;
}
.b-load__info {
    position: relative;
    overflow: hidden;
    min-height: 193px;
    margin-top: 76px;
}
.b-load__info:after,
.b-load__info:before {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 136px;
    height: 136px;
    margin-top: -78px;
    background: #193862;
    transform: rotate(45deg);
}
.b-load__info:after {
    left: -96px;
}
.b-load__info:before {
    right: -96px;
}
.b-load__link-on-app {
    display: flex;
    max-width: 835px;
    margin: 0 auto;
    justify-content: space-between;
}
.b-load__link-on-app__i {
    padding: 80px 0 80px;
}
.separator {
    width: 1px;
    background: #193862;
}
@media screen and (max-width: 1024px) {
    .b-load {
        margin-top: 51px;
    }
    .b-load__info {
        margin-top: 26px;
    }
    .b-load__link-on-app {
        flex-direction: column;
        align-items: center;
    }
    .b-load__link-on-app__i {
        padding: 10px 0 10px;
    }
    .b-load__info:after {
        left: -129px;
    }
    .b-load__info:before {
        right: -129px;
    }
}
.footer {
    height: 47px;
    margin-top: 121px;
    background: #193862;
}
@media screen and (max-width: 1024px) {
    .footer {
        margin-top: 41px;
    }
}