.btn-all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 38px;
    border: 1px solid #1B315A;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 38px;
    margin-left: 24px;
    text-decoration: none;
}
.icon-route {
    padding-left: 13px;
    background: url("img/route-new.svg") left center no-repeat;
}
.icon-flytime {
    /* margin-left: 10px; */
    padding-left: 16px;
    background: url("img/time.svg") left center no-repeat;
}
.icon-from {
    padding-left: 24px;
    background: url("img/iconfrom.svg") left center no-repeat;
}
.icon-to {
    padding-right: 25px;
    background: url("img/iconto.svg") right center no-repeat;
}
.icon-centerroute {
    display: inline-block;
    width: 11px;
    height: 100%;
    background: url("img/routecen.svg") center center no-repeat;
}
.form-it {
    height: 45px;
    padding: 0 15px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}
.form-it-block {
    display: inline-flex;
    align-items: center;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.form-it:first-child {
    margin-right: 10px;
}
.form-it:last-child {
    margin-left: 10px;
}
.next-step {
    margin-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}
.next-step__w {
    display: inline-flex;
    align-items: center;
    padding: 15px 50px 15px 15px;
    background: #EDF9FF;
    border-radius: 5px;
    font-size: 24px;
    line-height: 28px;
    color: #1B315A;
}
.next-step__lk {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 45px;
    background: #1B315A;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}
.next-step__lk:hover {
    color: #fff;
}
.next-step__lk span {
    display: none;
}
.next-step__lk_active .lds-ellipsis {
    display: none;
}
.next-step__lk_active span {
    display: inline-block;
}
.next-step__tx {
    margin-left: 38px;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
.main-preloader {
    display: flex;
    height: 40px;
	justify-content: space-between;
	align-items: center;
	position: relative;
    margin: 70px auto 0;
    border-radius: 5px;
    background-color: #bdbdbd;
}
.main-preloader_close {
    display: none;
}
.main-preloader__i {
	width: 33px;
	height: 33px;
	position: relative;
	display: block;
	transform-origin: -50% center;
	border-radius: 15%;
}	
.main-preloader__i:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightblue;
	border-radius: 15%;
	box-shadow: 0px 0px 10px 0px rgba(#1C9FFF, 0.4);
}	
.main-preloader__i:nth-child(1) {
	animation: slide 1.5s ease-in-out infinite alternate;
}
.main-preloader__i:nth-child(1):after {
    animation: color-change 1.5s ease-in-out infinite alternate;
}
	
.main-preloader__i:nth-child(2) {
	animation: flip-2 1.5s ease-in-out infinite alternate;
}	
.main-preloader__i:nth-child(3) {
	animation: flip-3 1.5s ease-in-out infinite alternate;
}	
.main-preloader__i:nth-child(4) {
	animation: flip-4 1.5s ease-in-out infinite alternate;
}	
.main-preloader__i:nth-child(5) {
	animation: flip-5 1.5s ease-in-out infinite alternate;
}
.main-preloader__i:nth-child(2):after {
    animation: squidge-2 1.5s ease-in-out infinite alternate;
}
.main-preloader__i:nth-child(3):after {
    animation: squidge-3 1.5s ease-in-out infinite alternate;
}
.main-preloader__i:nth-child(4):after {
    animation: squidge-4 1.5s ease-in-out infinite alternate;
}
.main-preloader__i:nth-child(5):after {
    animation: squidge-5 1.5s ease-in-out infinite alternate;
}
	
.main-preloader__i:nth-child(2):after{ background-color: #1C9FFF; }
.main-preloader__i:nth-child(3):after{ background-color: #1FB1FD; }	
.main-preloader__i:nth-child(4):after{ background-color: #22C7FB; }
.main-preloader__i:nth-child(5):after{ background-color: #23D3FB; }

@keyframes slide
{
	0% { background-color: #1795FF; transform: translatex(0vw); }
	100% { background-color: #23D3FB; transform: translatex(calc(250px - (33px * 1.25))); }
}
@keyframes color-change
{
	0% { background-color: #1795FF; }
	100% { background-color: #23D3FB; }
}
@keyframes flip-1 {
    0%, 15% { transform: rotate(0); }  
    35%, 100% { transform: rotate(-180deg); }
}
@keyframes flip-2 {
    0%, 30% { transform: rotate(0); }  
    50%, 100% { transform: rotate(-180deg); }
}
@keyframes flip-3 {
    0%, 45% { transform: rotate(0); }  
    65%, 100% { transform: rotate(-180deg); }
}
@keyframes flip-4 {
    0%, 60% { transform: rotate(0); }  
    80%, 100% { transform: rotate(-180deg); }
}
@keyframes flip-5 {
    0%, 75% { transform: rotate(0); }  
    95%, 100% { transform: rotate(-180deg); }
}
@keyframes squidge-1 {
	5% { transform-origin: center bottom; transform: scalex(1) scaley(1);}
	15% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7);}
	25%, 20% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4);}
	55%, 100% { transform-origin: center top; transform: scalex(1) scaley(1);}
	40% { transform-origin: center top; transform: scalex(1.3) scaley(0.7);}
}
@keyframes squidge-2 {
	20% { transform-origin: center bottom; transform: scalex(1) scaley(1);}
	30% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7);}
	40%, 35% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4);}
	70%, 100% { transform-origin: center top; transform: scalex(1) scaley(1);}
	55% { transform-origin: center top; transform: scalex(1.3) scaley(0.7);}
}
@keyframes squidge-3 {
	35% { transform-origin: center bottom; transform: scalex(1) scaley(1);}
	45% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7);}
	55%, 50% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4);}
	85%, 100% { transform-origin: center top; transform: scalex(1) scaley(1);}
	70% { transform-origin: center top; transform: scalex(1.3) scaley(0.7);}
}
@keyframes squidge-4 {
	50% { transform-origin: center bottom; transform: scalex(1) scaley(1);}
	60% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7);}
	70%, 65% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4);}
	100%, 100% { transform-origin: center top; transform: scalex(1) scaley(1);}
	85% { transform-origin: center top; transform: scalex(1.3) scaley(0.7);}
}
@keyframes squidge-5 {
	65% { transform-origin: center bottom; transform: scalex(1) scaley(1);}
	75% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7);}
	85%, 80% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4);}
	115%, 100% { transform-origin: center top; transform: scalex(1) scaley(1);}
	100% { transform-origin: center top; transform: scalex(1.3) scaley(0.7);}
}
.main-preloader {
    position: relative;
	width: 100%;
	height: 40px;
	border-radius: 5px;
    color: #000;
    background-color: #F2F2F2;
}
.main-preloader:before,
.main-preloader:after {
	content: '';
	top: .2em;
	left: .2em;
	right: .2em;
	bottom: .2em;
    border-radius: 5px;
	display: block;
	position: absolute;
	overflow: hidden;
}
.main-preloader:after {
	/* right: 100%; */
    right: 2%;
	animation:  loaderBarInfinite 20s linear,
	            loaderBarScroll 20s linear;
	box-shadow: inset 0 .5em .5em rgba(25, 166, 207, .25),
	            inset 0 -.5em .5em rgba(8, 30, 63, .5);
	background-image: repeating-linear-gradient(45deg, #1B315A 0px, #1B315A 4px, #1B315A 5px, #1B315A 9px);
    background-size: 26px 13px;
    /* background-position: -104px 0; */
}
@keyframes loaderBarInfinite {
	0% {
		background-position: 104px 0;
	}
    100% {
        background-position: -104px 0;
    }
}
@keyframes loaderBarScroll {
    0% {
        right: 100%;
    }
	20% {
		right: 30%;
	}
	100% {
		right: 2%;
	}
}
/**
 * Выдача
 **********************************************************************************************************************/
/* Calendar */
.calendar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.calendar__arrow-left {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin-top: 10px;
    background: url("img/arleft.svg") center center no-repeat;
}
.calendar__arrow-right {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin-top: 10px;
    background: url("img/arright.svg") center center no-repeat;
}
.calendar__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 149px;
    min-width: 149px;
    max-width: 149px;
    height: 106px;
    border: 1px solid #1B315A;
    border-radius: 5px;
    padding-left: 24px;
    padding-right: 21px;
}
.calendar__city {
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #1B315A;
    text-align: center;
}
.calendar__city_top {
    border-bottom: 1px dashed #1B315A;
    padding-bottom: 5px;
}
.calendar__city_bottom {
    border-top: 1px dashed #1B315A;
    padding-top: 4px;
}
.calendar__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
}
.calendar__right {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calendar__days {
    display: flex;
    justify-content: space-between;
}
.calendar__prev-days {
    margin-left: 19px;
    margin-right: 10px;
}
.calendar__next-days {
    margin-left: 10px;
    margin-right: 19px;
}
.calendar__day {
    flex: 0 0 32%;
    padding-top: 1px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    text-decoration: none;
}
.calendar__date-form {
    display: flex;
    justify-content: center;
}
.calendar__date-form__day {
    margin-right: 6px;
    font-weight: 300;
    font-size: 26px;
    line-height: normal;
    color: #828282;
}
.calendar__date-form__month {
    position: relative;
    top: 3px;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #828282;
}
.calendar__date-form__dayofweek {
    font-size: 12px;
    line-height: normal;
    color: #828282;
}
.calendar__center .calendar__date-form {
    padding-top: 1px;
    padding-bottom: 1px;
}
.calendar__center .calendar__date-form__day {
    font-size: 32px;
    color: #1B315A;
}
.calendar__center .calendar__date-form__month {
    color: #1B315A;
    line-height: 15px;
}
.calendar__center .calendar__date-form__dayofweek {
    font-weight: normal;
    font-size: 16px;
    color: #1B315A;
}
/* Фильтр по тарифам */
.list-var {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.list-var__i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: 15px;
    color: #1B315A;
    font-size: 14px;
    padding: 0 30px;
    border: 1px solid #BDBDBD;
    border-radius: 15px;
    cursor: pointer;
}
.list-var__i_active {
    background-color: #1B315A;
    border-color: #1B315A;
    color: #fff;
}
/* Фильтр по параметрам */
.list-var-r {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
.list-var-r__i {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 30px;
    margin-right: 15px;
    font-size: 14px;
    color: #1B315A;
    padding: 0 15px;
    width: 164px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    cursor: pointer;
}
.list-var-r__i::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    width: 10px;
    height: 5px;
    margin-top: -2px;
    background: url("img/ardown.svg") center bottom no-repeat;
}
/* Список рейсов */
.vydacha-items {
    padding-bottom: 100px;
    margin-top: 21px;
}
.vydacha-items__i {
    position: relative;
    margin-top: 19px;
    padding: 19px 19px 19px 0;
    border: 1px dashed #1B315A;
    border-radius: 5px;
}
.vydacha-items__i__open {
    position: absolute;
    bottom: 0px;
    left: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    transform: translateY(50%);
    background: #1B315A;
    border-radius: 3px;
    cursor: pointer;
}
.vydacha-items__i__open::after {
    content: "\003E";
    position: relative;
    left: 2px;
    transform: rotate(90deg) scale(1, 2);
    color: #fff;
    font-size: 17px;
    line-height: normal;
    transition: none;
}
.vydacha-items__i_active .vydacha-items__i__open {
    background-color: #00A8EC;
}
.vydacha-items__i_active .vydacha-items__i__open::after {
    left: 0;
    transform: rotate(-90deg) scale(1, 2);
}
.vydacha-items__i__row {
    display: flex;
}
.vydacha-items__i__cell-left {
    width: 404px;
    padding-left: 18px;
}
.vydacha-items__i__cell-right {
    flex: 1 0 auto;
    margin-left: 20px;
}
.vydacha-items__i__info {
    padding: 1px 19px 1px 18px;
}
.vydacha-items__i__info-flight {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.vydacha-items__i__info-flight::before,
.vydacha-items__i__info-flight::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #00A8EC;
}
.vydacha-items__i__info-flight::before {
    left: -1px;
    border-radius: 0px 5px 5px 0px;
}
.vydacha-items__i__info-flight::after {
    right: 0px;
    border-radius: 5px 0px 0px 5px;
}
.vydacha-items__i__info-flight {
    position: relative;
}
.vydacha-items__i__info__plane {
    display: flex;
    flex-direction: column;
    width: 90px;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__info__plane img {
    max-width: 100%;
    margin-bottom: 3px;
}
.vydacha-items__i__tarifs {
    display: flex;
    justify-content: space-between;
}
.vydacha-items__i__tarifs__i {
    position: relative;
    flex: 0 0 31.55%;
    padding: 14px 0 0 40px;
    border: 1px solid #1B315A;
    border-radius: 5px;
    color: #1B315A;
    cursor: pointer;
    transition: none;
}
.vydacha-items__i__tarifs__i__t {
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
}
.vydacha-items__i__tarifs__i__price {
    font-weight: normal;
    font-size: 24px;
    transition: none;
}
.vydacha-items__i__tarifs__i__radio {
    display: none;
}
.vydacha-items__i__tarifs__i__label {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid #1B315A;
    border-radius: 100%;
    cursor: pointer;
    transition: none;
}
.vydacha-items__i__tarifs__i__radio:checked + .vydacha-items__i__tarifs__i__label {
    border: 3px solid #fff;
}
.vydacha-items__i__tarifs__i_disabled {
    background-color: #F2F2F2;
    border: none;
    color: #BDBDBD;
    font-size: 24px;
    line-height: normal;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    padding-bottom: 10px;
    cursor: default;
}
.vydacha-items__i__tarifs__i_selected {
    color: #fff;
    background-color: #1B315A;
}
.vydacha-items__i__info__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    padding-top: 7px;
    margin-left: 15px;
    color: #1B315A;
}
.vydacha-items__i__info__time__top {
    display: flex;
    justify-content: space-between;
}
.vydacha-items__i__info__time__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vydacha-items__i__info__time__bottom {
    display: flex;
    justify-content: space-between;
}
.vydacha-items__i__info__time__t {
    min-width: 70px;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;
}
.vydacha-items__i__info__time__direct {
    margin-top: -4px;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
}
.vydacha-items__i__info__time__path {
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
}
.vydacha-items__i__info__time__code {
    min-width: 70px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.vydacha-items__i__info__time__line {
    flex: 1 0 auto;
    height: 1px;
    border-top: 1px dashed #1B315A;
}
.vydacha-items__i__info__time__img-plane {
    width: 18px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    background: url("img/planeflight.svg") no-repeat;
}
.vydacha-items__i__about-flight__left {
    padding-right: 19px;
}
.vydacha-items__i__info-plane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1px;
}
.vydacha-items__i__info-plane__transfer-company {
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    margin-right: 19px;
}
.vydacha-items__i__info-plane__transfer-company img {
    width: 100%;
}
.vydacha-items__i__info-plane__img-plane {
    width: 219px;
    min-width: 219px;
    margin-left: 19px;
}
.vydacha-items__i__info-plane__img-plane a {
    display: inline-block;
    padding: 2px;
    border: 1px solid #1B315A;
    border-radius: 4px;
}
.vydacha-items__i__info-plane__img-plane img {
    width: 100%;
    border-radius: 3px;
}
.vydacha-items__i__info-plane__data {
    flex: 1 0 auto;
}
.vydacha-items__i__info-plane__data__type,
.vydacha-items__i__info-plane__data__plane {
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    color: #00A8EC;
}
.vydacha-items__i__info-plane__data__path {
    display: inline-block;
    margin-top: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__info-plane__data__izm {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__info-fly {
    margin-top: 18px;
}
.vydacha-items__i__info-fly__top {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 2px;
}
.vydacha-items__i__info-fly__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #1B315A;
    border-bottom: 1px solid #BDBDBD;
}
.vydacha-items__i__bottom {
    display: none;
    flex-direction: column;
}
.vydacha-items__i_active .vydacha-items__i__bottom {
    display: flex;
}
.vydacha-items__i__about-plane {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dashed #E0E0E0;
}
.vydacha-items__i__about-plane__gallery {
    float: left;
    position: relative;
    width: 169px;
    margin-right: 10px;
    margin-bottom: 10px;
    /* overflow: hidden; */
}
.vydacha-items__i__about-plane__gallery a {
    position: relative;
    text-align: center;
}
.vydacha-items__i__about-plane__gallery a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
}
.vydacha-items__i__about-plane__gallery a:hover::after {
    background: rgba(0,0,0,.5) url("img/loop.svg") center center no-repeat;
    background-size: 30%;
}
.vydacha-items__i__about-plane__gallery img {
    border-radius: 5px;
    margin: 0 auto;
}
.vydacha-items__i__about-plane__gallery .slick-arrow {
    top: 0;
    bottom: 0;
    width: 30px;
    height: auto;
    transform: translate(0);
    z-index: 3;
}
.vydacha-items__i__about-plane__gallery .slick-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 15px;
    width: 15px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: translate(0, -50%) rotate(45deg);
}
.vydacha-items__i__about-plane__gallery .slick-prev {
    left: 0px;
}
.vydacha-items__i__about-plane__gallery .slick-prev:before {
    left: 15px;
}
.vydacha-items__i__about-plane__gallery .slick-next {
    right: 0px;
}
.vydacha-items__i__about-plane__gallery .slick-next::before {
    right: 15px;
    transform: translate(0, -50%) rotate(-135deg);
}
.configuration-item {
    display: none;
}
.configuration-item_active {
    display: block;
}
.vydacha-items__i__about-plane__t {
    font-weight: 300;
    font-size: 24px;
    color: #1B315A;
}
.vydacha-items__i__about-plane__change {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    color: #00A8EC;
}
.vydacha-items__i__about-plane__available {
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__about-plane__available span {
    color: #00A8EC;
}
.vydacha-items__i__about-plane__img {
    float: left;
    margin-right: 20px;
}
.vydacha-items__i__about-plane__tx {
    display: none;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__about-plane__tx_active {
    display: block;
}
.vydacha-items__i__about-plane__tx p + p {
    margin-top: 14px;
}
.vydacha-items__i__about-plane__salon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vydacha-items__i__about-plane__salon__img {
    position: relative;
}
.vydacha-items__i__about-plane__salon__img__area {
    position: absolute;
    border: 1px solid #00a8ec;
    cursor: pointer;
}
.vydacha-items__i__about-plane__salon__img__area_selected {
    border-color: #1B315A;
    cursor: default;
}
.vydacha-items__i__about-plane__salon__img__area:hover {
    border-color: #1B315A;
}
.vydacha-items__i__about-plane__salon__img__loader {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #1B315A;
    background-color: rgba(0,0,0,.4);
}
.vydacha-items__i__about-plane__salon__img__loader_active {
    display: flex;
}
.vydacha-items__i__about-plane__salon__place {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: none;
}
.vydacha-items__i__about-plane__salon__place__price {
    display: none;
    position: absolute;
    top: -20px;
    left: -29px;
    width: 90px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: #1B315A;
    color: #fff;
    border-radius: 2px;
    padding: 3px 0;
    z-index: 2;
}
.vydacha-items__i__about-plane__salon__place[data-number*="B"] .vydacha-items__i__about-plane__salon__place__price {
    /* top: initial;
    bottom: -23px; */
}
.vydacha-items__i__about-plane__salon__place__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vydacha-items__i__about-plane__salon__place__hover:hover + .vydacha-items__i__about-plane__salon__place__price {
    display: block;
}
.vydacha-items__i__about-plane__salon__place_left.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-left.svg');
}
.vydacha-items__i__about-plane__salon__place_left.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-left.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_left.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_left.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_left.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-left.svg');
}
.vydacha-items__i__about-plane__salon__place_right.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-right.svg');
}
.vydacha-items__i__about-plane__salon__place_right.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-right.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_right.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_right.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_right.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-right.svg');
}
.vydacha-items__i__about-plane__salon__place_bottomleft.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-bottomleft.svg');
}
.vydacha-items__i__about-plane__salon__place_bottomleft.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-bottomleft.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_bottomleft.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_bottomleft.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_bottomleft.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-bottomleft.svg');
}
.vydacha-items__i__about-plane__salon__place_bottomcenter.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-bottomcenter.svg');
}
.vydacha-items__i__about-plane__salon__place_bottomcenter.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-bottomcenter.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_bottomcenter.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_bottomcenter.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_bottomcenter.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-bottomcenter.svg');
}
.vydacha-items__i__about-plane__salon__place_bottomright.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-bottomright.svg');
}
.vydacha-items__i__about-plane__salon__place_bottomright.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-bottomright.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_bottomright.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_bottomright.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_bottomright.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-bottomright.svg');
}
.vydacha-items__i__about-plane__salon__place_top.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-top.svg');
}
.vydacha-items__i__about-plane__salon__place_top.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-top.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_top.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_top.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_top.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-top.svg');
}
.vydacha-items__i__about-plane__salon__place_topleft.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-topleft.svg');
}
.vydacha-items__i__about-plane__salon__place_topleft.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-topleft.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_topleft.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_topleft.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_topleft.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-topleft.svg');
}
.vydacha-items__i__about-plane__salon__place_topcenter.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-topcenter.svg');
}
.vydacha-items__i__about-plane__salon__place_topcenter.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-topcenter.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_topcenter.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_topcenter.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_topcenter.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-topcenter.svg');
}
.vydacha-items__i__about-plane__salon__place_topright.vydacha-items__i__about-plane__salon__place_available {
    background-image: url('img/place-avail-topright.svg');
}
.vydacha-items__i__about-plane__salon__place_topright.vydacha-items__i__about-plane__salon__place_noavailable {
    background-image: url('img/place-noavail-topright.svg');
    cursor: default;
}
.vydacha-items__i__about-plane__salon__place_topright.vydacha-items__i__about-plane__salon__place_available:hover,
.vydacha-items__i__about-plane__salon__place_topright.vydacha-items__i__about-plane__salon__place_selected,
.vydacha-items__i__about-plane__salon__place_topright.vydacha-items__i__about-plane__salon__place_hover {
    background-image: url('img/place-selected-topright.svg');
}
.vydacha-items__i__about-plane__ch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 134px;
    padding: 0 20px;
    margin-left: 45px;
    border: 1px solid #1B315A;
    border-radius: 100%;
    text-align: center;
}
.vydacha-items__i__about-plane__salon__tx {
    margin-top: 7px;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__about-plane__salon__count {
    margin-top: 4px;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    color: #1B315A;
}
.vydacha-items__i__about-flight {
    padding-top: 20px
}
.vydacha-items__i__tarifs-list {
    display: flex;
    justify-content: space-between;
}
.vydacha-items__i__tarifs-list__i {
    flex: 0 0 31.55%;
    padding-left: 15px;
    border-left: 1px dashed #E0E0E0;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
}
.list-services {
    display: flex;
    align-items: center;
}
.list-services + .list-services {
    margin-top: 7px;
}
.list-services::before {
    content: "";
    position: relative;
    top: -1;
    display: inline-block;
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    margin-right: 10px;
    background: url("img/ok.svg") no-repeat;
}
.list-services_pay::before {
    background-image: url("img/pay.svg");
}
.vydacha-items__i_dis {
    display: none;
}
/* Выбранный рейс */
.data-select-pl {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 19px 0 14px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 -7px 20px rgba(0,0,0,.1);
}
.data-select-pl__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-select-pl_active {
    display: block;
}
.data-select-pl__t {
    margin-right: 24px;
    font-size: 24px;
    line-height: 28px;
    color: #1B315A;
}
.data-select-pl__plane {
    margin-right: 20px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #1B315A;
}
.data-select-pl__plane__img {
    margin-bottom: 5px;
}
.data-select-pl__tarif {
    margin-right: 42px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1B315A;
}
.data-select-pl__info {
    margin-right: 17px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    opacity: 0.9;
    flex: 1 0 auto;
}
.data-select-pl__info__t {
    margin-right: 13px;
    text-transform: uppercase;
    color: #1B315A;
}
.data-select-pl__price {
    display: flex;
    margin-right: 40px;
    align-items: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #1B315A;
}
.data-select-pl__price__t {
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    opacity: 0.9;
}
.data-select-pl__price__amount {
    margin-right: 5px;
}
.data-select-pl__btns {
    position: relative;
}
.data-select-pl__btns__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 45px;
    color: #fff;
    background: #00A8EC;
    border: 1px solid #00A8EC;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}
.data-select-pl__btns__next:hover {
    color: #fff;
}
.data-select-pl__btns__next .lds-ellipsis {
    display: none;
}
.data-select-pl__btns__next .lds-ellipsis_active {
    display: block;
}



/**
 * Ввод данных
 **********************************************************************************************************************/
.data-sender {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 3fr;
    -ms-grid-columns: 1fr 10fr;
    margin-top: 20px;
}
.data-sender__ticket {
    margin-right: 20px;
    border: 1px solid #1B315A;
    border-radius: 5px;
}
.data-sender__ticket__info {
    padding: 15px 15px 16px 15px;
    background-color: #1B315A;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.data-sender__ticket__info__order__tx {
    font-size: 22px;
    line-height: 26px;
}
.data-sender__ticket__info__code {
    margin-top: 7px;
}
.data-sender__ticket__info__code__tx {
    margin-top: 2px;
    font-size: 22px;
    line-height: 26px;
}
.data-sender__ticket__info__code__tx span {
    border-bottom: 1px dashed #FFFFFF;
}
.data-sender__ticket__price {
    padding: 11px 15px 5px;
    color: #1B315A;
    font-weight: normal;
    font-size: 14px;
}
.data-sender__ticket__price__tx {
    font-size: 35px;
    line-height: 41px;
}
.data-sender__flight {
    position: relative;
    padding: 15px 15px 13px 45px;
    border: 1px dashed #1B315A;
    border-radius: 5px;
}
.data-sender__flight::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 30px;
    height: 125px;
    background: #00A8EC url("/results/img/plane.png") center 77px no-repeat;
    border-radius: 5px 0px 10px 0px;
    z-index: -1;
}
.data-sender__flight__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;
    border-bottom: 1px dashed #BDBDBD;
    color: #1B315A;
}
.data-sender__flight__info__t {
    font-weight: normal;
    font-size: 24px;
    line-height: 99.19%;
}
.data-sender__flight__info__timeofflight {
    margin-top: 6px;
    font-size: 12px;
    line-height: 99.19%;
}
.data-sender__flight__info__time {
    margin-top: 19px;
    font-size: 14px;
    line-height: 99.19%;
}
.data-sender__flight__info__time__clock {
    padding-left: 20px;
    background: url("/results/img/clock.png") left center no-repeat;
}
.data-sender__flight__info__time__day {
    margin-top: 5px;
    padding-left: 20px;
    background: url("/results/img/calendar.png") left center no-repeat;
}
.data-sender__flight__bottom {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data-sender__flight__tarif {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #1B315A;
}
.data-sender__flight__tarif span {
    display: block;
    font-size: 24px;
    line-height: 28px;
}
.data-sender__flight__plane {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #1B315A;
}
.data-sender__flight__plane__params {
    margin-right: 3px;
}
.data-buyer {
    padding: 15px;
    margin-top: 20px;
    border: 1px dashed #1B315A;
    border-radius: 5px;
    color: #1B315A;
}
.data-buyer__t {
    font-size: 24px;
    line-height: 28px;
}
.data-buyer__tx {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
}
.data-buyer__form,
.b-data__form {
    margin-top: 15px;
}
.data-buyer__form__row,
.b-data__form__row {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
}
.data-buyer__form__row + .data-buyer__form__row,
.b-data__form__row + .b-data__form__row {
    margin-top: 15px;
}
.b-data__form__row {
    display: flex;
}
.data-passenger,
.b-data {
    padding: 15px;
    margin-top: 20px;
    border: 1px dashed #1B315A;
    border-radius: 5px;
    color: #1B315A;
}
.data-passenger__t,
.b-data__t {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}
.data-passenger__row,
.b-data__row {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 2fr;
    -ms-grid-columns: 2fr 2fr 2fr 1fr 1fr 2fr;
}
.data-passenger__row + .data-passenger__row,
.b-data__row + .b-data__row {
    margin-top: 20px;
}
.data-passenger__for {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
}
.data-passenger .form-it {
    margin: 0;
    border-radius: 0;
    border-right: none;
}
.data-passenger .form-it:first-child {
    border-radius: 5px 0 0 5px;
}
.data-passenger .form-it:last-child {
    border-right: 1px solid #BDBDBD;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.data-passenger__for .form-it:last-child {
    border-left: 1px solid #BDBDBD;
}
.data-passenger input[type="radio"] {
    display: none;
}
.data-passenger input[type="radio"] + label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    cursor: pointer;
}
.data-passenger #sex2 + label {
    border-left: none;
}
.data-passenger input[type="radio"]:checked + label {
    background: #1B315A;
    color: #fff;
    border-color: #1B315A;
}

.data-passenger__add {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1B315A;
    opacity: 0.9;
    cursor: pointer;
    margin-top: 20px;
}
.data-passenger__add::before {
    content: "+";
    display: inline-flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border: 1px solid #1B315A;
    border-radius: 5px;
    color: #1B315A;
    font-size: 30px;
    margin-right: 16px;
    font-weight: 300;
}
.data-passenger__tm {
    margin-top: 20px;
}
.type-of-pay {
    display: none;
}
.type-of-pay + label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px 30px 80px;
    border: 3px solid #BDBDBD;
    cursor: pointer;
    width: 23%;
    margin-right: 2%;
    font-size: 22px;
    font-weight: bold;
}
.type-of-pay + label span {
    font-weight: 300;
    font-size: 12px;
}
.type-of-pay:checked + label {
    border-color: #1a325a;
}
.type-of-pay:disabled + label {
    cursor: default;
    color: #BDBDBD;
}
label[for="pay-card"] {
    background: url("img/cards.jpg") 15px center no-repeat;
    background-size: 50px;
}



/**
 * Оплата
 **********************************************************************************************************************/
.payment-info {
    margin-left: 61px;
    flex: 1 0 auto;
}
.payment-info__data {
    border: 1px dashed #1B315A;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px 15px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1B315A;
}
.payment-info__data span {
    display: block;
    font-size: 22px;
    line-height: 26px;
}
.payment-info__data span.price {
    font-size: 35px;
    line-height: 41px;
}
.payment-info__data__i {

}
.payment-info__data__i + .payment-info__data__i {
    padding-top: 19px;
    margin-top: 18px;
    border-top: 1px dashed #E0E0E0;
}
.payment-info__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin-top: 30px;
    background: #00A8EC;
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}