/**************************************************************** 
 * Begin Reset
 ****************************************************************/
 * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  vertical-align: baseline;
  box-sizing: border-box;
  /* transition: all .3s ease; */
}

html {
  line-height: 1;
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

input {
  vertical-align: middle;
}

input[type=submit],
input[type=button],
button {
  cursor: pointer;
}

textarea {
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  vertical-align: bottom;
}

/* End Reset
 ****************************************************************/
/****************************************************************
 * Begin Base - First layer
 ****************************************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: #6c6b6b;
  font: 300 19px/26px "Roboto", Arial, sans-serif;
  overflow-y: scroll;
}
a {
  color: #333;
  text-decoration: underline;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:hover {
  color: #00a8ec;
  text-decoration: none;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
/* Wrapper */
.main-w {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-part {
  flex: 1 0 auto;
}
/* End Base - First layer
 ****************************************************************/
/****************************************************************
 * Begin Project - Second layer
 ****************************************************************/
/* Menu
 *********************************/
.b-menu {
  position: relative;
  text-align: center;
}
.b-menu li {
  position: relative;
  display: inline-block;
}
.b-menu li + li {
  margin-left: 0px;
}
.b-menu li a {
  position: relative;
  color: #7b7b7b;
  font-size: 0.95em;
  text-decoration: none;
}
.b-menu li a:hover {
  color: #00a8ec;
}
.b-menu li a span {
  position: relative;
}
.b-menu li a span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #888888;
  transition: all linear 0.25s;
}
.b-menu li a:hover span:before {
  width: 100%;
  background: #00a8ec;
}
/* Partners
 *********************************/
.b-partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-partners > a {
  margin: 0 5px;
}
.b-partners a {
  max-width: 50%;
  margin: 0 5px;
  text-align: center;
}
.b-partners a img {
  vertical-align: top;
  margin-bottom: 10px;
  max-width: 100%;
}

/* Footer
 *********************************/
.footer {
  padding: 0 0 30px;
  background-color: #1a325a;
  color: #fff;
}
.footer__in {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  max-width: 1544px;
  margin: 60px auto 0;
  padding: 0 15px;
}
.footer .b-menu {
  padding-top: 30px;
}
.footer .b-menu li a {
  padding-left: 21px;
  padding-right: 21px;
  color: #fff;
}
.footer .b-menu li a:hover {
  color: #00a8ec;
}
.footer .b-menu > li[data-count]:after {
  top: -29px;
  right: 51px;
}
.copyrights {
  margin-top: 20px;
  font-size: 0.7em;
}
.footer-col {
  text-align: right;
}
.link-sitemap {
  color: #fff;
  font-size: 0.8em;
}
.b-info-order {
  display: inline-block;
  padding-right: 65px;
  text-align: left;
  background: url(../img/footer24.png) right center no-repeat;
}
.b-info-order a {
  text-decoration: none;
}
.b-info-order span {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .footer .b-menu li a {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer .b-menu > li[data-count]:after {
    right: 16px;
  }
}
/* End Project - Second layer
 ****************************************************************/